#include <windows.h>

#define ID_ICO_APPLICATION	1

#define ID_ICO_PIZZA		2
#define ID_ICO_TOGO		3
#define ID_ICO_FORHERE		4
#define ID_ICO_THICK		5
#define ID_ICO_THIN		6

#define ID_MAIN_MENU		1

#define ID_DIALOG_PIZZA 	1

#define CMD_ORDER		101
#define CMD_EXIT		1000

#define ID_SIZE 		109
#define ID_LISTBOX_ITEMS	110
#define ID_RAD_THIN		111
#define ID_RAD_THICK		112
#define ID_RAD_STUFF		113
#define ID_RAD_FOR_HERE 	101
#define ID_RAD_TO_GO		102
#define ID_STATIC_PRICE 	103
#define ID_CHECKBOX_GARLIC	105
#define ID_CHECKBOX_OREGANO	104

ID_ICO_PIZZA ICON "pizza.ico"
ID_ICO_THIN ICON "thin.ico"
ID_ICO_THICK ICON "thick.ico"
ID_ICO_APPLICATION ICON "pizza_demo.ico"
ID_ICO_FORHERE ICON "forhere.ico"
ID_ICO_TOGO ICON "togo.ico"

ID_DIALOG_PIZZA DIALOG 28, 23, 286, 155
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Pizza Hot"
FONT 8, "MS Sans Serif"
{
 ICON ID_ICO_PIZZA, -1, 7, 4, 16, 16
 LTEXT "Pizza Order", -1, 34, 8, 45, 8, WS_CHILD | WS_VISIBLE
 LTEXT "&Size ", -1, 7, 35, 31, 8, WS_CHILD | WS_VISIBLE
 COMBOBOX ID_SIZE, 7, 46, 49, 57, CBS_DROPDOWN | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 GROUPBOX "S&easoning", -1, 5, 106, 55, 42, BS_GROUPBOX | WS_GROUP
 CONTROL "&Oregano", ID_CHECKBOX_OREGANO, "BUTTON", BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 10, 118, 42, 12
 CONTROL "&Garlic", ID_CHECKBOX_GARLIC, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 133, 37, 12
 LTEXT "&Items", -1, 64, 28, 19, 8, WS_CHILD | WS_VISIBLE
 LISTBOX ID_LISTBOX_ITEMS, 66, 39, 71, 109, LBS_STANDARD | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 GROUPBOX "&S&tyle", -1, 143, 35, 80, 59, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP
 CONTROL "&Thin", ID_RAD_THIN, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 46, 32, 12
 CONTROL "T&hick", ID_RAD_THICK, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 61, 35, 12
 CONTROL "Stuffed &crust", ID_RAD_STUFF, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 150, 76, 61, 12
 ICON ID_ICO_THIN, -1, 199, 43, 16, 16
 ICON ID_ICO_THICK, -1, 199, 58, 16, 16
 GROUPBOX "&Delivery", -1, 143, 103, 80, 46, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP
 CONTROL "For he&re", ID_RAD_FOR_HERE, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 113, 42, 12
 CONTROL "To &go", ID_RAD_TO_GO, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 132, 38, 12
 ICON ID_ICO_FORHERE, -1, 197, 109, 16, 16
 ICON ID_ICO_TOGO, -1, 197, 128, 16, 16
 DEFPUSHBUTTON "OK", IDOK, 231, 49, 50, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", IDCANCEL, 231, 70, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 LTEXT "Total:", -1, 228, 138, 21, 8, WS_CHILD | WS_VISIBLE
 LTEXT "$0", ID_STATIC_PRICE, 254, 138, 30, 8, WS_CHILD | WS_VISIBLE
}

ID_MAIN_MENU MENU
{
	POPUP "&Pizza"
	{
		MENUITEM "&Order", CMD_ORDER
		MENUITEM SEPARATOR
		MENUITEM "E&xit", CMD_EXIT
	}
}
