/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 36px tall on small screen */
body {
	padding-top: 40px;
}
/* On large screen, we give it more space and the navbar is 30px tall. */
@media (min-width: 768px) {
	body {
		padding-top: 45px;
	}
}


/*
 * Global add-ons
 */

h1 {
	margin-top: initial;
	margin-bottom: 5px;
}

h2.sub-header{
	margin-top: 1px;
	margin-bottom: 1px;
	border-bottom: 1px solid #eee;
}


.container .jumbotron {
	padding: 10px;
	text-align: center;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1000;
		display: block;
		padding: 70px 20px 20px;
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-left: -20px;
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
}
.nav-sidebar > li > a {
	padding-left: 20px;
	padding-right: 20px;
}
.nav-sidebar > .active > a {
	color: #fff;
	background-color: #428bca;
}


/*
 * Main content
 */

.main {
	padding: 3px;
}
@media (min-width: 768px) {
	.main {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.main .page-header {
	margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	border-radius: 50%;
}

.navbar-default {
	background-color:#194573;
	border-color: #400040;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #400040;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #400040;
}
.navbar-default .navbar-toggle {
	border-color: #400040;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #400040;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #400040;
	}
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:30px !important}

.navbar-brand {
	float: left;
	padding: 15px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	font-size: 18px;
	line-height: 18px;
	height: 30px;
}


/* Tooltips */
.blue-tooltip + .tooltip > .tooltip-inner {background-color: #FF;}
.blue-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#FF; }


.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-color: #000000;
	border-width: 5px 5px 0;
}
.tooltip-inner {
	text-align: left;
	color: #000;
	background: #fff;
	border: solid 1px #000000;
	max-width: 450px
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-bottom-color: #000000;
	border-width: 0 5px 5px;
}

/* pre */
pre {
	word-wrap: code;
	white-space: pre-wrap;
	background-color:white;
}


/* Container -Fluid */
.container-fluid {
	padding: 0 2px;
}
@media (min-width: 768px) {
	.container-fluid {
		padding: 0 5px;
	}
}

.container-fluid .row {
	margin: 0px;
}

.row-padding {
	margin-top: 25px;
	margin-bottom: 25px;
}

/* Width for the text field to enter a bug report number in the reports page.
 * We put a maximum width to override the width value coming from `form-control'. */
.form-bug-number-entry {
	max-width: 100px;
}

/* Default width for the entries in a table like layout. */
.form-inline .form-control {
	width: 95%;
}

.form-inline .checkbox {
	font-weight: initial;
	vertical-align: top;
}

/* Note that there is also a class called label. */
label {
	padding-right: 5px;
}

.label {
	padding: 0px;
	padding-right: 5px;
}

.label-primary-api-default {
	display: inline-block;
	width: 105px;
	text-align: left;
	background: #fff;
	color: #000;
	font-size: 100%;
	text-align: right;
}


.label-primary-api-interactions {
	display: inline-block;
	padding-right: 5px;
	text-align: left;
	color: #000;
	font-size: 100%;
}


pre {
	padding: 1.5px;
	display: block;
	margin: 0 0 10px;
	font-size: 12px;
	font-family: monospace;
	line-height: 1.428571429;
	word-break: break-word;
	word-wrap: break-word;
	color: #333;
	border: 0px; 
	border-radius: 4px;
}


/* No padding, so that nested columns are always properly aligned. */
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
	padding-left: 0px;
	padding-right: 0px;
}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td {
	padding:2px;
	vertical-align: middle;
}

.form-control{
	height:inherit;
	padding: 1px 2px;
	margin: 1px;
}

.btn {
	padding: 1px 12px;
	margin: 1px;
	min-width: 100px;
}

.dropdown-toggle, .login {
	cursor: pointer;
}

.pager {
	margin:10px 0;
}

.pager li>a,.pager li>span {
	padding:1px 12px;
	border-radius:8px;
}

.well {
	padding: 9px;
	margin-bottom: 10px;
	min-height: 44px;
}

.panel-heading {
	background-color: #ddeaf2 !important;
}

.private-panel-border {
	border: solid 1px #DBA458 !important;
}

.private-panel {
	background-color: #f2eadd !important;
}


#textarea_17 {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px white;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 100%;
    display: inline-block;
}

#textarea_7 {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px white;;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 100%;
    display: inline-block;
}