<html>
<head>
	<link rel="stylesheet" type="text/css" href="header.css">
</head>
<body>
	<table cellspacing="0" cellpadding="0" class="outer_table">
			<tr>
			  <td valign="top"><a href="http://www.eiffel.com" target="_top"><img src="header_mainarea.jpg"></a></td>		  
			</tr>
			<tr>
				<td>
					<table class="nav_bar" cellpadding="2">
						<tr>
							<td class="nav_bar_item" nowrap>
								&nbsp;
								<a href="http://www.eiffel.com" target="_top">Eiffel Software Home</a>
								&nbsp;|
							</td>
							<td class="nav_bar_item" nowrap>
								&nbsp;
								<a href="index.html" target="_top">Documentation Home</a>
								&nbsp;|
							</td>
							<td class="nav_bar_item" nowrap>
								&nbsp;
								<a href="libraries/index.html" target="content_frame">Libraries</a>
								&nbsp;|
							</td>
							<td class="nav_bar_item" nowrap>
								&nbsp;
								<a href="http://www.eiffel.com/downloads/index.html" target="_top">Downloads</a>
								&nbsp;
							</td>							
							<td width="100%" class="nav_bar_item">
								&nbsp;
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="header_filler" height="100%">&nbsp;</td>
			</tr>
	</table>
	</table>
</body>
</html>