<script type="text/javascript">
var tH = new Array();

tH[tH.length] = {f:"index.html", s:"0.html"};
[!TOCHash!]

for (var i = 0; i < tH.length; i++) {
    tH[tH[i].f] = tH[i];	    
}

function synchronize(aUrl)
//Synchronize the TOC with the 'aUrl' displayed
{	
	tocName = getCookie ("tocName");
	if (tocName == null)
	{
		tocName = top.content_frame.toc;
	}
	if (fileMatchesTocHash() || tocName == null)
	{
		var subToc = parent.filter_frame.location.href.substring (0, parent.filter_frame.location.href.lastIndexOf ("/") + 1);							
	}
	else
	{
		var subToc = '../../' + tocName + '/';		
	}
	subToc += "sub_tocs/";
		
	if (tH[aUrl] != null)
	{
		subToc += tH[aUrl].s;
		if (subToc != "")
		{				
			parent.toc_frame.location.href = subToc;
		}
	}
}

</script>

<!-- Includes -->
<script type="text/javascript" src="[!TOCScript!]"></script>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="[!TOCStyle!]">
	</head>
	<body onLoad="synchronize(top.content_frame.doc)">
		<form name="theForm" method="post" action="/cgi-bin/htdig/htsearch" target="content_frame">
			<table class="normal" cellpadding="5">
					<tr>
						<td class="heading_text" height="16"></td>							
					</tr>
					<tr>
						<td class="heading_text">														
							[!FilterHTML!]
						</td>							
					</tr>
					<tr>
						<td class="heading_text">
							[!FilterSearchHTML!]
						</td>
					</tr>
					<table border="0" width="100%">
						<tr>
								<td height="15" align="right"><a href="javascript:synchronize(parent.content_frame.doc);"><img src="sync_button.gif" alt="Synchronize Contents"></a></td>
						</tr>
					</table>
			</table>
		</form>
	</body>
</html>