<!-- Includes -->
<script type="text/javascript" src="[!TOCScript!]"></script>

<!-- Page Initialization -->
<script language="javascript">

function pageLoad()
//Page load function
{	
	selectFilterNode();
	loadCookie();
}

function selectFilterNode()
//Select appropriate filter node in combo box based on query string value
//passed from previous page
{

	//keep everything after the '?'
	query = document.location.toString()
	query = query.substring ((query.indexOf('?')) + 1);

	if (!query.length < 1)
	{
		keypairs = new Object();
		numKP = 1;

		while (query.indexOf('&') > -1)
		{
			keypairs[numKP] = query.substring(0,query.indexOf('&'));
			query = query.substring((query.indexOf('&')) + 1);
			numKP++;
		}

		keypairs[numKP] = query;
		// Store what's left in the query string as the final keypairs[] data.

		for (i in keypairs)
		{
			keyName = keypairs[i].substring(0,keypairs[i].indexOf('='));
			// Left of '=' is name.
			keyValue = keypairs[i].substring((keypairs[i].indexOf('=')) + 1);
			// Right of '=' is value.
		}
		if (keyName == "index")
		{
			keyValue = unescape(keyValue);
			top.filter_frame.document.theForm.filterMenu.options [keyValue].selected = true;
		}
	}
}

function loadCookie()
//Load into the content page the file found in cookie.  Used for redirecting back to the required page
//when a non-frames url is entered into the browser.  If there is no cookie just use the default.
{

	var cookieValue = getCookie ("redirecturl");
	if (cookieValue)
	{
		parent.content_frame.location.href = cookieValue;
	}

}

</script>

<!-- DOCUMENT FILTERING AND LOADING -->
<script language="JavaScript">

function documentLoaded (aUrl)
//A new document was loaded in the content frame, so filter it based on filter, and sync the toc.
{

	//Synchronize the TOC
	synchronize (aUrl);

	//Extract filter words from filter string
	var widget = top.filter_frame.document.theForm.filterMenu;
	var filterString =  widget [widget.selectedIndex].name;

	if (!filterString.length < 1)
	{
		filterStrings = new Object();
		cnt = 1;

		while (filterString.indexOf(',') > -1)
		{
			filterStrings [cnt] = filterString.substring(0, filterString.indexOf(','));
			filterString = filterString.substring((filterString.indexOf(',')) + 1);
			cnt++;
		}

		filterStrings [cnt] = filterString;
	}

	//Get filter string and document span tag elements
	var pageSpans = parent.content_frame.document.getElementsByTagName("span")

	for (i = 0; i < pageSpans.length; i++)
	{
		spanId = pageSpans[i].getAttribute('id');

		match = spanId == "";

		if (!match)
		{
			//Look for match in strings against span id
			for (j in filterStrings)
			{
				if (spanId == filterStrings [j])
				{
					match = true;
				}
			}
		}

		//Process match (or not)
		if (!match)
		{
			pageSpans[i].style.display = 'none'
		}
		else
		{
			pageSpans[i].style.display = ''
		}
	}
}

</script>

<html>
	<head>
		<META NAME="COPYRIGHT" CONTENT="&copy; 2004 Eiffel Software">
		<META NAME="DESCRIPTION" CONTENT="Auto-generated table of contents">
		<META NAME="ROBOTS" CONTENT="INDEX,NOFOLLOW">
		<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
		<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 01 Mar 2004 12:00:00 GMT">

		<link rel="stylesheet" type="text/css" href="[!TOCStyle!]">
	</head>
	<body onload="pageLoad()">
		<form name="theForm">
			<table class="toc_outer_table" border="0" cellpadding="0" cellspacing="0" height="100%">				
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td valign="top" height="100%">					
					<table border="0" cellpadding="0" cellspacing="0">
						[!TOCHTML!]
					</table>
				</tr>
			</table>
		</form>
	</body>
</html>