<!-- Includes -->
<script type="text/javascript" src="[!TOCScript!]"></script>

<!-- Page Initialization -->
<script language="javascript">

function pageLoad()
//Page load function
{
	clearPreLoadPage();
	selectFilterNode();
	setAll(false);
	loadCookie();
}

function clearPreLoadPage()
//Clear the 'please wait...' loading screen once loading has finished
{
	if (document.getElementById) //dom
		{
			document.getElementById('prepage').style.visibility='hidden';
		}
		else
		{
			if (document.layers) //ns4
			{
				document.prepage.visibility = 'hidden';
			}
			else if (document.all) //ie4
			{
				document.all.prepage.style.visibility = 'hidden';
			}
			else
			{
				document.prepage.style.visibility = 'hidden';
			}
	}
}

function selectFilterNode()
//Select appropriate filter node in combo box based on query string value
//passed from previous page
{

	//keep everything after the '?'
	query = document.location.toString()
	query = query.substring ((query.indexOf('?')) + 1);

	if (!query.length < 1)
	{
		keypairs = new Object();
		numKP = 1;

		while (query.indexOf('&') > -1)
		{
			keypairs[numKP] = query.substring(0,query.indexOf('&'));
			query = query.substring((query.indexOf('&')) + 1);
			numKP++;
		}

		keypairs[numKP] = query;
		// Store what's left in the query string as the final keypairs[] data.

		for (i in keypairs)
		{
			keyName = keypairs[i].substring(0,keypairs[i].indexOf('='));
			// Left of '=' is name.
			keyValue = keypairs[i].substring((keypairs[i].indexOf('=')) + 1);
			// Right of '=' is value.
		}
		if (keyName == "index")
		{
			keyValue = unescape(keyValue);
			top.filter_frame.document.theForm.filterMenu.options [keyValue].selected = true;
		}
	}
}

function loadCookie()
//Load into the content page the file found in cookie.  Used for redirecting back to the required page
//when a non-frames url is entered into the browser.  If there is no cookie just use the default.
{

	var cookieValue = getCookie ("redirecturl");
	if (cookieValue)
	{
		parent.content_frame.location.href = cookieValue;
	}

}

</script>

<!-- DOCUMENT FILTERING AND LOADING -->
<script language="JavaScript">

function documentLoaded (aUrl)
//A new document was loaded in the content frame, so filter it based on filter, and sync the toc.
{
	//Extract filter words from filter string
	var widget = top.filter_frame.document.theForm.filterMenu;
	var filterString =  widget [widget.selectedIndex].name;

	if (!filterString.length < 1)
	{
		filterStrings = new Object();
		cnt = 1;

		while (filterString.indexOf(',') > -1)
		{
			filterStrings [cnt] = filterString.substring(0, filterString.indexOf(','));
			filterString = filterString.substring((filterString.indexOf(',')) + 1);
			cnt++;
		}

		filterStrings [cnt] = filterString;
	}

	//Get filter string and document span tag elements
	var pageSpans = parent.content_frame.document.getElementsByTagName("span")

	for (i = 0; i < pageSpans.length; i++)
	{
		spanId = pageSpans[i].getAttribute('id');

		match = spanId == "";

		if (!match)
		{
			//Look for match in strings against span id
			for (j in filterStrings)
			{
				if (spanId == filterStrings [j])
				{
					match = true;
				}
			}
		}

		//Process match (or not)
		if (!match)
		{
			pageSpans[i].style.display = 'none'
		}
		else
		{
			pageSpans[i].style.display = ''
		}
	}
}

</script>

<html>
	<head>
		<META NAME="COPYRIGHT" CONTENT="&copy; 2005 Eiffel Software">
		<META NAME="DESCRIPTION" CONTENT="Auto-generated table of contents">
		<META NAME="ROBOTS" CONTENT="INDEX,NOFOLLOW">

		<link rel="stylesheet" type="text/css" href="[!TOCStyle!]">
	</head>
	<body onload="pageLoad()">
		<div id="prepage" style="position:absolute;z-index:1;top:5%;left:5%;">
			<table bgcolor="#000000" border=1 bordercolor="#000000"
			cellpadding=0 cellspacing=0 height=100 width=150>
			  <tr>
				<td width="150" height="100%" bgcolor="#cccccc" align="center" valign="middle">
				  <font face="helvetica,verdana,arial" size=2 color="#000066">
				  <b>contents loading,  please wait...</b></font> <br>
				  <img src="icon_page_loading.gif" border=1 width=75 height=15><br>
				</td>
			  </tr>
			</table>
	  </div>
		<form name="theForm">
			<table border="0" width="100%">
					<tr>
						<td height="15" align="right"><a href="javascript:synchronize(parent.content_frame.location.href);"><img src="sync_button.gif" alt="Synchronize Contents"></a></td>
					</tr>
			</table>
			<table class="toc_outer_table" border="0" cellpadding="0" cellspacing="0" height="100%">				
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td valign="top" height="100%">[!TOCHTML!]</td>
				</tr>
			</table>
		</form>
	</body>
</html>
