<!-- Includes -->
<script type="text/javascript" src="[!TOCScript!]"></script>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="[!TOCStyle!]">
	</head>
	<body>
		<form name="theForm" method="post" action="/cgi-bin/htdig/htsearch" target="content_frame">
			<table class="normal" cellpadding="5">
					<tr>
						<td class="heading_text" height="16"></td>							
					</tr>
					<tr>
						<td class="heading_text">														
							[!FilterHTML!]
						</td>							
					</tr>
					<tr>
						<td class="heading_text">
							[!FilterSearchHTML!]
						</td>
					</tr>
			</table>
		</form>
	</body>
</html>