<frameset name="column_frameset" cols="270,*" border="1" frameborder="1" framespacing="6" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" bordercolor="#6699cc">

	<frameset name="row_frameset" rows="100,*" border="0" frameborder="0" framespacing="0" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
		<frame name="filter_frame" src="[!DefaultTOC!]HTMLFilterTemplate.html" scrolling="no" border="0" frameborder="no" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" bordercolor="white"></frame>

		<frame name="toc_frame" src="[!DefaultTOC!]HTMLLeftContextTemplate.html" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" frameborder="0" border="0" bordercolor="white"></frame>
    </frameset>

	<frame name="content_frame" src="[!DefaultTOC!]index.html" frameborder="no" border="0" marginwidth="25" leftmargin="25" ></frame>
</frameset>