<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ..\..\includes\Preprocessors.wxi?>
  <?ifdef EiffelStudio?>

  <!--
    This include document is included under the Package node so you are free to define new directories, properties and features.
    Note: A directory is created for INSTALLDIR and TARGETDIR so please use DirectoryRef to reference them.
  -->
  <Fragment>

    <!-- PROPERTIES -->
    <Property Id="GDIPLUSNEEDED">1</Property>
    <Property Id="PRECOMPILE">vision2</Property>
    <Property Id="EIFFELPROJECTSDIR" Secure="yes" />
    <!-- END PROPERTIES -->

    <!-- PACKAGE CONTENT -->
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="Comp.app_icon" Guid="4FBFB3EE-4F75-46C7-8464-2710DD1E44A7" Win64="$(var.IsWin64)">
        <RegistryKey Id="Reg.uninstall_product" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Root="HKLM"  Action="createAndRemoveOnUninstall">
          <?ifdef x64?>
            <RegistryValue Id="RegVal.display_icon" Name="DisplayIcon" Type="string" Value="[INSTALLDIR]studio\spec\win64\bin\estudio.exe,0" KeyPath="yes"/>
            <?else?>
            <RegistryValue Id="RegVal.display_icon" Name="DisplayIcon" Type="string" Value="[INSTALLDIR]studio\spec\windows\bin\estudio.exe,0" KeyPath="yes"/>
          <?endif?>
        </RegistryKey>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="PersonalFolder" Name="PersonalFolder">
        <Directory Id="EIFFELPROJECTSDIR" Name="Eiffel Projects" >
          <Component Id="Comp.eiffel_projects" Guid="0281A275-2D0F-478B-B415-648EE707E271" Win64="$(var.IsWin64)">
            <RegistryKey Id="Reg.eiffel.ex" Key="Software\ISE\Eiffel60\ec" Root="HKCU" Action="createAndRemoveOnUninstall">
              <RegistryValue Id="RegVal.eiffel.ec.ise_projects" Name="ISE_PROJECTS" Value="[EIFFELPROJECTSDIR]" Type="string" KeyPath="yes"/>
            </RegistryKey>
            <RegistryKey Id="Reg.eiffel.wizards" Key="Software\ISE\Eiffel60\wizards" Root="HKCU" Action="createAndRemoveOnUninstall">
              <RegistryValue Id="RegVal.eiffel.wizard.ise_projects" Name="ISE_PROJECTS" Value="[EIFFELPROJECTSDIR]" Type="string"/>
            </RegistryKey>
            <CreateFolder />
            <RemoveFolder Id="EIFFELPROJECTSDIR" On="uninstall" Directory="EIFFELPROJECTSDIR"/>
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
    <!-- END PACKAGE CONTENT -->

    <!-- FEATURES -->
    <FeatureRef Id="Feat.root">
      <Feature Id="MainProgram" Title="Program" TypicalDefault="install" Level="1" Display="hidden">
        <ComponentRef Id="Comp.app_icon" />
        <ComponentRef Id="Comp.eiffel_projects" />
        <ComponentGroupRef Id="Core"/>
        <?ifdef Enterprise ?>
          <ComponentGroupRef Id="enterprise_ec"/>
        <?else?>
          <ComponentGroupRef Id="gpl_ec"/>
        <?endif?>
      </Feature>

      <Feature Id="Examples_feature" Title="Examples" TypicalDefault="install" Level="1" Display="hidden">
        <ComponentGroupRef Id="Core.examples"/>
      </Feature>

      <Feature Id="Library_feature" Title="Library" TypicalDefault="install" Level="1" Display="hidden">
        <ComponentGroupRef Id="Core.library"/>
      </Feature>


      <Feature Id="gdiplus_feature" Title="GDI+" TypicalDefault="install" Level="1" Display="hidden">
        <Condition Level="0"><![CDATA[GDIPLUSNEEDED = "0"]]></Condition>
        <ComponentGroupRef Id="gdiplus"/>
      </Feature>

      <?ifndef x64?>
      <Feature Id="Borland_feature" Title="Borland" TypicalDefault="install" Display="hidden" Level="1" >
		  <Condition Level="0"><![CDATA[SELECTEDCCOMPILER <> "bcb"]]></Condition>
		  <ComponentGroupRef Id="Borland"/>
      </Feature>
      <?endif?>
    </FeatureRef>
    <!-- END FEATURES -->
   
    <!-- CUSTOM ACTIONS -->
    <CustomAction Id="IsGdixInstalled" BinaryKey="setup.dll" DllEntry="is_gdi_plus_installed" />
    <CustomAction Id="PrepareFinalizeSetup" BinaryKey="setup.dll" DllEntry="prepare_finalize_setup" />
    <CustomAction Id="FinalizeSetup" BinaryKey="setup.dll" DllEntry="finalize_setup" Impersonate="no" Execute="deferred" />
    <?ifdef Enterprise?>
      <CustomAction Id="IsCdKeyValid" BinaryKey="setup.dll" DllEntry="is_cd_key_valid" />
      <CustomAction Id="RetrieveCdKey" BinaryKey="setup.dll" DllEntry="retrieve_cd_key" />
    <?endif?>
    <CustomAction Id="SET_EIFFELPROJECTDIR" Property="EIFFELPROJECTDIR" Value="[EIFFELPROJECTDIR]" Execute="firstSequence" />
    <CustomAction Id="RESET_CHECKCCOMPILER" Property="CHECKCCOMPILER" Value="0" />
    <CustomAction Id="RESET_HASMSCCOMPILER" Property="HASMSCCOMPILER" Value="0" />
    <!-- END CUSTOM ACTIONS -->

    <!-- UI SEQUENCING -->
    <AdminUISequence>
      <Custom Action="RESET_CHECKCCOMPILER" After="CostInitialize"><![CDATA[SHOWCCONFIG >= "1"]]></Custom> <!-- See Admin.txt -->
      <Custom Action="RESET_HASMSCCOMPILER" After="CostInitialize"><![CDATA[SHOWCCONFIG >= "1"]]></Custom> <!-- See Admin.txt -->      
    </AdminUISequence>
    <InstallUISequence>
      <Custom Action="RESET_CHECKCCOMPILER" After="AppSearch"><![CDATA[SHOWCCONFIG >= "1"]]></Custom> <!-- See Admin.txt -->
      <Custom Action="RESET_HASMSCCOMPILER" After="AppSearch"><![CDATA[SHOWCCONFIG >= "1"]]></Custom> <!-- See Admin.txt -->
      <?ifdef Enterprise?>
        <Custom Action="RetrieveCdKey" Before="AppSearch"/>
      <?endif?>
    </InstallUISequence>
    <!-- END UI SEQUENCING -->

    <!-- INSTALL SEQUENCING -->
    <AdminExecuteSequence>
      <Custom Action="SET_EIFFELPROJECTDIR" Before="CostInitialize"><![CDATA[SET_EIFFELPROJECTDIR=""]]></Custom>
      <Custom Action="IsGdixInstalled" Before="CostInitialize"/>
      <?ifdef Enterprise?>
        <Custom Action="RetrieveCdKey" Before="CostInitialize"/>
      <?endif?>
    </AdminExecuteSequence>
    <InstallExecuteSequence>
      <Custom Action="SET_EIFFELPROJECTDIR" Before="CostInitialize"><![CDATA[SET_EIFFELPROJECTDIR=""]]></Custom>
      <Custom Action="IsGdixInstalled" Before="LaunchConditions"/>
      <Custom Action="PrepareFinalizeSetup" Before="FinalizeSetup"><![CDATA[NOT Installed]]></Custom>
      <Custom Action="FinalizeSetup" Before="InstallFinalize"><![CDATA[NOT Installed]]></Custom>
      <?ifdef Enterprise?>
        <Custom Action="RetrieveCdKey" Before="CostInitialize"/>
      <?endif?>
    </InstallExecuteSequence>
    <!-- END INSTALL SEQUENCING -->
  </Fragment>
  
  <?endif?>
</Wix>
