<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include ..\..\includes\Preprocessors.wxi?>
	<?ifdef EiffelStudio?>

	<!--
		This include document is included under the Package node so you are free to define new directories, properties and features.
		Note: A directory is created for INSTALLDIR and TARGETDIR so please use DirectoryRef to reference them.
	-->
	<Fragment>

		<!-- PROPERTIES -->
		<Property Id="GDIPLUSNEEDED">1</Property>
		<Property Id="PRECOMPILE">vision2</Property>
		<Property Id="EIFFELUSERDIR" Secure="yes" />
		<Property Id="SHORTCUTPATH"><![CDATA[hh]]></Property>
		<Property Id="ISELANG">en_US</Property>
		<!-- END PROPERTIES -->

		<!-- PACKAGE CONTENT -->
		<DirectoryRef Id="INSTALLDIR">
			<!-- Registry settings for installation program -->
			<Component Id="Comp.app_icon" Guid="4FBFB3EE-4F75-46C7-8464-2710DD1E44A7" Win64="$(var.IsWin64)">
				<RegistryKey Id="Reg.uninstall_product" Root="HKLM"	Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Action="createAndRemoveOnUninstall">
					<RegistryValue Id="RegVal.display_icon" Name="DisplayIcon" Type="string" Value="[INSTALLDIR]studio\spec\$(var.IsePlatform)\bin\estudio.exe,0" KeyPath="yes"/>
				</RegistryKey>
			</Component>
			<!-- Registry settings for EiffelStudio and other tools-->
			<Component Id="Comp.studio_registries" Guid="E6817659-E601-42F7-940B-5B8B9CC50AA3" Win64="$(var.IsWin64)">
				<RegistryKey Id="Reg.eiffel" Root="HKLM" Key="Software\ISE\$(var.ProductKey)" Action="createAndRemoveOnUninstall">
					<RegistryValue Id="RegVal.eiffel.ise_eiffel" Name="ISE_EIFFEL" Value="[INSTALLDIR]" Type="string"/>
					<RegistryValue Id="RegVal.eiffel.ise_c_compiler" Name="ISE_C_COMPILER" Value="[C_CONFIG_NAME]" Type="string"/>
					<RegistryValue Id="RegVal.eiffel.ise_platform" Name="ISE_PLATFORM" Value="$(var.IsePlatform)" Type="string"/>
					<RegistryValue Id="RegVal.eiffel.ise_lang" Name="ISE_LANG" Value="[ISELANG]" Type="string"/>
				</RegistryKey>
				<RegistryKey Id="Reg.eiffel.finish_freezing" Root="HKLM" Key="Software\ISE\$(var.ProductKey)\finish_freezing" Action="createAndRemoveOnUninstall">
					<RegistryValue Id="RegVal.eiffel.ff.ise_cflags" Name="ISE_CFLAGS" Value="" Type="string"/>
					<RegistryValue Id="RegVal.eiffel.ff.ise_sharedlibs" Name="ISE_SHAREDLIBS" Value="" Type="string"/>
				</RegistryKey>
			</Component>
			<!-- Registry settings for .NET consumer -->
			<Component Id="Comp.studio_consumer" Guid="21889690-D448-4CD6-AA7C-9F914815CD33" Win64="$(var.IsWin64)">
				<RegistryKey Id="Reg.clsid" Root="HKCR" Key="CLSID\{E1FFE1AC-C5BD-492B-924A-8DBC9D2112F5}" Action="createAndRemoveOnUninstall">
					<RegistryValue Id="RegVal.clsid.default" Value="EiffelSoftware.MetadataConsumer.Interop.COM_CACHE_MANAGER" Type="string"/>
					<RegistryKey Id="Reg.clsid.1" Key="Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Action="createAndRemoveOnUninstall" />
					<RegistryKey Id="Reg.clsid.2" Key="InprocServer32" Action="createAndRemoveOnUninstall" >
						<RegistryValue Id="RegVal.clsid.inproc.1" Value="mscoree.dll" Type="string"/>
						<RegistryValue Id="RegVal.clsid.inproc.2" Name="ThreadingModel" Value="Both" Type="string"/>
						<RegistryValue Id="RegVal.clsid.inproc.3" Name="Class" Value="EiffelSoftware.MetadataConsumer.Interop.COM_CACHE_MANAGER" Type="string"/>
						<RegistryValue Id="RegVal.clsid.inproc.4" Name="Assembly" Value="EiffelSoftware.MetadataConsumer, Version=6.0.6.5856, Culture=neutral, PublicKeyToken=def26f296efef469" Type="string"/>
						<RegistryValue Id="RegVal.clsid.inproc.5" Name="RuntimeVersion" Value="v1.0.3705" Type="string"/>
						<RegistryKey Id="Reg.clsid.3" Key="6.3" Action="createAndRemoveOnUninstall" >
							<RegistryValue Id="RegVal.clsid.inproc.version.1" Name="Class" Value="EiffelSoftware.MetadataConsumer.Interop.COM_CACHE_MANAGER" Type="string"/>
							<RegistryValue Id="RegVal.clsid.inproc.version.2" Name="Assembly" Value="EiffelSoftware.MetadataConsumer, Version=6.0.6.5856, Culture=neutral, PublicKeyToken=def26f296efef469" Type="string"/>
							<RegistryValue Id="RegVal.clsid.inproc.version.3" Name="RuntimeVersion" Value="v1.0.3705" Type="string"/>
						</RegistryKey>
					</RegistryKey>
					<RegistryKey Id="Reg.clsid.4" Key="ProgId" Action="createAndRemoveOnUninstall" >
						<RegistryValue Id="RegVal.clsid.progid" Value="EiffelSoftware.MetadataConsumer.Interop.COM_CACHE_MANAGER" Type="string"/>
					</RegistryKey>
				</RegistryKey>
				<RegistryKey Id="Reg.VS" Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\AssemblyFolders\[ProductName]" Action="createAndRemoveOnUninstall">
					<RegistryValue Id="RegVal.VS" Value="[INSTALLDIR]\studio\spec\$(var.IsePlatform)\lib\" Type="string"/>
				</RegistryKey>
			</Component>
			<!-- Registry settings for eiffel protocol -->
			<Component Id="Comp.eiffel_protocol" Guid="C03F5EC1-8FED-42eb-895E-14A8FDD61B17" Win64="$(var.IsWin64)">
				<RegistryKey Id="Reg.eiffel_protocol" Root="HKCR" Key="eiffel" Action="createAndRemoveOnUninstall">
					<RegistryValue Id="RegVal.eiffel_protocol.default" Value="URL:Eiffel Protocol" Type="string"/>
					<RegistryValue Id="RegVal.eiffel_protocol.url" Name="URL Protocol" Value="" Type="string"/>
					<RegistryKey Id="Reg.eiffel_protocol.defaulticon" Key="DefaultIcon" Action="createAndRemoveOnUninstall">
						<RegistryValue Id="RegVal.eiffel_protocol.defaulticon.default" Value="[INSTALLDIR]\studio\spec\$(var.IsePlatform)\bin\estudio.exe" Type="string"/>
					</RegistryKey>
					<RegistryKey Id="Reg.eiffel_protocol.shell" Key="shell\open\command" Action="createAndRemoveOnUninstall">
						<RegistryValue Id="RegVal.eiffel_protocol.shell.default" Value="&quot;[INSTALLDIR]\studio\spec\$(var.IsePlatform)\bin\estudio.exe&quot; /ec_action eisi:&quot;%1&quot;" Type="string"/>
					</RegistryKey>
				</RegistryKey>
			</Component>
			<?ifndef x64?>
				<Directory Id="Dir.gcc" Name="gcc"/>
			<?endif?>
			<Directory Id="Dir.Core.examples" Name="examples"/>
			<Directory Id="Dir.Core.library" Name="library"/>
		</DirectoryRef>

		<!-- PROGIDS -->
		<DirectoryRef Id="Dir.Core.esbuilder.spec.$(var.IsePlatform).bin" >
			<Component Id="Comp.Core.esbuilder.spec.$(var.IsePlatform).bin.esbuilder.exe" Guid="BA8812BD-C38D-44AA-9FE9-A85DBB4CF493" Win64="$(var.IsWin64)">
				<!-- Wix needs an absolute path to the file, so we use the INSTALL_DIR environment variable which is set when building the MSI -->
				<File Id="Core.esbuilder.spec.$(var.IsePlatform).bin.esbuilder.exe" Name="esbuilder.exe" DiskId="1" Source="$(env.INSTALL_DIR)\EiffelStudio\esbuilder\spec\$(var.IsePlatform)\bin\esbuilder.exe"/>
				<ProgId Id="build.project" Description="EiffelBuild project" Icon="Core.esbuilder.spec.$(var.IsePlatform).bin.esbuilder.exe" IconIndex="0" >
					<Extension Id="bpr">
						<MIME ContentType="text/xml" />
						<Verb Id="bpr" Argument="&quot;%1&quot;" Command="Open" TargetFile="Core.esbuilder.spec.$(var.IsePlatform).bin.esbuilder.exe" />
					</Extension>
				</ProgId>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="Dir.Core.studio.spec.$(var.IsePlatform).bin" >
			<Component Id="Comp.Core.studio.spec.$(var.IsePlatform).bin.estudio.exe" Guid="4AECBDF8-9061-4260-A4C1-A54F0E163A3F" Win64="$(var.IsWin64)">
				<!-- Wix needs an absolute path to the file, so we use the INSTALL_DIR environment variable which is set when building the MSI -->
				<File Id="Core.studio.spec.$(var.IsePlatform).bin.estudio.exe" Name="estudio.exe" DiskId="1" Source="$(env.INSTALL_DIR)\EiffelStudio\studio\spec\$(var.IsePlatform)\bin\estudio.exe"/>
				<ProgId Id="estudio_ecf.project" Description="EiffelStudio project" Icon="Core.studio.spec.$(var.IsePlatform).bin.estudio.exe" IconIndex="1" >
					<Extension Id="ecf">
						<MIME ContentType="text/xml" />
						<Verb Id="open" Argument="&quot;%1&quot;" Command="Open" TargetFile="Core.studio.spec.$(var.IsePlatform).bin.estudio.exe" />
						<Verb Id="compile" Argument="-config &quot;%1&quot; -melt" Command="Compile" TargetFile="Core.studio.spec.$(var.IsePlatform).bin.estudio.exe" />
						<Verb Id="precompile" Argument="-config &quot;%1&quot; -precompile" Command="Precompile" TargetFile="Core.studio.spec.$(var.IsePlatform).bin.estudio.exe" />
						<Verb Id="freeze" Argument="-config &quot;%1&quot; -freeze" Command="Freeze" TargetFile="Core.studio.spec.$(var.IsePlatform).bin.estudio.exe" />
						<Verb Id="finalize" Argument="-config &quot;%1&quot; -finalize" Command="Finalize" TargetFile="Core.studio.spec.$(var.IsePlatform).bin.estudio.exe" />
					</Extension>
				</ProgId>
				<ProgId Id="estudio_e.class" Description="Eiffel Classes" Icon="Core.studio.spec.$(var.IsePlatform).bin.estudio.exe" IconIndex="2" >
					<Extension Id="e" >
						<MIME ContentType="text/plain" />
					</Extension>
				</ProgId>
			</Component>
		</DirectoryRef>
		<!-- END PROGIDS -->

		<DirectoryRef Id="TARGETDIR">
			<Directory Id="DesktopFolder" Name="." />
			<Directory Id="ProgramMenuFolder" Name=".">
				<Directory Id="EiffelStudio" Name="$(var.Product) $(var.ProductVersion) ($(var.Platform))">
					<!-- Shortcuts and file association -->
					<Component Id="Comp.studio_shortcuts" Guid="FD521BF7-9521-4808-8F85-DAACEBEF291D" Win64="$(var.IsWin64)">
						<RegistryKey Id="Reg.Dummy.1" Root="HKCU" Key="Software\ISE\$(var.ProductKey)\Install" Action="createAndRemoveOnUninstall"/>
						<CreateFolder />
						<RemoveFolder Id="EiffelStudio" On="uninstall" Directory="EiffelStudio"/>
						<Shortcut Id="esbuilder.exe" Directory="EiffelStudio" Name="EiffelBuild"
							Description="GUI Builder using EiffelVision2" Show="normal"
							Target="[INSTALLDIR]esbuilder\spec\$(var.IsePlatform)\bin\esbuilder.exe"
							/>
						<Shortcut Id="estudio.exe" Directory="EiffelStudio" Name="$(var.Product) $(var.ProductVersion)"
							Description="EiffelStudio development environment" Show="normal"
							Target="[INSTALLDIR]studio\spec\$(var.IsePlatform)\bin\estudio.exe"
							/>
						<Shortcut Id="estudio.exe1" Directory="DesktopFolder" Name="$(var.Product) $(var.ProductVersion) ($(var.Platform))"
							Description="EiffelStudio development environment" Show="normal"
							Target="[INSTALLDIR]studio\spec\$(var.IsePlatform)\bin\estudio.exe"
							/>
					</Component>
					<Directory Id="EiffelStudio.Documentation" Name="Documentation">
						<Component Id="Comp.studio_shortcuts.documentation" Guid="1EA184EF-4B61-4664-8959-44BCE2773F0D" Win64="$(var.IsWin64)">
							<RegistryKey Id="Reg.Dummy.2" Root="HKCU" Key="Software\ISE\$(var.ProductKey)\Install" Action="createAndRemoveOnUninstall"/>
							<CreateFolder />
							<RemoveFolder Id="EiffelStudio.Documentation" On="uninstall" Directory="EiffelStudio.Documentation"/>
							<Shortcut Id="eiffel.chm1" Directory="EiffelStudio.Documentation" Name="Eiffel Developer Help Center"
								Description="Main documentation, covering Eiffel, ISE libraries and ISE tools" Show="normal"
								Target="[INSTALLDIR]docs\eiffel.chm"
								/>
							<Shortcut Id="ResourceBench_Documentation" Directory="EiffelStudio.Documentation" Name="ResourceBench Documentation" Show="normal"
								Target="[SHORTCUTPATH]" Arguments="mk:@MSITStore:[INSTALLDIR]docs\eiffel.chm::/tools/resource_bench/index.html"
								/>
							<Shortcut Id="EiffelCOM_Wizard" Directory="EiffelStudio.Documentation" Name="EiffelCOM Wizard Documentation" Show="normal"
								Target="[SHORTCUTPATH]" Arguments="mk:@MSITStore:[INSTALLDIR]docs\eiffel.chm::/tools/wizards/com/index.html"
								/>
							<Shortcut Id="vision2_demo.exe" Directory="EiffelStudio.Documentation" Name="EiffelVision2 Demo"
								Description="EiffelVision2 overview presentation" Show="normal"
								Target="[INSTALLDIR]vision2_demo\spec\$(var.IsePlatform)\bin\vision2_demo.exe"
								/>
						</Component>
					</Directory>
					<Directory Id="EiffelStudio.Tools" Name="Tools">
						<Component Id="Comp.studio_shortcuts.tools" Guid="06E072A5-E6FE-4742-9A1D-69E6FA8295A6" Win64="$(var.IsWin64)">
							<RegistryKey Id="Reg.Dummy.3" Root="HKCU" Key="Software\ISE\$(var.ProductKey)\Install" Action="createAndRemoveOnUninstall"/>
							<CreateFolder />
							<RemoveFolder Id="EiffelStudio.Tools" On="uninstall" Directory="EiffelStudio.Tools"/>
							<Shortcut Id="com_wizard.exe" Directory="EiffelStudio.Tools" Name="EiffelCOM Wizard" 
								Description="A wizard that helps you use and create COM components with Eiffel" Show="normal"
								Target="[INSTALLDIR]wizards\com\com_wizard_launcher.exe"
								/>
							<Shortcut Id="he2.exe" Directory="EiffelStudio.Tools" Name="C constants to Eiffel class generator"
								Description="A tool to extract constant definitions into Eiffel classes" Show="normal"
								Target="[INSTALLDIR]studio\spec\$(var.IsePlatform)\bin\h2e.exe"
								/>
							<Shortcut Id="rb.exe" Directory="EiffelStudio.Tools" Name="ResourceBench"
								Description="A tool to convert .rc files into WEL classes" Show="normal"
								Target="[INSTALLDIR]rb\bin\rb.exe"
								/>
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="PersonalFolder" Name="PersonalFolder">
				<Directory Id="EIFFELUSERDIR" Name="Eiffel $(var.ProductVersion) User Files">
					<Component Id="Comp.eiffel_user_files" Guid="F939A51A-1A59-4E7B-AF9A-70D45110F87C" Win64="$(var.IsWin64)">
						<RegistryKey Id="Reg.Dummy.4" Root="HKCU" Key="Software\ISE\$(var.ProductKey)\Install" Action="createAndRemoveOnUninstall"/>
						<CreateFolder />
						<RemoveFolder Id="EIFFELUSERDIR" On="uninstall" Directory="EIFFELUSERDIR"/>
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
		<!-- END PACKAGE CONTENT -->

		<!-- FEATURES -->
		<Feature Id="Feat.root" Title="$(var.ProductName)" Description="$(var.ProductDescription)" TypicalDefault="install" Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
			<Feature Id="MainProgram" Title="Program" TypicalDefault="install" Level="1" Display="hidden">
				<ComponentRef Id="Comp.app_icon" />
				<ComponentRef Id="Comp.studio_registries" />
				<ComponentRef Id="Comp.studio_consumer" />
				<ComponentRef Id="Comp.studio_shortcuts" />
				<ComponentRef Id="Comp.studio_shortcuts.documentation" />
				<ComponentRef Id="Comp.studio_shortcuts.tools" />
				<ComponentRef Id="Comp.eiffel_protocol" />
				<ComponentRef Id="Comp.eiffel_user_files" />
				<ComponentRef Id="Comp.Core.esbuilder.spec.$(var.IsePlatform).bin.esbuilder.exe" />
				<ComponentRef Id="Comp.Core.studio.spec.$(var.IsePlatform).bin.estudio.exe" />
				<ComponentGroupRef Id="Core"/>
				<?ifdef Enterprise ?>
					<ComponentGroupRef Id="enterprise_ec"/>
				<?else?>
					<ComponentGroupRef Id="gpl_ec"/>
				<?endif?>
			</Feature>

			<Feature Id="Examples_feature" Title="Examples" TypicalDefault="install" Level="1" Display="hidden">
				<ComponentGroupRef Id="Core.examples"/>
			</Feature>

			<Feature Id="Library_feature" Title="Library" TypicalDefault="install" Level="1" Display="hidden">
				<ComponentGroupRef Id="Core.library"/>
			</Feature>

			<Feature Id="gdiplus_feature" Title="GDI+" TypicalDefault="install" Level="1" Display="hidden">
				<Condition Level="0"><![CDATA[GDIPLUSNEEDED = "0"]]></Condition>
				<ComponentGroupRef Id="gdiplus"/>
			</Feature>

			<?ifndef x64?>
			<Feature Id="gcc_feature" Title="gcc" TypicalDefault="install" Display="hidden" Level="1" >
				<Condition Level="0"><![CDATA[C_CONFIG_NAME <> "mingw"]]></Condition>
				<ComponentGroupRef Id="gcc"/>
			</Feature>
			<?endif?>
		</Feature>
		<!-- END FEATURES -->

		<!-- CUSTOM ACTIONS -->
		<CustomAction Id="IsGdixInstalled" BinaryKey="setup.dll" DllEntry="is_gdi_plus_installed" />
		<CustomAction Id="PrepareFinalizeSetup" BinaryKey="setup.dll" DllEntry="prepare_finalize_setup" />
		<CustomAction Id="FinalizeSetup" BinaryKey="setup.dll" DllEntry="finalize_setup" Impersonate="no" Execute="deferred" />
		<CustomAction Id="SET_EIFFELUSERDIR" Property="EIFFELUSERDIR" Value="[EIFFELUSERDIR]" Execute="firstSequence" />
		<CustomAction Id="RESET_CHECKCCOMPILER" Property="CHECKCCOMPILER" Value="0" />
		<CustomAction Id="RESET_HASMSCCOMPILER" Property="HASMSCCOMPILER" Value="0" />
		<!-- END CUSTOM ACTIONS -->

		<!-- UI SEQUENCING -->
		<AdminUISequence>
			<Custom Action="RESET_CHECKCCOMPILER" After="CostInitialize"><![CDATA[SHOWCCONFIG >= "1"]]></Custom> <!-- See Admin.txt -->
			<Custom Action="RESET_HASMSCCOMPILER" After="CostInitialize"><![CDATA[SHOWCCONFIG >= "1"]]></Custom> <!-- See Admin.txt -->			
		</AdminUISequence>
		<InstallUISequence>
			<Custom Action="RESET_CHECKCCOMPILER" After="AppSearch"><![CDATA[SHOWCCONFIG >= "1"]]></Custom> <!-- See Admin.txt -->
			<Custom Action="RESET_HASMSCCOMPILER" After="AppSearch"><![CDATA[SHOWCCONFIG >= "1"]]></Custom> <!-- See Admin.txt -->
		</InstallUISequence>
		<!-- END UI SEQUENCING -->

		<!-- INSTALL SEQUENCING -->
		<AdminExecuteSequence>
			<Custom Action="SET_EIFFELUSERDIR" Before="CostInitialize"><![CDATA[EIFFELUSERDIR=""]]></Custom>
			<Custom Action="IsGdixInstalled" Before="CostInitialize"/>
		</AdminExecuteSequence>
		<InstallExecuteSequence>
			<Custom Action="SET_EIFFELUSERDIR" Before="CostInitialize"><![CDATA[EIFFELUSERDIR=""]]></Custom>
			<Custom Action="IsGdixInstalled" Before="LaunchConditions"/>
			<?ifdef Enterprise?>
				<Custom Action="PrepareFinalizeSetup" After="InstallCdKey"><![CDATA[NOT Installed]]></Custom>
			<?else?>
				<Custom Action="PrepareFinalizeSetup" Before="InstallFinalize"><![CDATA[NOT Installed]]></Custom>
			<?endif?>
			<Custom Action="FinalizeSetup" After="PrepareFinalizeSetup"><![CDATA[NOT Installed]]></Custom>
		</InstallExecuteSequence>
		<!-- END INSTALL SEQUENCING -->
	</Fragment>

	<?endif?>
</Wix>
