ul.horizontal li {
  display: inline-block;
}

#header #primary.menu ul li {
  color: #555;
  background-color: #fff;
  padding: 10px;
  margin: 0;
}
#header #primary.menu ul li a {
  color: #555;
  text-decoration: none;
}
#header #primary.menu ul li a:hover {
  color: black;
}
#header #primary.menu ul.horizontal {
  border-bottom: solid 1px #ddd;
}
#header #primary.menu ul.horizontal li {
  border-top: solid 3px #fff;
}
#header #primary.menu ul.horizontal li:hover {
  background-color: #ffe;
  border-top: solid 3px #999;
}
#header #primary.menu ul.horizontal li.active {
  font-weight: bold;
  border-top: solid 3px #ddd;
  background-color: #ddd;
}
#header #primary.menu ul.horizontal li.active:hover {
  border-top: solid 3px blue;
}

.menu ul.vertical {
  list-style: none;
  padding-left: .5rem;
}
.menu ul.vertical > li > a {
  border-bottom: dotted 1px #ccc;
}
.menu ul.vertical ul {
  padding-left: 1rem;
}
.menu ul.vertical li {
  padding-left: .3rem;
}
.menu ul.vertical li.active > a {
  font-weight: bold;
}

form.search-form div {
  position: absolute;
  top: .5rem;
  right: 0px;
  z-index: -1;
}

#content {
  display: flex;
  flex-direction: row;
}
#content #highlighted {
  position: relative;
  border: solid 1px #ddd;
  background-color: #ffc;
  width: 70%;
  left: 15%;
  right: 15%;
  padding: 5px;
  font-style: italic;
}
#content .preview {
  border: solid 1px red;
}

#content .sidebar {
  padding: 5px;
  margin: 3px;
}
#content .sidebar#sidebar_first {
  flex: 1 0 auto;
  max-width: 200px;
  width: 200px;
  border-right: solid 1px #ccc;
}
#content .sidebar#sidebar_second {
  flex: 1 0 auto;
  max-width: 240px;
  width: 240px;
  float: right;
}
#content .sidebar + #main {
  margin-left: 1rem;
}
#content span.sidebar_toggle {
  padding: .2rem;
  width: 2rem;
  border: solid 1px #999;
  background-color: #ccc;
  display: none;
  cursor: pointer;
}
#content span.sidebar_toggle:hover {
  border: solid 1px #333;
  background-color: #fff;
}
#content #main {
  flex: 1;
  min-width: 300px;
  margin-left: 2rem;
}

#primary-tabs ul.horizontal {
  list-style-type: none;
}
#primary-tabs ul.horizontal li {
  display: inline;
  padding: 2px 5px;
  border: solid 1px #ccf;
}
#primary-tabs ul.horizontal li.active {
  border-color: #99f #99f #ddd;
  border-style: solid solid none;
  border-width: 2px 1px 0;
  padding: 2px 7px 1px;
}

#message li.error {
  background-color: #f99;
  border: solid 1px red;
  padding: 5px 2px 5px 2px;
}

table.with_border thead td {
  font-weight: bold;
}
table.with_border td {
  border: solid 1px #ccc;
  padding: 2px 5px 2px 5px;
}

@media screen and (max-width: 600px) {
  div#content {
    flex-direction: column;
  }
  div#content span.sidebar_toggle {
    display: block;
  }
  div#content span.sidebar_toggle + div.sidebar {
    display: none;
  }
  div#content span.sidebar_toggle + div.sidebar {
    display: none;
  }
  div#content span.sidebar_toggle + div.sidebar[data-display=no] {
    display: none;
  }
  div#content span.sidebar_toggle + div.sidebar[data-display=yes] {
    display: block;
  }

  form.search-form div {
    position: relative;
  }
}
