ul.cms-users {
	list-style-type: none;
	padding: 3px 3px 3px 3px;
	border: solid 1px #ccc;

	li{
		border-top: dotted 1px #ccc;
		&:first-child {
			border-top: none;
		}
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		span {
			flex-grow: 1;
			flex-basis: 20px;
			padding-left: 2px;
			text-align: left;
			&.identifier a::before {
				content: "[user] ";
			}
			&.roles {
				color: #090;
				font-weight: bold;
			}
		}
	}
}


ul.cms-roles {
	
	list-style-type: none;
	padding: 3px 3px 3px 3px;
	border: solid 1px #ccc;

	li{
		border-top: dotted 1px #ccc;
		&:first-child {
			border-top: none;
		}
	}

	li.cms_role a::before {
		content: "[role] ";
	}
}
table.cms-roles {
	border: solid 1px black;
	border-collapse: collapse;
	th,td {padding: 2px; border: solid 1px black; }
	td.cms_role_permission {
		font-style: italic;
	}
}


ul.cms-permissions {
	
	list-style-type: none;
	padding: 3px 3px 3px 3px;
	border: solid 1px #ccc;

	li{
		border-top: dotted 1px #ccc;
		&:first-child {
			border-top: none;
		}
	}

	li.cms_permission a::before {
		content: "[permission] ";
	}
}

form#modules_collection {
	thead td {
		font-weight: bold;
	}
	tr {
		border-bottom: dotted 1px #ccc;
	}
	td {
		padding: 3px;
	}
}


