#include <windows.h>

#define ID_ICO_APPLICATION		1

#define ID_MENU_APPLICATION		1

#define ID_ACC_APPLICATION		1

#define CMD_MUL_CREATE			101
#define CMD_MUL_CURRENT_ITEM		102
#define CMD_MUL_COUNT_ITEM		103
#define CMD_MUL_COUNT_SELECTED_ITEM		186
#define CMD_MUL_ADD_ITEM		104
#define CMD_MUL_DELETE			105

#define CMD_COMBO_BOX_CREATE		110
#define CMD_COMBO_BOX_CURRENT_ITEM	111
#define CMD_COMBO_BOX_COUNT_ITEM	112
#define CMD_COMBO_BOX_ADD_ITEM		113
#define CMD_COMBO_BOX_DELETE		114
#define CMD_COMBO_BOX_SHOW_LIST 	115
#define CMD_COMBO_BOX_HIDE_LIST 	116

#define CMD_RADIO_CREATE		120
#define CMD_RADIO_DELETE		121
#define CMD_RADIO_STATE 		122

#define CMD_CHECK_CREATE		130
#define CMD_CHECK_DELETE		131
#define CMD_CHECK_STATE 		132

#define CMD_SCROLL_BAR_SET_VERTICAL	140
#define CMD_SCROLL_BAR_SET_HORIZONTAL	141
#define CMD_SCROLL_BAR_DELETE		142
#define CMD_SCROLL_BAR_CREATE		143

#define CMD_BUTTON_DISABLE		150
#define CMD_BUTTON_ENABLE		151
#define CMD_BUTTON_CREATE		152
#define CMD_BUTTON_DELETE		153

#define CMD_LIST_BOX_CREATE		160
#define CMD_LIST_BOX_DELETE		161
#define CMD_LIST_BOX_ADD_ITEM		162
#define CMD_LIST_BOX_COUNT_ITEM 	163
#define CMD_LIST_BOX_CURRENT_ITEM	164

#define CMD_EDIT_CREATE 		170
#define CMD_EDIT_DELETE 		171
#define CMD_EDIT_TEXT_LENGTH		172
#define CMD_EDIT_CLEAR_TEXT		173
#define CMD_EDIT_SET_TEXT		174
#define CMD_EDIT_CURRENT_TEXT		175

#define CMD_MULTI_EDIT_CREATE		180
#define CMD_MULTI_EDIT_DELETE		181
#define CMD_MULTI_EDIT_TEXT_LENGTH	182
#define CMD_MULTI_EDIT_CLEAR_TEXT	183
#define CMD_MULTI_EDIT_SET_TEXT 	184
#define CMD_MULTI_EDIT_CURRENT_TEXT	185

#define CMD_EXIT			1000

ID_ICO_APPLICATION ICON "controls_demo.ico"

ID_MENU_APPLICATION MENU
{
	POPUP "&ListBox"
	{
		MENUITEM "&Create", CMD_LIST_BOX_CREATE
		MENUITEM "&Delete", CMD_LIST_BOX_DELETE
		MENUITEM "&Add item\tF3", CMD_LIST_BOX_ADD_ITEM
		MENUITEM SEPARATOR
		MENUITEM "&Count item", CMD_LIST_BOX_COUNT_ITEM
		MENUITEM "Current &item", CMD_LIST_BOX_CURRENT_ITEM
		MENUITEM SEPARATOR
		MENUITEM "E&xit", CMD_EXIT
	}

	POPUP "&MultipleListBox"
	{
		MENUITEM "&Create", CMD_MUL_CREATE
		MENUITEM "&Delete", CMD_MUL_DELETE
		MENUITEM "&Add item\tF4", CMD_MUL_ADD_ITEM
		MENUITEM SEPARATOR
		MENUITEM "&Count item", CMD_MUL_COUNT_ITEM
		MENUITEM "&Selected item", CMD_MUL_COUNT_SELECTED_ITEM
		MENUITEM "Current &item", CMD_MUL_CURRENT_ITEM
	}

	POPUP "C&omboBox"
	{
		MENUITEM "&Create", CMD_COMBO_BOX_CREATE
		MENUITEM "&Delete", CMD_COMBO_BOX_DELETE
		MENUITEM "&Add item\tF5", CMD_COMBO_BOX_ADD_ITEM
		MENUITEM SEPARATOR
		MENUITEM "&Count item", CMD_COMBO_BOX_COUNT_ITEM
		MENUITEM "Current &item", CMD_COMBO_BOX_CURRENT_ITEM
		MENUITEM SEPARATOR
		MENUITEM "&Show list", CMD_COMBO_BOX_SHOW_LIST
		MENUITEM "&Hide list", CMD_COMBO_BOX_HIDE_LIST
	}

	POPUP "&Edit"
	{
		MENUITEM "&Create", CMD_EDIT_CREATE
		MENUITEM "&Delete", CMD_EDIT_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&Set text", CMD_EDIT_SET_TEXT
		MENUITEM "&Clear text", CMD_EDIT_CLEAR_TEXT
		MENUITEM "&Text length", CMD_EDIT_TEXT_LENGTH
		MENUITEM "C&urrent text", CMD_EDIT_CURRENT_TEXT
	}

	POPUP "M&ultipleEdit"
	{
		MENUITEM "&Create", CMD_MULTI_EDIT_CREATE
		MENUITEM "&Delete", CMD_MULTI_EDIT_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&Set text", CMD_MULTI_EDIT_SET_TEXT
		MENUITEM "&Clear text", CMD_MULTI_EDIT_CLEAR_TEXT
		MENUITEM "&Text length", CMD_MULTI_EDIT_TEXT_LENGTH
		MENUITEM "C&urrent text", CMD_MULTI_EDIT_CURRENT_TEXT
	}

	POPUP "&Button"
	{
		MENUITEM "&Create", CMD_BUTTON_CREATE
		MENUITEM "&Delete", CMD_BUTTON_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&Enable", CMD_BUTTON_ENABLE, CHECKED
		MENUITEM "&Disable", CMD_BUTTON_DISABLE
	}

	POPUP "&Scrollbar"
	{
		POPUP "&Create"
		{
			MENUITEM "Create &horizontal", CMD_SCROLL_BAR_SET_HORIZONTAL
			MENUITEM "Create &vertical", CMD_SCROLL_BAR_SET_VERTICAL
		}
		MENUITEM "&Delete", CMD_SCROLL_BAR_DELETE
	}

	POPUP "&RadioButtons"
	{
		MENUITEM "&Create", CMD_RADIO_CREATE
		MENUITEM "&Delete", CMD_RADIO_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&State", CMD_RADIO_STATE
	}

	POPUP "&CheckButtons"
	{
		MENUITEM "&Create", CMD_CHECK_CREATE
		MENUITEM "&Delete", CMD_CHECK_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&State", CMD_CHECK_STATE
	}
}

ID_ACC_APPLICATION ACCELERATORS
{
	VK_F3, CMD_LIST_BOX_ADD_ITEM, VIRTKEY
	VK_F4, CMD_MUL_ADD_ITEM, VIRTKEY
	VK_F5, CMD_COMBO_BOX_ADD_ITEM, VIRTKEY
}
