// Resource file
#include "resource.h"

IDR_MAINFRAME ICON "<FL_ICON_NAME>"

IDM_MAINFRAME MENU
	{
	POPUP "&File"
		{
		MENUITEM "&New", CMD_FILE_NEW
		MENUITEM "&Open", CMD_FILE_OPEN
		MENUITEM "&Close", CMD_FILE_CLOSE
		MENUITEM SEPARATOR
		MENUITEM "E&xit", CMD_FILE_EXIT
		}

	POPUP "&Help"
		{
		MENUITEM "&About", CMD_HELP_ABOUT
		}
	}
