#include <windows.h>
#define IDD_DIALOG1                     101

IDD_DIALOG1 DIALOG 0, 0, 200, 100
STYLE WS_POPUP
CAPTION "Dialog"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,45,60,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,105,60,50,14
END
