@import "common.scss";
@import "cloud.scss";

$header-text-fgcolor: black;
$header-bgcolor: transparent;
$header-hover-bgcolor: #888;
$header-hover-fgcolor: #fff;
$footer-bgcolor: #ccc;
$footer-fgcolor: #333;
$footer-hover-fgcolor: #33f;

html,
body {
	margin: 0;
	padding: 0;
	height:100%;
	background-color: white;
	font-family: roboto;
}
body > div#container {
	min-height:100%;
	position: relative;

	> div#footer, > footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 40px;
		padding-top: 5px;
		padding-top: 10px;
		color: $footer-fgcolor;
		background-color: $footer-bgcolor;
		div.footer_copyright {
			text-align: center;
			a {
				color: $footer-hover-fgcolor;
			}
		}
	}
	> div#body {
		padding-bottom: 40px;
	}
}

a {
	color: blue;
	text-decoration: none;
}

div.error {
	color: red;
	background-color: #fdd;
	/* border: solid 1px #f00; */
	padding: 10px;
}

div.login-box {
	@extend .box;
	border: solid 3px #6a6;
	background-color: #eee;
}

#header {
	background-color: $header-bgcolor;
	background: url(../images/outer_header_bg.jpg) repeat-x 0 0;
	color: $header-text-fgcolor;
	font-family: roboto;
	font-size: x-large;
	padding: 0;
	#logo {
		float: left;
		margin-left: 20px;
	}
	#menu-bar {
	}
	ul.horizontal {
		li {
			margin-right: 10px;
			margin-bottom: 5px;
			padding: 5px 10px;
			display: inline-block;
			border: solid 1px #ffc;
			a {
					color: $header-text-fgcolor;
			}
			&.active {
				border: solid 2px $header-text-fgcolor;
			}
			&:hover {
				a {
					color: $header-hover-fgcolor;
				}
				background-color: $header-hover-bgcolor;
				border-bottom: solid 5px $header-text-fgcolor;
				margin-bottom: 0;
			}
		}
	}
}
div#content {
	max-width: 800px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

div.menu ul.horizontal {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	li {
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 2px;
		border-left: solid 1px #ccc;
		border-top: solid 2px #eee;
		border-bottom: solid 1px #ddd;
		&:hover {
			font-weight: bold;
		}
		&.active {
			border-top: solid 2px #ccc;
			border-bottom: solid 1px transparent;
		}
	}
	li:last-child {
		border-right: solid 1px #ccc;
	}
}
