# Eiffel (generating C code).
language: c
before_script:
- export current_dir=$PWD ; echo current_dir=$current_dir ; cd ..
- curl -sSL https://www.eiffel.org/setup/install.sh | bash -s nightly > eiffel.rc
- source ./eiffel.rc
- echo `ec -version`
- cd $current_dir
- export EIFFEL_SRC=$PWD/Src
- export EWEASEL=$PWD/eweasel
- export ISE_LIBRARY=$EIFFEL_SRC
- export XEBRA_LIBRARY=$EIFFEL_SRC/framework/web/xebra/eiffel_projects/library
- echo Check projects compilation status...
branches:
  only:
  - master
  - develop
git:
  depth: 1
env:
  - COMPILEALL_DIR=Eiffel
  - COMPILEALL_DIR=library/base
  - COMPILEALL_DIR=library/base_extension
  - COMPILEALL_DIR=library/docking
  - COMPILEALL_DIR=library/editor
  - COMPILEALL_DIR=library/encoding
  - COMPILEALL_DIR=library/net
  - COMPILEALL_DIR=library/preferences
  - COMPILEALL_DIR=library/process
  - COMPILEALL_DIR=library/store
  - COMPILEALL_DIR=library/testing
  - COMPILEALL_DIR=library/text
  - COMPILEALL_DIR=library/thread
  - COMPILEALL_DIR=library/time
  - COMPILEALL_DIR=library/uuid
  - COMPILEALL_DIR=library/vision2
  - COMPILEALL_DIR=library/wel
  - COMPILEALL_DIR=examples
  - COMPILEALL_DIR=tools/compile_all
  - COMPILEALL_DIR=tools/eiffel_make
  - COMPILEALL_DIR=tools/espawn
  - COMPILEALL_DIR=tools/estudio
  - COMPILEALL_DIR=tools/finish_freezing
  - COMPILEALL_DIR=tools/iron
  - COMPILEALL_DIR=tools/syntax_updater
  - COMPILEALL_DIR=tools/quick_finalize
  - COMPILEALL_DIR=unstable/library/network
  - COMPILEALL_DIR=unstable/library/pattern
  - COMPILEALL_DIR=unstable/library/persistency
  - COMPILEALL_DIR=unstable/library/scoop_patterns
  - COMPILEALL_DIR=unstable/library/text
  - COMPILEALL_DIR=unstable/library/web
  - COMPILEALL_DIR=framework/configuration
  - COMPILEALL_DIR=framework/interface_names
  - COMPILEALL_DIR=framework/iron
  - COMPILEALL_DIR=contrib/examples
  - COMPILEALL_DIR=contrib/library/network
  - COMPILEALL_DIR=contrib/library/text
  - COMPILEALL_DIR=contrib/library/web
  - COMPILEALL_DIR=contrib/library/gobo COMPILEALL_IGNORE=contrib/library/gobo/.compile_all.ini
  - COMPILEALL_DIR=library COMPILEALL_IGNORE=scripts/CI/compile_all/stable_others.ini
  - COMPILEALL_DIR=unstable COMPILEALL_IGNORE=scripts/CI/compile_all/unstable_others.ini
  - COMPILEALL_DIR=contrib/library COMPILEALL_IGNORE=scripts/CI/compile_all/contrib_others.ini
  - COMPILEALL_DIR=framework COMPILEALL_IGNORE=scripts/CI/compile_all/framework_others.ini
  - COMPILEALL_DIR=tools COMPILEALL_IGNORE=scripts/CI/compile_all/tools_others.ini
script:
  - sh $EIFFEL_SRC/scripts/CI/travis-ci-compile_all.sh $EIFFEL_SRC/$COMPILEALL_DIR $EIFFEL_SRC/$COMPILEALL_IGNORE
group: stable
os: linux
notifications:
  slack:
    on_success: change
    on_failure: always
    secure: mjmAWAHOgpFz9NN0JDDO9n20PZ/aiXJ6lIaVaK3wyuyMhOQm39Lr/KGGgEfhnEMzjZW44mskj8t2BxplZaCznL3Ogk/KGiBBnQbKY10GzZQBNfMqZDS49+WYicc1onIbT1r0bHDr2VZL/OZfKlhttkToDV43/pwuArggaS8DHTywVWa1v5A3NdIcyLYASYOEslCHyc/Xlx7aat3E8oodlHhqTZ1g9GwdVRdzV65BhCZGWXtR9duRn5AoTcxS108ER7mPJbmBsj2UaUahyOSbmjjEy1b0h+lcjUiOyGXXxQAQlYtIZ4+aCJ/OA5tFe+AYd915TmsikvSFsRvuP5Vh0W/tY0mST8YDYpljcEe3T8pYZgUN2nvmcPn/Sv52p4xfrrW1XBGno0f4sv2l4me3ApHHIA2ZMYAvSwteDjMOf3u9/BxsbOWPFQuEB6Qe1Q+h9wfj22T7FA89LIHG8UrciLJYbhyFaJeROfw/cj1ACPROPj/yC6gXrCpsIWQxgtefIstFySvohR1Hq3Ugz/+ziBD2X1jxE4eQV/n8L/SAcjzOUWe3Mpu4kkMPsJGbhnFmKaVU7BKYP2azwxOEnYfndPlT5jDkXFZ09EBbMkP4Ablvex0MwFYQYJdeYC+8kpAut2bpqvWaK2KnEwg93TmW2LepZ9HpTgb2IZShfH11fcg=
