language: eiffel
before_script:
    - export current_dir=$PWD ; echo current_dir=$current_dir ; cd ..
    - curl -sSL https://www.eiffel.org/setup/install.sh | bash -s nightly > eiffel.rc
    - source ./eiffel.rc
    - echo `ec -version`
    - cd $current_dir
    - export EIFFEL_SRC=$PWD/Src
    - export ISE_LIBRARY=$EIFFEL_SRC
    - echo Check projects compilation status...
    
branches:
    only:
        - master
        - develop

git:
    depth: 1
  
script: 
    - compile_all -ecb -melt -list_failures -log_verbose -clean -options dotnet=false -l Src/Eiffel
group: stable
os: linux
