language: eiffel
before_script:
    - export current_dir=$PWD ; echo current_dir=$current_dir ; cd ..
    - curl -sSL https://www.eiffel.org/setup/install.sh | bash -s nightly > eiffel.rc
    - source ./eiffel.rc
    - echo `ec -version`
    - cd $current_dir
    - export EIFFEL_SRC=$PWD/Src
    - export EWEASEL=$PWD/eweasel
    - export ISE_LIBRARY=$EIFFEL_SRC
    - export XEBRA_LIBRARY=$EIFFEL_SRC/framework/web/xebra/eiffel_projects/library
    - echo Check projects compilation status...
    
branches:
    only:
        - master
        - develop

git:
    depth: 1

env:
    matrix:
        - COMPILEALL_DIR=Src/Eiffel
        - COMPILEALL_DIR=Src/framework
        - COMPILEALL_DIR=Src/tools
        - COMPILEALL_DIR=Src/library
        - COMPILEALL_DIR=Src/unstable/library
        - COMPILEALL_DIR=Src/contrib/library
  
script: 
    - compile_all -ecb -melt -list_failures -log_verbose -clean -options dotnet=false -l $COMPILEALL_DIR

group: stable
os: linux
