div#doc-header { margin: 5px 5px 5px 5px; padding: 10px; 
	color: #fff; background-color: #003063; border: solid 1px #009; }
#doc-header span#title { font-size: 180%; font-weight: bold; }
#doc-header #nav { float: right; position: relative; top: -20px; }

#doc-header a { color: #00f; text-decoration: none; 
		padding: 0 5px 0 5px;
		margin: 0 5px 0 5px;
		background-color: #fff; border: solid 1px #ccf; }

div#index {
	margin: 5px;
	padding: 5px;
	font-family: arial, verdana;
	font-size: 85%;
	border: solid 1px #cecece;
	background-color: #efefef;
}

div#index a {
	text-decoration: none;
}

div.print-page #nav { 
	float: right; 
	padding: 0;
}
div.print-page #nav a { 
	text-decoration: none; 
	font-family: arial, verdana;
	font-size: 75%;
	padding: 0 1px 0 1px;
	margin: 0 1px 0 0;
	color: #009;
	background-color: #E0E0EF; border: solid 1px #ccf; }

div#doc-body { 
	margin: 10px 5px 10px 5px; 
	padding: 20px; border: solid 1px #ccc;
}

div#doc-body div#doc-tags, div#doc-body div#doc-uuid {
	float: right;
	clear: right;
	font-size: 85%;
	color: #999;
	margin-right: 15px;
	}
ul#doc-nav { 
	margin-left: auto; margin-right: auto; width: 80%;
	text-align: left;
	list-style-type: none;
	color: #533; 
	background-color: #eef;
	padding: 5px 5px 5px 20px; border: solid 1px #ccc;
	}
ul#doc-nav li.folder { 
	/* list-style: square; */
}

#doc-body a {
	text-decoration: none; 
}
#doc-nav a { color: #00f; text-decoration: none; 
		padding-left: 5px; padding-right: 5px;
	}

div#doc-footer { margin: 10px 5px 5px 5px; padding 5px; 
	text-align: center; color: #999;}
div.print-page {
	border: dotted 1px #cecece;
	margin: 5px;
	padding: 5px;
}
div.print-page h1 {
	margin-top: 3px;
	margin-bottom: 3px;
}

