div.es-organisations {
	ul.owners {
		border: dotted 1px red;
	}
	ul form#es-cloud-del-org-item {
		display: inline-block;
		&>div , &>input {
			padding-left: 10px;
			display: inline-block;
		}
	}
	ul form#es-cloud-edit-org-item {
		margin-top: 10px;
		background-color: #eeeeee;
		border: solid 1px #ccc;
		margin: 3px;
		padding: 10px;
		display: inline-block;
		&>div , &>input {
			display: inline-block;
		}
	}
}
ul.es-sessions {
	li {
		margin-bottom: 1em;
		border-top: dotted 1px #333;
		span.duration {
			font-weight: bold;
			margin-left: 2em;
			padding: 0 5px 0 5px;
			border: solid 1px #ccc;
		}
		span.state {
			margin-left: 1em;
			padding: 0 5px 0 5px;
			border: solid 1px #ccc;
		}
		&.expired {
			color: #333;
		}
	}
}

table td.warning {
	background-color: #ffd8bc;
}

form#edit-license div.horizontal {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: normal;
	& > div {
		margin-top: 1em;
		margin-right: 1em;
	}
}
