div.user-view-cloud-box {
	border: solid 1px #ccc;
	padding: 1em;
	&:hover {
		border: solid 1px #00f;
		background-color: #eee;
	}
}

.es-billing table {
	background-color: #fefefe;
	border: solid 1px #000;
	th {
		background-color: #fcfcfc;
	}
	td,th {
		border-bottom: 1px solid #ddd;
		padding: 0 1rem 0 1rem;
	}
}

div.es-licenses {
	&.es-stats {
		div.es-license {
			margin-bottom: 2px;
			position: relative;
			span.title {
				display: inline-block;
				min-width: 7rem;
				font-weight: bold;
			}
			div.license-id {
				display: inline-block;
				min-width: 16rem;
				span.condition {
					color: #999;
					font-size: 90%;
					display: block;
				}
			}
			span.user {
				display: inline-block;
				min-width: 12rem;
			}
			span.details {
				position: absolute;
				right: 1rem;
				span.expiration {
					display: block;
				}
				span.status {
					display: block;
				}
			}
			span.warning {
				color: #900;
			}
		}
	}
	div.info {
		color: #5b5b5b;
		padding: 1rem;
		border: solid 1px #ccc;
		background-color: #f5f5f5;
		margin-bottom: 1rem;
		& > div {
			padding: 1rem;
			background-color: #fff;
			position: relative;
			box-sizing: border-box;
		}
	}
}
