/* Wikidocs Table of contents */
.wiki-toc {
  -moz-box-shadow: -3px 5px 4px 0 #99c;
  -webkit-box-shadow: -3px 5px 4px 0 #99c;
  box-shadow: -3px 5px 4px 0 #99c;
  padding: 5px;
  line-height: 1.2em;
  border: solid 1px #ccc;
  font-size: smaller;
  list-style-position: inside;
}
.wiki-toc > ul, .wiki-toc > ol {
  padding: 0;
}
.wiki-toc.wiki-toc-auto {
  float: right;
  clear: right;
}
.wiki-toc span.title {
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 1ex;
}
.wiki-toc a {
  text-decoration: none;
}
.wiki-toc.horizontal {
  padding: 5px;
}
.wiki-toc.horizontal li {
  display: inline;
  padding: 0 5px 0 0;
}
.wiki-toc.horizontal li::before {
  content: "| ";
}

/* Override default margins of Table of contents */
div#content .wiki-toc {
  margin-top: 0px;
  margin-left: 2em;
}

.wikipage p.tpl, .wikipage div.tpl {
  margin: 10px 50px 10px 10px;
  padding: 8px;
  border: solid 1px;
}
.wikipage p.tpl.header-message, .wikipage div.tpl.header-message {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 350px;
}
.wikipage span.tpl {
  padding: 1px 3px 1px 3px;
}
.wikipage .tpl {
  color: black;
}
.wikipage .tpl.header-message {
  background-color: #FFEEBF;
  border-color: #FFB55F;
}
.wikipage .tpl.definition-message {
  background-color: #EFFFF0;
  border-color: #0A7D19;
}
.wikipage .tpl.note-message {
  color: #00529B;
  background-color: #eef7fb;
}
.wikipage .tpl.recommended-message {
  background-color: #EEEEFF;
}
.wikipage .tpl.rule-message {
  background-color: #f3eada;
}
.wikipage .tpl.sample-message {
  background-color: #eef7fb;
}
.wikipage .tpl.seealso-message {
  background-color: #eef7fb;
}
.wikipage .tpl.tip-message {
  background-color: #eef7fb;
}
.wikipage .tpl.key-message {
  color: black;
  background-color: #fafafa;
  border: solid 1px;
  white-space: nowrap;
}
.wikipage .tpl.info-message {
  color: #00529B;
  background-color: #BDE5F8;
}
.wikipage .tpl.success-message {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.wikipage .tpl.warning-message {
  color: #9F6000;
  background-color: #FEEFB3;
}
.wikipage .tpl.error-message {
  color: #D8000C;
  background-color: #FFBABA;
}
.wikipage div.tpl i {
  margin: 10px 22px;
  font-size: 2em;
  vertical-align: middle;
}
.wikipage .tpl, .wikipage h1, .wikipage h2, .wikipage h3, .wikipage code {
  overflow: hidden;
}

div#content.doc ul.message {
  list-style-type: none;
}
div#content.doc ul.message li.warning {
  padding: 5px;
  border-left: solid 4px #ffd200;
  background-color: #ffc;
}
div#content.doc ul.message li.warning a {
  border: solid 1px #ccc;
  padding: 2px;
  background-color: #eee;
  display: inline-block;
}

div.wdocs-versions {
  float: right;
  display: inline-block;
  font-size: 80%;
  font-style: italic;
  margin: 0;
}
div.wdocs-versions > ul {
  padding-left: 2px;
  list-style-type: none;
  display: inline-block;
}
div.wdocs-versions > ul li.active {
  font-weight: bold;
}
div.wdocs-versions > ul > li:not(:last-child) {
  border-right: solid 1px #ccc;
}
div.wdocs-versions > ul > li {
  padding: 0 6px 0 2px;
  margin: 0 2px 0 2px;
  display: inline-block;
  border: none;
}
div.wdocs-versions > ul > li a:hover {
  text-decoration: underline;
}
div.wdocs-versions > ul > li > ul {
  padding: 10px;
  background-color: white;
  border: solid 1px #999;
  display: none;
  font-weight: normal;
}
div.wdocs-versions > ul > li:hover > ul {
  position: absolute;
  display: block;
  z-index: 99;
}
div.wdocs-versions > ul > li:hover > ul li {
  display: block;
}
