#include <windows.h>

#define DLG_SELECTDIR   101

#define ID_LA_DIR       101
#define ID_CB_LASTDIR   102
#define ID_CB_DRIVE     103
#define ID_LB_DIR       104

appl	ICON test.ico

#define IDD_OK 10
#define IDD_CANCEL 11
#define IDD_HELP 12
#define IDD_APPLY 13
#define IDD_TEXT 14
#define IDD_MESSAGE 15
#define IDD_ICON 16

#define IDD_OK_P 200
#define IDD_CANCEL_P 201
#define IDD_HELP_P 202
#define IDD_APPLY_P 203
#define IDD_TEXT_P 204
#define IDD_MESSAGE_P 205

icon5 ICON test.ico

// From USER.EXE
#define ICON_STOP 32513
#define ICON_QUESTION 32514
#define ICON_BANG 32515
#define ICON_INFO 32516

STRINGTABLE
{
    1,  "ISE Eiffel for Windows"
}

DLG_SELECTDIR DIALOG 20, 20, 173, 188
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select directory"
FONT 8, "HELV"
BEGIN
	LTEXT "", ID_LA_DIR, 6, 48, 161, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "&Choice", -1, 6, 5, 82, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", ID_CB_LASTDIR, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 6, 15, 161, 95
	LTEXT "&Directories:", -1, 6, 36, 72, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LISTBOX ID_LB_DIR, 6, 62, 82, 89, LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	LTEXT "Dri&ves", -1, 6, 155, 36, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", ID_CB_DRIVE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | WS_VSCROLL, 6, 165, 82, 53
	CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 116, 62, 51, 15
	CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 116, 82, 51, 15
END
