#include "app_ids.h"

ID_CUR_CUSTOM CURSOR "custom.cur"
ID_ICO_APPLICATION ICON "app.ico"

ID_MENU_APPLICATION MENU
{
	POPUP "Cursors"
	{
		MENUITEM "Arrow", CMD_CURSOR_ARROW
		MENUITEM "Cross", CMD_CURSOR_CROSS
		MENUITEM "Ibeam", CMD_CURSOR_IBEAM
		MENUITEM "Icon", CMD_CURSOR_ICON
		MENUITEM "Size", CMD_CURSOR_SIZE
		MENUITEM "Sieznesw", CMD_CURSOR_SIEZNESW
		MENUITEM "Sizens", CMD_CURSOR_SIZENS
		MENUITEM "Sizenwse", CMD_CURSOR_SIZESWNE
		MENUITEM "Sizewe", CMD_CURSOR_SIZEWE
		MENUITEM "Uparrow", CMD_CURSOR_UPARROW
		MENUITEM "Wait", CMD_CURSOR_WAIT
		MENUITEM SEPARATOR
		MENUITEM "Custom", CMD_CURSOR_CUSTOM
	}
}
