#define ID_CUR_CUSTOM			1
#define ID_ICO_APPLICATION		1
#define ID_MENU_APPLICATION		1

#define CMD_CURSOR_ARROW		101
#define CMD_CURSOR_CROSS		102
#define CMD_CURSOR_IBEAM		103
#define CMD_CURSOR_SIZE 		104
#define CMD_CURSOR_SIZENESW		105
#define CMD_CURSOR_SIZENS		106
#define CMD_CURSOR_SIZESWNE		107
#define CMD_CURSOR_SIZEWE		108
#define CMD_CURSOR_UPARROW		109
#define CMD_CURSOR_WAIT 		110
#define CMD_CURSOR_CUSTOM		111

ID_CUR_CUSTOM CURSOR "custom.cur"
ID_ICO_APPLICATION ICON "cursors_demo.ico"

ID_MENU_APPLICATION MENU
{
	POPUP "Cursors"
	{
		MENUITEM "Arrow", CMD_CURSOR_ARROW
		MENUITEM "Cross", CMD_CURSOR_CROSS
		MENUITEM "Ibeam", CMD_CURSOR_IBEAM
		MENUITEM "Size", CMD_CURSOR_SIZE
		MENUITEM "Sizenesw", CMD_CURSOR_SIZENESW
		MENUITEM "Sizens", CMD_CURSOR_SIZENS
		MENUITEM "Sizenwse", CMD_CURSOR_SIZESWNE
		MENUITEM "Sizewe", CMD_CURSOR_SIZEWE
		MENUITEM "Uparrow", CMD_CURSOR_UPARROW
		MENUITEM "Wait", CMD_CURSOR_WAIT
		MENUITEM SEPARATOR
		MENUITEM "Custom", CMD_CURSOR_CUSTOM
	}
}
