<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="UI.dialog_welcome">
      <Dialog Id="DialogWelcome" Width="375" Height="220" Title="[ProductName]">
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="375" Height="220" TabSkip="no" Text="backdrop.bmp" />
        <Control Id="Title" Type="Text" X="56" Y="13" Width="310" Height="57" Transparent="yes" NoPrefix="yes">
          <Text>[BigFont]Welcome to the [ProductName] Installation</Text>
        </Control>
        <Control Id="Description" Type="Text" X="11" Y="70" Width="354" Height="30" Transparent="yes" NoPrefix="yes">
          <Text>The installer will guide you through the steps required to install [ProductName] on your computer, to get you up and running as soon as possible.</Text>
        </Control>
        <Control Id="MissingCCompiler" Type="Text" X="11" Y="100" Width="354" Height="74" Transparent="yes" NoPrefix="yes">
          <Text>[TitleFont]Please note that [ProductName] requires a Microsoft C/C++ compiler to complete compilation. If you do not already have one, A Microsoft C/C++ compiler is freely available to download and install. Please click the 'View How To...' button for up-to-date details on how to obtain and configure the Microsoft Windows SDK.</Text>
          <Condition Action="hide"><![CDATA[C_CONFIG_CAN_COMPILE = "1"]]></Condition>
        </Control>
        <Control Id="View" Type="PushButton" X="276" Y="157" Width="90" Height="17" Text="[Button_ViewCompilerHowTo]">
          <Publish Event="DoAction" Value="ShowCCompilerHowTo">1</Publish>
          <Condition Action="hide"><![CDATA[C_CONFIG_CAN_COMPILE = "1"]]></Condition>
        </Control>
        <Control Id="LocatedCCompiler" Type="Text" X="11" Y="100" Width="354" Height="74" Transparent="yes" NoPrefix="yes">
          <Text>[TitleFont]The installer has automatically detected an installation of [C_CONFIG_MSC_ENVIRONMENT]. This C/C+ compiler will be used when completing the compilation in [ProductName].</Text>
          <Condition Action="hide"><![CDATA[C_CONFIG_MSC_ENVIRONMENT = "Unused"]]></Condition>
        </Control>
        <Control Id="Back" Type="PushButton" X="187" Y="193" Width="56" Height="17" Disabled="yes" Text="[Button_Back]" />
        <Control Id="Next" Type="PushButton" X="242" Y="193" Width="56" Height="17" Default="yes" Text="[Button_Next]">
          <Publish Event="NewDialog" Value="DialogViewLicenseAgreement">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="193" Width="56" Height="17" Cancel="yes" Text="[Button_Cancel]">
          <Publish Event="SpawnDialog" Value="PromptCancelInstall">1</Publish>
        </Control>        
      </Dialog>
    </UI>
  </Fragment>
</Wix>
