<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="UI.dialog_verify_ready_maintain">
      <Dialog Id="DialogVerifyReadyMaintain" Width="375" Height="220" Title="[ProductName]" TrackDiskSpace="yes">
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="375" Height="220" TabSkip="no" Text="backdrop.bmp" />
        <Control Id="Title" Type="Text" X="56" Y="13" Width="310" Height="57" Transparent="yes" NoPrefix="yes">
          <Text>[BigFont]About to Begin the [ProgressType4] for [ProductName]</Text>
        </Control>
        <Control Id="Description1" Type="Text" X="9" Y="73" Width="354" Height="26" Transparent="yes" NoPrefix="yes">
          <Text>The installer is ready to begin the [ProgressType3] for [ProductName].</Text>
        </Control>
        <Control Id="Description2" Type="Text" Height="16" Width="354" X="9" Y="162" Transparent="yes" NoPrefix="yes" Hidden="yes">
          <Text>Click the Repair button to start the [ProgressType3] process.</Text>
          <Condition Action="show"><![CDATA[InstallMode = "Repair"]]></Condition>
        </Control>
        <Control Id="Description3" Type="Text" Height="16" Width="354" X="9" Y="162" Transparent="yes" NoPrefix="yes" Hidden="yes">
          <Text>Click the Remove button to start the [ProgressType3] process.</Text>
          <Condition Action="show"><![CDATA[InstallMode = "Remove"]]></Condition>
        </Control>
        <Control Id="Back" Type="PushButton" X="187" Y="193" Width="56" Height="17" Text="[Button_Back]">
          <Publish Event="NewDialog" Value="DialogMaintenanceWelcome"></Publish>
        </Control>
        <Control Id="Repair" Type="PushButton" X="242" Y="193" Width="56" Height="17" Default="yes" Text="[Button_Repair]" Hidden="yes">
          <Condition Action="show"><![CDATA[InstallMode = "Repair"]]></Condition>
          <Publish Event="EndDialog" Value="Return"><![CDATA[OutOfDiskSpace <> 1]]></Publish>
          <Publish Event="SpawnDialog" Value="PromptOutOfRollbackDiskSpace"><![CDATA[OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND (PROMPTROLLBACKCOST="P" OR NOT PROMPTROLLBACKCOST)]]></Publish>
          <Publish Event="EndDialog" Value="Return"><![CDATA[OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST="D"]]></Publish>
          <Publish Event="EnableRollback" Value="False"><![CDATA[OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST="D"]]></Publish>
          <Publish Event="SpawnDialog" Value="PromptOutOfDiskSpace"><![CDATA[(OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 1) OR (OutOfDiskSpace = 1 AND PROMPTROLLBACKCOST="F")]]></Publish>
        </Control>
        <Control Id="Remove" Type="PushButton" X="242" Y="193" Width="56" Height="17" Text="[Button_Remove]" Hidden="yes">
          <Condition Action="show"><![CDATA[InstallMode = "Remove"]]></Condition>
          <Publish Event="Remove" Value="All"><![CDATA[OutOfDiskSpace <> 1]]></Publish>
          <Publish Event="EndDialog" Value="Return"><![CDATA[OutOfDiskSpace <> 1]]></Publish>
          <Publish Event="SpawnDialog" Value="PromptOutOfRollbackDiskSpace"><![CDATA[OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND (PROMPTROLLBACKCOST="P" OR NOT PROMPTROLLBACKCOST)]]></Publish>
          <Publish Event="EndDialog" Value="Return"><![CDATA[OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST="D"]]></Publish>
          <Publish Event="EnableRollback" Value="False"><![CDATA[OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST="D"]]></Publish>
          <Publish Event="SpawnDialog" Value="PromptOutOfDiskSpace"><![CDATA[(OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 1) OR (OutOfDiskSpace = 1 AND PROMPTROLLBACKCOST="F")]]></Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="193" Width="56" Height="17" Cancel="yes" Text="[Button_Cancel]">
          <Publish Event="SpawnDialog" Value="PromptCancelInstall">1</Publish>
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
