<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI  Id="UI.prompt_out_of_disk_space">
      <Dialog Id="PromptOutOfDiskSpace" Width="333" Height="249" Title="[ProductName]" NoMinimize="yes">
        <Control Id="Icon" Type="Icon" X="9" Y="13" Width="38" Height="38" FixedSize="yes" IconSize="48" Text="error.ico" />
        <Control Id="Title" Type="Text" X="56" Y="13" Width="268" Height="22" Transparent="yes" NoPrefix="yes">
          <Text>[BigFont]Out of Disk Space</Text>
        </Control>
        <Control Id="SubTitle" Type="Text" Height="13" Width="268" X="56" Y="35" Transparent="yes" NoPrefix="yes">
          <Text>[SubTitleFont]Disk space required for the [ProgressType3] exceeds available disk space.</Text>
        </Control>
        <Control Id="Description" Type="Text" X="9" Y="58" Width="315" Height="40">
          <Text>The highlighted volumes do not have enough disk space available for the currently selected features.  You can either remove some files from the highlighted volumes, or choose to install less features onto local drive(s), or select different destination drive(s).</Text>
        </Control>
        <Control Id="VolumeList" Type="VolumeCostList" X="9" Y="100" Width="315" Height="110" Sunken="yes" Fixed="yes" Remote="yes">
          <Text>{120}{70}{70}{70}{70}</Text>
        </Control>
        <Control Id="OK" Type="PushButton" X="268" Y="223" Width="56" Height="17" Default="yes" Cancel="no" Text="[Button_OK]">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
