<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?ifdef Enterprise?>
      <UI Id="UI.prompt_invalid_cd_key">
        <Dialog Id="PromptInvalidCdKey" Width="260" Height="85" Title="Invalid CD-Key?" NoMinimize="yes">
          <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" FixedSize="yes" IconSize="32" Text="error.ico" />
          <Control Id="Text" Type="Text" X="48" Y="15" Width="194" Height="30">
            <Text>The CD-Key entered is not a valid CD-Key for [ProductName]. Please check and try again.</Text>
          </Control>
          <Control Id="Okay" Type="PushButton" X="100" Y="57" Width="56" Height="17" TabSkip="no" Text="[Button_OK]">
            <Publish Event="EndDialog" Value="Return">1</Publish>
          </Control>
        </Dialog>
      </UI>
    <?endif?>
  </Fragment>
</Wix>
