<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ..\..\includes\Preprocessors.wxi?>
  <?ifdef EiffelEnvision?>

  <!--
    This include document is included under the Package node so you are free to define new directories, properties and features.
    Note: A directory is created for INSTALLDIR and TARGETDIR so please use DirectoryRef to reference them.
  -->
  <Fragment>

    <!-- PACKAGE COMPONENTS -->
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="PersonalFolder" Name="PersonalFolder">
        <Directory Id="EIFFELPROJECTSDIR" Name="Eiffel Projects" >
          <Component Id="Comp.eiffel_projects" Guid="0281A275-2D0F-478B-B415-648EE707E271" Win64="$(var.IsWin64)" >
            <Registry Root="HKCU" Key="Software\ISE\Eiffel60\ec" Name="ISE_PROJECTS" Value="[PROJECTDIR]" Id="registry33" Type="string" />
            <Registry Root="HKCU" Key="Software\ISE\Eiffel60\wizard" Name="ISE_PROJECTS" Value="[PROJECTDIR]" KeyPath="yes" Id="registry35" Type="string" />
            <CreateFolder />
            <RemoveFolder Id="EIFFELPROJECTSDIR" On="uninstall"/>
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
    <!-- END PACKAGE COMPONENTS -->

    <!-- ADDITIONAL PACKAGE CONTENT -->
    <CustomAction Id="is_gdi_plus_installed" BinaryKey="setup.dll" DllEntry="is_gdi_plus_installed" />
    <CustomAction Id="prepare_finalize_setup" BinaryKey="setup.dll" DllEntry="prepare_finalize_setup" />
    <CustomAction Id="finalize_setup" BinaryKey="setup.dll" DllEntry="finalize_setup" Impersonate="no" Execute="deferred" />
    <?ifdef Enterprise?>
    <CustomAction Id="is_cd_key_valid" BinaryKey="setup.dll" DllEntry="is_cd_key_valid" />
    <CustomAction Id="retrieve_cd_key" BinaryKey="setup.dll" DllEntry="retrieve_cd_key" />
    <?endif?>

    <InstallUISequence>
      <Custom Action="is_gdi_plus_installed" Before="AppSearch"/>
      <?ifdef Enterprise?>
      <Custom Action="retrieve_cd_key" Before="AppSearch"/>
      <?endif?>
    </InstallUISequence>
    <!-- END ADDITIONAL PACKAGE CONTENT -->

  </Fragment>

  <?endif?>
</Wix>