<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ..\..\includes\Preprocessors.wxi?>
  <?ifdef EiffelEnvision?>

  <!--
    This include document is included under the Package node so you are free to define new directories, properties and features.
    Note: A directory is created for INSTALLDIR and TARGETDIR so please use DirectoryRef to reference them.
  -->
  <Fragment>

  </Fragment>

  <?endif?>
</Wix>