/* line 1, ../scss/codeboard_static_demo.scss */
.slider-wrapper {
  position: relative;
  /* height: 270px; */
  height: 100%; }
  /* line 7, ../scss/codeboard_static_demo.scss */
  .slider-wrapper .slider {
    position: relative;
    height: 100%; }
    /* line 11, ../scss/codeboard_static_demo.scss */
    .slider-wrapper .slider .trigger {
      display: none; }
    /* line 15, ../scss/codeboard_static_demo.scss */
    .slider-wrapper .slider .slide {
      width: 100%;
      overflow: hidden;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 5000;
      opacity: 0;
      transition: opacity .5s ease-in-out;
      margin: 0; }
      /* line 28, ../scss/codeboard_static_demo.scss */
      .slider-wrapper .slider .slide .slide-item {
        width: 100%;
        max-width: 100%;
        height: 100%;
        /* margin: 0 auto; */
        vertical-align: middle;
        overflow: auto;
        display: flex;
        items-align: center;
        justify-content: center;
        border: solid 1px #ccc; }
        /* line 41, ../scss/codeboard_static_demo.scss */
        .slider-wrapper .slider .slide .slide-item > pre {
          width: 100%;
          padding-left: 10px;
          overflow: auto;
          border: none; }
      /* line 49, ../scss/codeboard_static_demo.scss */
      .slider-wrapper .slider .slide .slide-caption {
        font-size: smaller;
        padding: 0 1rem 0 1rem;
        position: absolute;
        top: -1rem;
        right: 2rem;
        color: #666;
        background-color: rgba(210, 210, 210, 0.6);
        text-align: center; }
  /* line 62, ../scss/codeboard_static_demo.scss */
  .slider-wrapper .slider .trigger:checked + .slide {
    z-index: 6000;
    opacity: 1; }
  /* line 67, ../scss/codeboard_static_demo.scss */
  .slider-wrapper .slider-nav {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    width: 100%;
    text-align: right;
    margin: 0;
    z-index: 6000; }
    /* line 76, ../scss/codeboard_static_demo.scss */
    .slider-wrapper .slider-nav .slider-nav__item {
      display: inline-block; }
    /* line 79, ../scss/codeboard_static_demo.scss */
    .slider-wrapper .slider-nav .slider-nav__label {
      font-size: 13px;
      background-color: #333;
      display: block;
      height: 2em;
      line-height: 2em;
      width: 2em;
      text-align: center;
      border-radius: 50%;
      border: solid 1px #ccc;
      color: white;
      cursor: pointer;
      transition: background-color .25s, color .25s ease-in-out; }
    /* line 94, ../scss/codeboard_static_demo.scss */
    .slider-wrapper .slider-nav .slider-nav__label:hover,
    .slider-wrapper .slider-nav .slider-nav__label:active,
    .slider-wrapper .slider-nav .slider-nav__label:focus {
      background-color: gray;
      color: black; }
    /* line 100, ../scss/codeboard_static_demo.scss */
    .slider-wrapper .slider-nav .slider-nav__label.slider-active {
      background-color: white;
      color: black; }

/* responsive layout */
@media only screen and (min-width: 1024px) {
  /* line 109, ../scss/codeboard_static_demo.scss */
  .slide-caption {
    font-size: 1.5rem; } }
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  /* line 114, ../scss/codeboard_static_demo.scss */
  .slide-caption {
    font-size: 1.25rem; } }
@media only screen and (max-width: 768px) {
  /* line 119, ../scss/codeboard_static_demo.scss */
  .slide-item {
    width: 100%;
    height: auto; } }
