#main {
	code, e, eiffel {
		display: block;
		font-family: monospace;
		white-space: pre-wrap;
		border: solid 1px #ccc;
		background-color: #fff;
		line-height: 1.3;
		padding: 10px;
		margin: 2px 0 2px 0;

		&.inline {
			display: inline;
			padding: 0 2px 0 2px;
			margin: 0;
			border: none;
			border-radius: 4px;
			background-color: #efefef;
		}
	}
}
