@charset "UTF-8";
div.download-channel > h3:first-letter {
  text-transform: uppercase;
}

.download-now-box {
  position: relative;
  float: right;
  margin-right: 5%;
  margin-bottom: 1rem;
  display: inline-block;
  padding: .5rem 1.4rem .5rem 1.4rem;
  background-color: #d4ebb0;
  border: solid 1px #99cc33;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: auto;
}
.download-now-box div.row {
  border-bottom: solid 1px #99cc33;
  margin-bottom: .5rem;
  text-align: center;
}
.download-now-box div.row > span {
  width: 100%;
}
.download-now-box a.btn-download {
  text-align: center;
  position: relative;
  display: inline-block;
  height: 35px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #769830;
  background-image: -moz-linear-gradient(top, #99cc33, #769830);
  background-image: -webkit-linear-gradient(top, #99cc33, #769830);
  letter-spacing: 1px;
  position: relative;
  padding: 15px 42px 0px 14px;
  color: white;
  font: 16px/16px "museo_sans500", Arial, Helvetica, sans-serif;
}
.download-now-box a.btn-download::after {
  position: absolute;
  right: 0px;
  margin-left: 1rem;
  margin-right: .2rem;
  font-size: 150%;
  content: '🡇';
}

div.download-channel > p.intro {
  margin: 1rem auto 2rem 1rem;
  width: 60%;
  border: dotted 1px #ccc;
  padding: 1rem;
}

div.download-channel div.product {
  position: relative;
}
div.download-channel div.product h2.title {
  cursor: pointer;
  color: black;
}
div.download-channel div.product h2.title.shown::before {
  color: #5cbb59;
  font-size: 60%;
  content: '▼ ';
}
div.download-channel div.product h2.title.hidden::before {
  color: #5cbb59;
  font-size: 60%;
  content: '⯈ ';
}
div.download-channel div.product h3 {
  margin-top: 1rem;
}
div.download-channel div.product h4 {
  font-size: 95%;
  position: absolute;
  right: 1rem;
  top: .2rem;
}
div.download-channel div.product table.download_decorator {
  width: 100%;
  margin-left: 1rem;
  border: solid 1px #cccccc99;
  font-size: 90%;
}
div.download-channel div.product table.download_decorator thead tr {
  background-color: #cccccccc;
}
div.download-channel div.product tr:hover {
  background-color: #ffffcccc;
}
div.download-channel div.product th, div.download-channel div.product td {
  padding: .4rem;
}
div.download-channel div.product td.filename {
  padding-left: 1rem;
}
div.download-channel div.product td.size::after {
  content: ' octets';
}
div.download-channel div.product td.platform {
  font-size: 90%;
}
div.download-channel div.product td.size {
  font-size: 80%;
}
div.download-channel div.product td.hash {
  font-size: 80%;
}
