<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="UI.dialog_missing_ms_compiler_warning">
      <Dialog Id="DialogMissingMsCompilerWarning" Width="375" Height="220" Title="[ProductName]">
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="375" Height="220" TabSkip="no" Text="backdrop_warn.bmp" />
        <Control Id="Title" Type="Text" X="56" Y="13" Width="309" Height="22" Transparent="yes" NoPrefix="yes">
          <Text>[BigFont]Missing Microsoft C/C++ Compiler</Text>
        </Control>
        <Control Id="SubTitle" Type="Text" Height="13" Width="302" X="56" Y="35" Transparent="yes" NoPrefix="yes">
          <Text>[SubTitleFont]The installer has detected missing software</Text>
        </Control>
        <Control Id="Description" Type="Text" X="9" Y="73" Width="356" Height="32" Transparent="yes">
          <Text>[ProductName] requires a C/C++ compiler in order to completely compile Eiffel/Eiffel for .NET projects.</Text>
        </Control>
        <Control Id="Reason" Type="Text" Height="32" Width="295" X="40" Y="99" Transparent="yes" NoPrefix="yes">
          <Text>[TitleFont]Reason: [CANCCOMPILEERROR]</Text>
        </Control>
        <Control Id="Description2" Type="Text" Height="44" Width="356" X="9" Y="125" Transparent="yes" NoPrefix="yes">
          <Text>A Microsoft C/C++ compiler is freely available to download and install. Please visit [INSTALLCURL] for up-to-date details on how to obtain and configure the Microsoft Windows SDK.</Text>
        </Control>
        <Control Id="View" Type="PushButton" X="276" Y="157" Width="90" Height="17" Text="[Button_ViewCompilerHowTo]">
          <Publish Event="DoAction" Value="ShowCCompilerHowTo">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="242" Y="193" Width="56" Height="17" Default="yes" Text="[Button_Next]">
          <Publish Event="NewDialog" Value="DialogPrecompileChoice">1</Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="187" Y="193" Width="56" Height="17" Text="[Button_Back]">
          <Publish Event="NewDialog" Value="DialogCCompilerChoice"><![CDATA[CHECKCCOMPILER <> "1" AND HASMSCCOMPILER <> "1"]]></Publish>
          <Publish Event="NewDialog" Value="DialogSelectFolder"><![CDATA[CHECKCCOMPILER = "1" OR HASMSCCOMPILER = "1"]]></Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="193" Width="56" Height="17" Cancel="yes" Text="[Button_Cancel]">
          <Publish Event="SpawnDialog" Value="PromptCancelInstall">1</Publish>
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
  