<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="UI.dialog_maintenance_welcome">
      <RadioButtonGroup Property="MaintenanceMode">
        <RadioButton Value="Repair" X="5" Y="5" Width="213" Height="14" Text="&amp;Reinstall [ProductName]" />
        <RadioButton Value="Remove" X="5" Y="19" Width="213" Height="14" Text="&amp;Uninstall [ProductName]"/>
      </RadioButtonGroup>
      
      <Dialog Id="DialogMaintenanceWelcome" Width="375" Height="220" Title="[ProductName]">       
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="375" Height="220" TabSkip="no" Text="backdrop_c.bmp" />
        <Control Id="Title" Type="Text" X="56" Y="13" Width="310" Height="57" Transparent="yes" NoPrefix="yes">
          <Text>[BigFont]Welcome to the [ProductName] Maintanance Installation</Text>
        </Control>
        <Control Id="Description2" Type="Text" X="11" Y="70" Width="354" Height="30" Transparent="yes" NoPrefix="yes">
          <Text>The maintanence installer will guide you through the steps required to repair or uninstall [ProductName] on your computer.</Text>
        </Control>
        <Control Id="Description3" Type="Text" X="11" Y="110" Width="354" Height="30" Transparent="yes" NoPrefix="yes">
          <Text>Please select from one of the maintenance options and then click Next to continue.</Text>
        </Control>
        <Control Id="Choice" Type="RadioButtonGroup" X="40" Y="135" Width="218" Height="36" Property="MaintenanceMode" TabSkip="no"/>
        <Control Id="Back" Type="PushButton" X="187" Y="193" Width="56" Height="17" Disabled="yes" Text="[Button_Back]" />
        <Control Id="Next" Type="PushButton" X="242" Y="193" Width="56" Height="17" Default="yes" Text="[Button_Next]">
          <Publish Property="ProgressType1" Value="Removing"><![CDATA[MaintenanceMode = "Remove"]]></Publish>
          <Publish Property="ProgressType2" Value="removed"><![CDATA[MaintenanceMode = "Remove"]]></Publish>
          <Publish Property="ProgressType3" Value="removal"><![CDATA[MaintenanceMode = "Remove"]]></Publish>
          <Publish Property="ProgressType4" Value="Removal"><![CDATA[MaintenanceMode = "Remove"]]></Publish>
          <Publish Property="Button_Install" Value="&amp;Remove"><![CDATA[MaintenanceMode = "Remove"]]></Publish>
          <Publish Property="InstallMode" Value="Remove"><![CDATA[MaintenanceMode = "Remove"]]></Publish>

          <Publish Property="ProgressType1" Value="Repairing"><![CDATA[MaintenanceMode = "Repair"]]></Publish>
          <Publish Property="ProgressType2" Value="repaired"><![CDATA[MaintenanceMode = "Repair"]]></Publish>
          <Publish Property="ProgressType3" Value="repair"><![CDATA[MaintenanceMode = "Repair"]]></Publish>
          <Publish Property="ProgressType4" Value="Repair"><![CDATA[MaintenanceMode = "Repair"]]></Publish>
          <Publish Property="Button_Install" Value="&amp;Repair"><![CDATA[MaintenanceMode = "Repair"]]></Publish>
          <Publish Property="InstallMode" Value="Repair"><![CDATA[MaintenanceMode = "Repair"]]></Publish>
          
          <Publish Event="NewDialog" Value="DialogVerifyReadyMaintain">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="309" Y="193" Width="56" Height="17" Cancel="yes" Text="[Button_Cancel]">
          <Publish Event="SpawnDialog" Value="PromptCancelInstall">1</Publish>
        </Control>        
      </Dialog>
    </UI>
  </Fragment>
</Wix>
