<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ..\includes\Preprocessors.wxi?>
  
  <Fragment>
    <?ifdef Enterprise?>
      <UI Id="UI.dialog_register">
        <Dialog Id="DialogRegister" Width="375" Height="220" Title="[ProductName]">
          <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="375" Height="220" TabSkip="no" Text="backdrop.bmp" />
          <Control Id="Title" Type="Text" X="55" Y="14" Width="300" Height="22" Transparent="yes" NoPrefix="yes">
            <Text>[BigFont]Enter License Information</Text>
          </Control>
          <Control Id="SubTitle" Type="Text" X="55" Y="37" Width="300" Height="15" Transparent="yes" NoPrefix="yes">
            <Text>[SubTitleFont]Please use the license information to continue the installation.</Text>
          </Control>
          <Control Id="Description" Type="Text" Height="38" Width="356" X="9" Y="70" Transparent="yes">
            <Text>Please enter you name, company/organization (if applicable) and the CD-key provided to you, by [Manufacturer], to continue with the installation of [ProductName].</Text>
          </Control>
          <Control Id="NameText" Type="Text" X="9" Y="108" Width="58" Height="17" Transparent="yes">
            <Text>&amp;Name:</Text>
          </Control>
          <Control Id="NameEdit" Type="Edit" X="72" Y="106" Width="127" Height="17" Property="USERNAME" TabSkip="no"/>
          <Control Id="OrganizationText" Type="Text" X="9" Y="129" Width="58" Height="17" Transparent="yes">
            <Text>&amp;Organization:</Text>
          </Control>
          <Control Id="OrganizationEdit" Type="Edit" X="72" Y="127" Width="127" Height="17" Property="ORGANIZATIONNAME" TabSkip="no">
            <Text>None</Text>
          </Control>
          <Control Id="CdKeyText" Type="Text" X="9" Y="150" Width="58" Height="17" Transparent="yes">
            <Text>CD-&amp;Key:</Text>
          </Control>
          <Control Id="CdKeyEdit" Type="Edit" X="72" Y="148" Width="177" Height="17" Property="PIDKEY"/>
          <Control Id="Back" Type="PushButton" X="187" Y="193" Width="56" Height="17" Default="yes" Text="[Button_Back]">
            <Publish Event="NewDialog" Value="DialogViewLicenseAgreement">1</Publish>
          </Control>
          <Control Id="Next" Type="PushButton" X="242" Y="193" Width="56" Height="17" Text="[Button_Next]">
            <Publish Event="DoAction" Value="ValidateCdKey">1</Publish>
            <Publish Event="SpawnDialog" Value="PromptInvalidCdKey"><![CDATA[PIDACCEPTED <> "1"]]></Publish>
            <?ifdef EiffelStudio?>
              <Publish Event="NewDialog" Value="DialogSelectFolder"><![CDATA[PIDACCEPTED = "1"]]></Publish>
            <?endif?>
            <Condition Action="enable"><![CDATA[NOT (PIDKEY = "" OR USERNAME = "")]]></Condition>
            <Condition Action="disable"><![CDATA[PIDKEY = "" OR USERNAME = ""]]></Condition>
          </Control>
          <Control Id="Cancel" Type="PushButton" X="309" Y="193" Width="56" Height="17" Cancel="yes" Text="[Button_Cancel]">
            <Publish Event="SpawnDialog" Value="PromptCancelInstall">1</Publish>
          </Control>
        </Dialog>
      </UI>
    <?endif?>
  </Fragment>
</Wix>
