@import "../variables";
@import "../base/base-reset";
@import "../markup-mixins";
@import "../960";

/* Codeboard */

.codeboard {
  float: right;
}

.container-codeboard {
	@include grid-container;
	@extend %clearfix;
  height: 800px;
}

.ideHeader {
  width: 100%;
  height: 54px;
  border: 1px solid #a9a9a9;
}

.btn-codeboard {
  background-color: #2B4054;
  background-image: -webkit-linear-gradient(top, #2B4054, #2B4054);
  background-image: -moz-linear-gradient(top, #2B4054, #2B4054);
  background-image: -ms-linear-gradient(top, #2B4054, #2B4054);
  background-image: -o-linear-gradient(top, #2B4054, #2B4054);
  background-image: linear-gradient(top, #2B4054, #2B4054);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /*width: 263px;
  height: 63px;*/
  display: block;
  margin: 0 auto;
  font: 12px/35px "museo_sans500", Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  position: absolute;
  top: 25px;
  right: 230px;
  padding: 0 2px 0 2px;
  &:after {
	  width: 37px;
	  height: 37px;
	  position: absolute;
	  right: 16px;
	  top: 13px;
	  content: '';
  }
  &:hover {
    color: white;
	  background-color: #12273A;
	  background-image: -webkit-linear-gradient(top, #12273A, #12273A);
	  background-image: -moz-linear-gradient(top, #12273A, #12273A);
	  background-image: -ms-linear-gradient(top, #12273A, #12273A);
	  background-image: -o-linear-gradient(top, #12273A, #12273A);
	  background-image: linear-gradient(top, #12273A, #12273A);
  }
}

