@import "../variables";
@import "../base/base-reset";
@import "../markup-mixins";
@import "../960";

/* doc specific */

#content.documentation {
	@include grid(8);
	padding: 0;
	width: 757px;
	overflow:hidden;
	.holder {
		@include grid(8);
		overflow:scroll;
		width: 757px;
	}
}

/* WDOCS nav tree */

#wdocs-tree.menu {
	border: solid 1px #ccc;
	background-color: #fff;
	padding: 0;
	>ul>li {
		padding: 5px 0 3px 5px;
		border-top: solid 1px #bbf;
		>a {
			color: $green-light;
		}
		&.expandable>*+a {
			display: inline-block;
			width: 85%;
			border-bottom: dotted 1px #bbf;
		}
	}
	>ul>li>span.treeitemcontrol {
		border: solid 1px #ccf;
		background-color: $green-light-bg;
		color: $base-link-color;
		&:hover {
			background-color: $base-link-color;
			color: #fff;
		}
	}
	>ul>li>ul>li>ul>li {
		font-size: smaller;
		a {
			color: #669;
		}
	}

	span.treeitemcontrol {
		font-family: "Lucida Console", "Courier New", "serif";
		padding-left: 2px;
		padding-right: 2px;
		margin-left: 2px;
		&:hover {
			background-color: $base-link-color;
			color: #fff;
		}
	}
	>ul>li>ul>* {
		font-size: smaller;
		background-color: #fff;
		padding-left: 10px;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
	ul li {
		padding-left: 10px;
		&:hover {
			background-color: #ddd;
		}
		a:hover {
			color: blue;
		}
	}

	li.active {
		font-weight: bold;
		border-right: solid 3px #ccc;
	}
	li.active li {
		font-weight: normal;
		border-right: dotted 3px #eee;
	}

	li.expandable:not(.expanded) li {
		border-left: dotted 4px red;
		display: none;
	}
	li.expandable.expanded>a {
		font-weight: bold;
	}
	//li:not(.expandable)>a:before {
	//content: "- ";
	//}

	//li.expandable:not(.expanded)>a:before {
	//content: "[>] "
	//}
	//li.expandable.expanded>a:before {
	//content: "[V] "
	//}
}

.wikipage {
	table {
		border: solid 1px #000;
		margin-bottom: 5px;
	}
	td {
		border: solid 1px #000;
		padding: 2px;
	}
	code {
		display: block;
		font-family: monospace;
		border: solid 1px #999;
		background-color: #ffc;
		padding: 3px;
		margin: 2px 0 2px 0;
	}
	code.inline {
		border: dotted 1px #ccc;
		display: inline-block;
		padding: 0 2px 0 2px;
		margin: 0;
	}
}
