@import "../variables";
@import "../base/base-reset";
@import "../markup-mixins";
@import "../960";
@import "variables";

/* WDOCS nav tree */

#wdocs-tree.menu {
	border: solid 1px $wdocs-border-color;
	background-color: $wdocs-bg-color;
	color: $wdocs-color;
	padding: 0;
	a {
		color: $wdocs-color;
	}
	>ul>li {
		cursor: pointer;
		padding: 5px 0 3px 5px;
		border-top: solid 1px $wdocs-border-color;
		>a {
			color: $wdocs-link-color;
		}
		&.expandable>*+a {
			display: inline-block;
			width: 85%;
		}
	}
	>ul>li>.treeitemcontrol {
		border: solid 1px $wdocs-border-color;
		background-color: $green-light-bg;
		color: $wdocs-link-color;
		&:hover {
			background-color: $wdocs-link-color;
			color: $wdocs-bg-color;
		}
	}
	>ul>li>ul>li>ul>li {
	}

	.treeitemcontrol {
		font-family: "Lucida Console", "Courier New", "serif";
		padding-left: 2px;
		padding-right: 2px;
		margin-left: 2px;
		&:hover {
			background-color: $wdocs-link-color;
			color: $wdocs-bg-color;
		}
	}
	>ul>li>ul>* {
		font-size: smaller;
		background-color: $wdocs-bg-color;
		padding-left: 10px;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
	ul li {
		padding-left: 10px;
		a:hover {
			color: $wdocs-link-h-color;
		}
	}

	li.active {
		font-weight: bold;
		border-left: dotted 1px $wdocs-border-color;
		border-right: solid 3px $wdocs-border-color;
	}
	li.active li {
		font-weight: normal;
	}

	li.expandable:not(.expanded) li {
		display: none;
	}
	li.expandable.expanded>a {
		font-weight: bold;
	}
	//li:not(.expandable)>a:before {
	//content: "- ";
	//}

	//li.expandable:not(.expanded)>a:before {
	//content: "[>] "
	//}
	//li.expandable.expanded>a:before {
	//content: "[V] "
	//}
}

.wikipage {
	table {
		border: solid 1px #000;
		margin-bottom: 5px;
	}
	td {
		border: solid 1px #000;
		padding: 2px;
	}
	code {
		display: block;
		font-family: monospace;
		border: solid 1px #999;
		background-color: #ffc;
		padding: 3px;
		margin: 2px 0 2px 0;
	}
	code.inline {
		border: dotted 1px #ccc;
		display: inline-block;
		padding: 0 2px 0 2px;
		margin: 0;
	}
	line-height: 1.8;
	h1 {
		margin-top: 5px;
		border-bottom: solid 2px $wdocs-border-color;
	}
	h2 {
		margin-top: 5px;
		border-bottom: solid 1px $wdocs-border-color;
	}
	h3 {
		margin-top: 3px;
		border-bottom: dotted 1px $wdocs-border-color;
	}
}
