@import "../variables";
@import "../base/base-reset";
@import "../markup-mixins";
@import "../960";

/* doc specific */

#content.documentation {
	@include grid(8);
	padding: 0;
	width: 757px;
	overflow:hidden;
	.holder {
		@include grid(8);
		overflow:scroll;
		width: 757px;
	}
}

/* WDOCS nav tree */

#wdocs-tree.menu {
	>ul>li {
		background-color: $green-light-bg;
		border-top: dotted 1px #bbf;
		margin: 2px;
	}
	>ul>li>a.treeitemcontrol {
		font-family: "Lucida Console", "Courier New", "serif";
		background-color: #fff;
		border: solid 1px #ccf;
		padding-left: 3px;
		padding-right: 3px;
		margin-left: -3px;
	}
	>ul>li>ul>* {
		background-color: #fff;
	}
	ul {
		list-style-type: none;
		padding: 0px;
	}
	ul li {
		padding-left: 0px;
	}

	li.active {
		font-weight: bold;
		border-right: solid 2px #ccc;
	}
	li.active li {
		font-weight: normal;
		border-right: dotted 2px #eee;
	}

	li.expandable:not(.expanded) li {
		border-left: dotted 4px red;
		display: none;
	}
	li.expandable.expanded>a {
		font-weight: bold;
	}
	//li:not(.expandable)>a:before {
	//content: "- ";
	//}

	//li.expandable:not(.expanded)>a:before {
	//content: "[>] "
	//}
	//li.expandable.expanded>a:before {
	//content: "[V] "
	//}
}

