Source: ${ise:product}
Maintainer: ${ise:name} <${ise:email}>

Package: ${ise:product}
Section: devel
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: TODO: short description of EiffelStudio GPL
 TODO: longer description of EiffelStudio GPL


Package: ${ise:product}-doc
Section: doc
Priority: optional
Architecture: all
Depends: 
Description: TODO: short description of Eiffel Documentation
 TODO: longer description of Eiffel Documentation