div.download-channel {
	&>h3:first-letter {
		text-transform: uppercase;
	}
}
.download-now-box {
	position: relative;
	float: right;
	margin-right: 5%;
	margin-bottom: 1rem;
	display: inline-block;
    padding: .5rem 1.4rem .5rem 1.4rem;
    background-color: #d4ebb0;
    border: solid 1px #99cc33;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    width: auto;
    div.row {
    	border-bottom: solid 1px #99cc33;
    	margin-bottom: .5rem;
    	text-align: center;
    	> span {
    		width: 100%;
    	}
    }
    a.btn-download {
    	text-align: center;
		position: relative;
    	display: inline-block;
    	height: 35px;
    	-moz-border-radius:5px;
    	-webkit-border-radius:5px;
    	background-color: #769830;
    	background-image: -moz-linear-gradient(top, #99cc33, #769830);
    	background-image: -webkit-linear-gradient(top, #99cc33, #769830);
		letter-spacing: 1px;
		position: relative;
		padding: 15px 42px 0px 14px;    	
    	color: white;
    	font: 16px/16px "museo_sans500", Arial, Helvetica, sans-serif;
    	&::after {
    		position: absolute;
    		right: 0px;
    		margin-left: 1rem;
    		margin-right: .2rem;
    		font-size: 150%;
    		content: '🡇';
    	}
    }
}

div.download-channel > p.intro {
	margin: 1rem auto 2rem 1rem;
	width: 60%;
	border: dotted 1px #ccc;
	padding: 1rem;
}
div.download-channel div.product {
	position: relative;
	h2.title {
		cursor: pointer;
		color: black;
	}
	h2.title.shown {
		&::before {
			color: #5cbb59;
			font-size: 60%;
			content: '▼ ';
		}
	}
	h2.title.hidden {
		&::before {
			color: #5cbb59;
			font-size: 60%;
			content: '⯈ ';
		}
	}
	h3 {
		margin-top: 1rem;
	}
	h4 {
		font-size: 95%;
		position: absolute;
		right: 1rem;
		top: .2rem;
	}
	table.download_decorator {
		width: 100%;
		margin-left: 1rem;
		border: solid 1px #cccccc99;
		thead tr {
			background-color: #cccccccc;
		}
		font-size: 90%;
	}
	tr:hover {
		background-color: #ffffcccc;
	}
	th, td {
		padding: .4rem;
	}
	td.filename {
		padding-left: 1rem;
	}
	td.size::after {
		content: ' octets';
	}
	td.platform {
		font-size: 90%;
	}
	td.size {
		font-size: 80%;
	}
	td.hash {
		font-size: 80%;
	}

}
