form .download-box {
    background-color:#F2F7F9;
    padding:20px;
    border: 6px solid #8FB5C1;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:relative;
 
	h1 {
		font-size:42px;
	}
	 
	h2 {
		margin-bottom:15px;
		font-style:italic;
		font-weight:normal;
	}
	 
	label {
		font-size:15px;
		margin-bottom:2px;
		display:block;
	}
 
	input, select, textarea {
		width:100%;
		font-size:15px;
		border: 1px solid #CEE1E8;
		margin-bottom:20px;
		padding:4px;
		&:focus {
			border: 1px solid #AFCDD8;
			background-color: #EBF2F4;
		}
	}
	 
	textarea {
		height:150px;
		resize: none;
	}
	 
	span.required {
		font-weight:bold;
		color:#F00;    
	}
	 
	input[type=submit] {
		width: 100px;
		background-color:#333;
		color:#FFF;
		border:none;
		display:block;
		float:right;
		margin-bottom:0px;
		margin-right:6px;
		background-color:#8FB5C1;
		-moz-border-radius:8px;
		&:hover {
			background-color: #A6CFDD;
		}
		&:active {
			position:relative;
			top:1px;
		}
	}

	.message {
		width:95%;
		margin:25px 0px;
		padding:10px;
		display:block;
		border:solid 1px #ccc;
		border-radius:8px;
		-webkit-border-radius:8px;
		-moz-border-radius:8px;

		&.hidden {
			display: none;
		}

		&.error {
			border-color: #E58E8E;
			background-color:#FFE6E6;
		 
			li {
				padding:2px;
				list-style:none;    
				&:before { content: ' - ';    }
			}
			#info {
				font-weight:bold;
				&:before { content: '';    }
			}
		}

		&.success {
			border-color: #83D186;
			padding-top: 25px;
			background-color:#D3EDD3;
		}
	}
 
	.req-field-desc {
		font-style:italic;
	}
	 
	/* Remove box shadow firefox, chrome and opera put around required fields. 
	 * It looks rubbish. 
	 */
	input:required, textarea:required {
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		-o-box-shadow:none;
		box-shadow:none;
	}
	 
	/* Normalize placeholder styles */
	 
	/* chrome, safari */
	::-webkit-input-placeholder {
		color:#CCC;
		font-style:italic;
	}
	 
	/* mozilla */
	input:-moz-placeholder, textarea:-moz-placeholder {
		color:#CCC;
		font-style:italic;
	}
	 
	/* ie (faux placeholder) */
	input.placeholder-text, textarea.placeholder-text  { 
		color:#CCC;
		font-style:italic;
	}

}

