#include "resource.h"

/* Application icon */
IDI_WEL_APPLICATION           ICON    DISCARDABLE     "<FL_PROJECT_NAME_LOWERCASE>.ico"

/* About Dialog Box */
IDD_ABOUTBOX DIALOG DISCARDABLE  0, 0, 235, 55
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About <FL_PROJECT_NAME>"
FONT 8, "MS Sans Serif"
BEGIN
    ICON            IDI_APPLICATION,IDC_STATIC,11,17,20,20
    LTEXT           "<FL_PROJECT_NAME> Version 1.0",IDC_STATIC,40,10,119,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2000",IDC_STATIC,40,25,119,8
    DEFPUSHBUTTON   "OK",IDOK,178,7,50,14,WS_GROUP
END

/* Main Dialog Box */
IDD_<FL_PROJECT_NAME_UPPERCASE>_DIALOG DIALOG 0, 0, 320, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "<FL_PROJECT_NAME>"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,260,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,260,23,50,14
    LTEXT           "Place your controls here.",IDC_STATIC,50,90,200,8
END

