ul.taxonomy {
	font-size: 80%;
	list-style-type: none;
	font-style: italic;
	margin: 0;
	li {
		a:hover {
			text-decoration: none;
		}
		padding: 2px;
		margin-right: 3px;
		display: inline-block;
		border: none;
		&:hover {
			padding: 1px;
			border-top: solid 1px #66f;
			border-bottom: solid 1px #66f;
			background-color: #ddf;
		}
	}
}
table.taxonomy {
	td {
		border: solid 1px #ccc;
		padding: 2px;
	}
}
