@charset "utf-8";
/* CSS Document */

body, td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
body {
	margin: 20px;
}
h1 {
	font-size: 15px;
	font-weight: normal;
}
h2 {
	font-size: 14px;
	font-weight: normal;
}

.button {
	height: 15pxm;
	width: auto;
	margin: 3px;
	/*float: left;*/
	background-color: #666666;
	border-color: #000000;
	border-width: 2px;
}

table.default {
	border-width: 3px 3px 3px 3px;
	border-spacing: 2px;
	border-style: outset outset outset outset;
	border-color: white white white white;
	border-collapse: collapse;
	background-color: white;
}
table.default th {
	border-width: 1px 1px 1px 1px;
	padding: 4px 4px 4px 4px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.default td {
	border-width: 1px 1px 1px 1px;
	padding: 4px 4px 4px 4px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
.buttontext {
	margin-left:4px;
	margin-right:4px;
	margin-top:2px;
	margin-bottom:2px;
	color:#FFFFFF;
	font-weight: bold;	
}


#main {
}
#header {
	color: #FFFFFF;
	background-color: #F15922;
	font-size: 16px;
}
#header #title {
	padding: 4px;
}
#footer {
	clear: both;
	color: #FFFFFF;
	background-color: #F15922;
	margin-top: 20px
}

#footer #footertext{
	padding: 2px;
}
#content {
}
a:link {
	color: #000066;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000066;
}
a:hover {
	text-decoration: underline;
	color: #000066;
}
a:active {
	text-decoration: none;
	color: #000066;
}

