#define ID_ICO_APPLICATION		1
#define ID_ICO_CHILD_WINDOW		2

#define ID_MENU_APPLICATION		1

#define CMD_FILE_OPEN			100
#define CMD_FILE_CLOSE			101
#define CMD_FILE_EXIT			102

#define CMD_WINDOW_TILE_VERTICAL	200
#define CMD_WINDOW_TILE_HORIZONTAL	201
#define CMD_WINDOW_CASCADE		202
#define CMD_WINDOW_ARRANGE		203

ID_ICO_APPLICATION ICON "compound.ico"
ID_ICO_CHILD_WINDOW ICON "child.ico"

ID_MENU_APPLICATION MENU
{
	POPUP "&File"
	{
		MENUITEM "&Open...", CMD_FILE_OPEN
		MENUITEM "&Close", CMD_FILE_CLOSE
		MENUITEM SEPARATOR
		MENUITEM "E&xit", CMD_FILE_EXIT
	}

	POPUP "&Window"
	{
		MENUITEM "Tile &vertical", CMD_WINDOW_TILE_VERTICAL
		MENUITEM "Tile &horizontal", CMD_WINDOW_TILE_HORIZONTAL
		MENUITEM "&Cascade", CMD_WINDOW_CASCADE
		MENUITEM "&Arrange icons", CMD_WINDOW_ARRANGE
	}
}
