/* Code/Eiffel related */

/* Code elements */

code {
	@include border-radius(4px);
	display: block;
	font-family: monospace;
	white-space: pre-wrap;
	tab-size: 4;
	-moz-tab-size: 4; /* Code for Firefox */
	-o-tab-size: 4; /* Code for Opera 10.6-12.1 */

	border: solid 1px #ccc;
	color: #1a1a1a;
	background-color: #fff;
	line-height: 1.3;
	padding: 10px;
	margin: 2px 0 2px 0;
	&.inline {
		@include border-radius(0);
		border: dotted 1px #ddd;
		display: inline-block;
		padding: 0 .3em 0 .3em !important;
		color: #1a1a1a !important;
		background-color: #fff !important;
		border: dotted 1px #ddd !important;
		margin: 0;
	}
	.lang-eiffel {
		.typ { color: #00f; }
		.atg { color: #000; }
		.fcl { color: #000; font-style: normal; }
		.com { font-style: italic; }
	}
}

/* ... */



/* Contents ... */

#primary-tabs {
	ul.horizontal {
		list-style-type: none;
		li {
			display: inline;
			padding: 2px 5px;
			border: solid 1px #ccf;
		}
		li.active {
			border-color: #99f #99f #ddd;
			border-style: solid solid none;
			border-width: 2px 1px 0;
			padding: 2px 7px 1px;
		}
	}
}
