table.eiffel_org_nodes{ 
	width:100%;
	caption { 
 		 font-size: 2rem; color: #444;
  		 margin: 1rem;
 		 background-size: contain;
 		 background-repeat: no-repeat;
  		 background-position: center left, center right; 
	}
	
	thead
	  {
		th {
		    background-color: #0E9A8F;
		    color: white;
	    	border: 1px solid black;
	    	text-align: left;
	    	padding-left:4px;
		}
	}	

	tbody{
		 td {
			 border: 1px solid black;
			 font: 16px/24px "Open Sans", Arial, Helvetica, sans-serif;
			 padding-left:4px;
			 display: table-cell;
  			 vertical-align: top; 
    	}
    }	
}    
