$wdocs-color: #112935;
$wdocs-h1-color: #063991;
$wdocs-h2-color: #5082D9;
$wdocs-h3-color: #178752;
$wdocs-border-color: #ccc;
$wdocs-bg-color: #fff;
$wdocs-link-color: $base-link-color;
$wdocs-link-h-color: $base-link-h-color;
$wdocs-link-active-bg-color:rgba(240,240,255,0.6);
$wdocs-nav-color: $base-link-color;
$wdocs-nav-bg-color:rgba(220,220,220,0.7);
$wdocs-tree-arrow: #777;
$wdocs-tree-arrow-light: #ddd;
$wdocs-tree-arrow-hover: #999;
$wdocs-fade: #999;
$front-box-radius:6px;
$front-box-bg-color:rgba(255,255,255,0.75);
