@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box {
	@include border-radius(3px);
	padding: 20px;
	border: solid 1px #ccc;
	background-color: #eee;
}
