<?xml version="1.0"?>
<!--
	This WiX document includes the App Searches and resulting property assignments, and defaults, for all Eiffel Software products
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<?include includes\Preprocessors.wxi?>
		
		<!-- APP SEARCHES -->
		<?ifdef EiffelStudio?>
			<!-- EiffelStudio Specific -->
      <Property Id="FXINSTALLROOT">0<RegistrySearch Id="RegFxPath" Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework" Name="InstallRoot" Type="raw" Win64="$(var.IsWin64)" /></Property>
		<?endif?>

		<?ifdef EiffelEnvision?>
			<!-- EiffelEnvision Specific -->
		<?endif?>			
		<!-- END APP SEARCHES -->
	
	</Fragment>
</Wix>
