<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Module Id="dotnet" Guid="26D33D6D-3A8D-4EEE-A3CD-664C59885A41" Language="0" Version="5.7">
		<Package Id="26D33D6D-3A8D-4EEE-A3CD-664C59885A41" Keywords="MergeModule, MSI, Database" Description="Eiffel for .NET Support" Manufacturer="ISE Inc." InstallerVersion="200" Languages="1033" Compressed="yes" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Component Id="registry" Guid="1E275E79-401F-4B47-A0DE-E1B839C1D8F0" Win64="$(var.IsWin64)" >
				<Registry Id="registry" Root="HKLM" Key="SOFTWARE\ISE\Eiffel57\EiffelSoftware.MetadataConsumer" Name="ISE_EIFFEL" Value="[Application]" Type="string" />

					<!-- Registration information for EiffelSoftware.MetadataConsumer.dll -->
				<Registry Id="cons_reg14" Root="HKCR" Key="EiffelSoftware.MetadataConsumer.Interop.Impl.COM_CACHE_MANAGER" Value="EiffelSoftware.MetadataConsumer.Interop.Impl.COM_CACHE_MANAGER" Type="string" />
				<Registry Id="cons_reg15" Root="HKCR" Key="EiffelSoftware.MetadataConsumer.Interop.Impl.COM_CACHE_MANAGER\CLSID" Value="{E1FFE1AC-94DE-490F-AFD8-0B54ACE9702F}" Type="string" />
				<Registry Id="cons_reg0" Root="HKCR" Key="CLSID\{E1FFE1AC-94DE-490F-AFD8-0B54ACE9702F}" Value="EiffelSoftware.MetadataConsumer.Interop.Impl.COM_CACHE_MANAGER" Type="string" />
				<Registry Id="cons_reg1" Root="HKCR" Key="CLSID\{E1FFE1AC-94DE-490F-AFD8-0B54ACE9702F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" />
				<Registry Id="cons_reg2" Root="HKCR" Key="CLSID\{E1FFE1AC-94DE-490F-AFD8-0B54ACE9702F}\InprocServer32" Value="mscoree.dll" Type="string" />
				<Registry Id="cons_reg3" Root="HKCR" Key="CLSID\{E1FFE1AC-94DE-490F-AFD8-0B54ACE9702F}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" />
				<Registry Id="cons_reg4" Root="HKCR" Key="CLSID\{E1FFE1AC-94DE-490F-AFD8-0B54ACE9702F}\InprocServer32" Name="Class" Value="EiffelSoftware.MetadataConsumer.Interop.Impl.COM_CACHE_MANAGER" Type="string" />
				<Registry Id="cons_reg5" Root="HKCR" Key="CLSID\{E1FFE1AC-94DE-490F-AFD8-0B54ACE9702F}\InprocServer32" Name="Assembly" Value="EiffelSoftware.MetadataConsumer, Version=5.7.414.0, Culture=neutral, PublicKeyToken=def26f296efef469" Type="string" />
				<Registry Id="cons_reg6" Root="HKCR" Key="CLSID\{E1FFE1AC-94DE-490F-AFD8-0B54ACE9702F}\InprocServer32" Name="RuntimeVersion" Value="v1.0.3705" Type="string" />
				<Registry Id="cons_reg8" Root="HKCR" Key="CLSID\{E1FFE1AC-94DE-490F-AFD8-0B54ACE9702F}\InprocServer32\5.7.414.0" Name="Class" Value="EiffelSoftware.MetadataConsumer.Interop.Impl.COM_CACHE_MANAGER" Type="string" />
				<Registry Id="cons_reg9" Root="HKCR" Key="CLSID\{E1FFE1AC-94DE-490F-AFD8-0B54ACE9702F}\InprocServer32\5.7.414.0" Name="Assembly" Value="EiffelSoftware.MetadataConsumer, Version=5.7.414.0, Culture=neutral, PublicKeyToken=def26f296efef469" Type="string" />
				<Registry Id="cons_reg10" Root="HKCR" Key="CLSID\{E1FFE1AC-94DE-490F-AFD8-0B54ACE9702F}\InprocServer32\5.7.414.0" Name="RuntimeVersion" Value="v1.0.3705" Type="string" />
				<Registry Id="cons_reg12" Root="HKCR" Key="CLSID\{E1FFE1AC-94DE-490F-AFD8-0B54ACE9702F}\ProgId" Value="EiffelSoftware.MetadataConsumer.Interop.Impl.COM_CACHE_MANAGER" Type="string" />

				<!-- Registration information for ISE.VS.FusionSupport.dll -->
				<Registry Id="fus_reg0" Root="HKCR" Key="CLSID\{8D21B190-37B7-4C68-8003-DC3DA41C56AC}" Value="ISE.VisualStudio.FusionSupport.FusionSupport" Type="string" />
				<Registry Id="fus_reg1" Root="HKCR" Key="CLSID\{8D21B190-37B7-4C68-8003-DC3DA41C56AC}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" />
				<Registry Id="fus_reg2" Root="HKCR" Key="CLSID\{8D21B190-37B7-4C68-8003-DC3DA41C56AC}\InprocServer32" Value="mscoree.dll" Type="string" />
				<Registry Id="fus_reg3" Root="HKCR" Key="CLSID\{8D21B190-37B7-4C68-8003-DC3DA41C56AC}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" />
				<Registry Id="fus_reg4" Root="HKCR" Key="CLSID\{8D21B190-37B7-4C68-8003-DC3DA41C56AC}\InprocServer32" Name="Class" Value="ISE.VisualStudio.FusionSupport.FusionSupport" Type="string" />
				<Registry Id="fus_reg5" Root="HKCR" Key="CLSID\{8D21B190-37B7-4C68-8003-DC3DA41C56AC}\InprocServer32" Name="Assembly" Value="ISE.VS.FusionSupport, Version=5.4.826.0, Culture=neutral, PublicKeyToken=def26f296efef469" Type="string" />
				<Registry Id="fus_reg6" Root="HKCR" Key="CLSID\{8D21B190-37B7-4C68-8003-DC3DA41C56AC}\InprocServer32" Name="RuntimeVersion" Value="v1.0.3705" Type="string" />
				<Registry Id="fus_reg8" Root="HKCR" Key="CLSID\{8D21B190-37B7-4C68-8003-DC3DA41C56AC}\InprocServer32\5.4.826.0" Name="Class" Value="ISE.VisualStudio.FusionSupport.FusionSupport" Type="string" />
				<Registry Id="fus_reg9" Root="HKCR" Key="CLSID\{8D21B190-37B7-4C68-8003-DC3DA41C56AC}\InprocServer32\5.4.826.0" Name="Assembly" Value="ISE.VS.FusionSupport, Version=5.4.826.0, Culture=neutral, PublicKeyToken=def26f296efef469" Type="string" />
				<Registry Id="fus_reg10" Root="HKCR" Key="CLSID\{8D21B190-37B7-4C68-8003-DC3DA41C56AC}\InprocServer32\5.4.826.0" Name="RuntimeVersion" Value="v1.0.3705" Type="string" />
				<Registry Id="fus_reg12" Root="HKCR" Key="CLSID\{8D21B190-37B7-4C68-8003-DC3DA41C56AC}\ProgId" Value="ISE.VisualStudio.FusionSupport.FusionSupport" Type="string" />
				<Registry Id="fus_reg13" Root="HKCR" Key="CLSID\{B7926D82-BC03-3B0E-8029-BD5EBD352B30}" Value="MSjogren.GacTool.FusionNative.Fusion" Type="string" />
				<Registry Id="fus_reg14" Root="HKCR" Key="CLSID\{B7926D82-BC03-3B0E-8029-BD5EBD352B30}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" />
				<Registry Id="fus_reg15" Root="HKCR" Key="CLSID\{B7926D82-BC03-3B0E-8029-BD5EBD352B30}\InprocServer32" Value="mscoree.dll" Type="string" />
				<Registry Id="fus_reg16" Root="HKCR" Key="CLSID\{B7926D82-BC03-3B0E-8029-BD5EBD352B30}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" />
				<Registry Id="fus_reg17" Root="HKCR" Key="CLSID\{B7926D82-BC03-3B0E-8029-BD5EBD352B30}\InprocServer32" Name="Class" Value="MSjogren.GacTool.FusionNative.Fusion" Type="string" />
				<Registry Id="fus_reg18" Root="HKCR" Key="CLSID\{B7926D82-BC03-3B0E-8029-BD5EBD352B30}\InprocServer32" Name="Assembly" Value="ISE.VS.FusionSupport, Version=5.4.826.0, Culture=neutral, PublicKeyToken=def26f296efef469" Type="string" />
				<Registry Id="fus_reg19" Root="HKCR" Key="CLSID\{B7926D82-BC03-3B0E-8029-BD5EBD352B30}\InprocServer32" Name="RuntimeVersion" Value="v1.0.3705" Type="string" />
				<Registry Id="fus_reg21" Root="HKCR" Key="CLSID\{B7926D82-BC03-3B0E-8029-BD5EBD352B30}\InprocServer32\5.4.826.0" Name="Class" Value="MSjogren.GacTool.FusionNative.Fusion" Type="string" />
				<Registry Id="fus_reg22" Root="HKCR" Key="CLSID\{B7926D82-BC03-3B0E-8029-BD5EBD352B30}\InprocServer32\5.4.826.0" Name="Assembly" Value="ISE.VS.FusionSupport, Version=5.4.826.0, Culture=neutral, PublicKeyToken=def26f296efef469" Type="string" />
				<Registry Id="fus_reg23" Root="HKCR" Key="CLSID\{B7926D82-BC03-3B0E-8029-BD5EBD352B30}\InprocServer32\5.4.826.0" Name="RuntimeVersion" Value="v1.0.3705" Type="string" />
				<Registry Id="fus_reg25" Root="HKCR" Key="CLSID\{B7926D82-BC03-3B0E-8029-BD5EBD352B30}\ProgId" Value="MSjogren.GacTool.FusionNative.Fusion" Type="string" />
				<Registry Id="fus_reg27" Root="HKCR" Key="ISE.VisualStudio.FusionSupport.FusionSupport" Value="ISE.VisualStudio.FusionSupport.FusionSupport" Type="string" />
				<Registry Id="fus_reg28" Root="HKCR" Key="ISE.VisualStudio.FusionSupport.FusionSupport\CLSID" Value="{8D21B190-37B7-4C68-8003-DC3DA41C56AC}" Type="string" />
				<Registry Id="fus_reg29" Root="HKCR" Key="MSjogren.GacTool.FusionNative.Fusion" Value="MSjogren.GacTool.FusionNative.Fusion" Type="string" />
				<Registry Id="fus_reg30" Root="HKCR" Key="MSjogren.GacTool.FusionNative.Fusion\CLSID" Value="{B7926D82-BC03-3B0E-8029-BD5EBD352B30}" Type="string" />
			</Component>
			<Directory Id="Application" Name=".">
				<Directory Id="dotnet" Name="dotnet">
					<Component Id="dotnet" Guid="0EC46414-25FA-4814-A018-00F63912F9B9">
						<CreateFolder />
						<CreateFolder Directory="assemblies" />
					</Component>
					<Directory Id="assemblies" Name="ASSEMB~1" LongName="assemblies" />
				</Directory>
				<Directory Id="studio" Name="studio">
					<Directory Id="spec" Name="spec">
						<Directory Id="windows_dir" Name="$(env.ISE_PLATFORM)">
							<Directory Id="bin" Name="bin">
								<Component Id="EiffelSoftware.Runtime.dll" Guid="747074F4-6EFD-48E9-88AC-E0AC1264C461">
									<File Id="EiffelSoftware.Runtime.dll" Name="EIFFEL~1.DLL" LongName="EiffelSoftware.Runtime.dll" Checksum="yes" KeyPath="yes" src="$(env.INSTALL_DIR)\dotnet_binaries\EiffelSoftware.Runtime.dll" />
									<Registry Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\AssemblyFolders\[ProductName]" Value="[$EiffelSoftware.Runtime.dll]" Id="registry2" Type="string" />
								</Component>
								<Component Id="libEiffelSoftware.MetadataConsumer.dll" Guid="F7618715-F9FB-46d5-94A3-556A24349F23">
									<File Id="libEiffelSoftware.MetadataConsumer.dll" Name="LIBEIF~1.DLL" LongName="libEiffelSoftware.MetadataConsumer.dll" src="$(env.INSTALL_DIR)\dotnet_binaries\libEiffelSoftware.MetadataConsumer.dll" />
								</Component>
								<Component Id="EiffelSoftware.MetadataConsumer.dll" Guid="269EF7C6-ABD2-4422-AA8D-4599F96CF4F3">
									<File Id="EiffelSoftware.MetadataConsumer.dll" Name="EIFFEL~2.DLL" LongName="EiffelSoftware.MetadataConsumer.dll" KeyPath="yes" Assembly=".net" AssemblyApplication="EiffelSoftware.MetadataConsumer.dll" src="$(env.INSTALL_DIR)\dotnet_binaries\EiffelSoftware.MetadataConsumer.dll" />
								</Component>
								<Component Id="ISE.VS.FusionSupport.dll" Guid="74612B43-50C6-4769-828C-AC55E479CB92">
									<File Id="ISE.VS.FusionSupport.dll" Name="ISEVSF~1.DLL" LongName="ISE.VS.FusionSupport.dll" Checksum="yes" KeyPath="yes" Assembly=".net" AssemblyApplication="ISE.VS.FusionSupport.dll" src="$(env.INSTALL_DIR)\dotnet_binaries\ISE.VS.FusionSupport.dll" />
								</Component>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
				<Directory Id="library.net" Name="LIBRAR~1" LongName="library.net">
					<Directory Id="wel" Name="wel">
						<Component Id="wel_disk_space_callback.e" Guid="A931A94F-9B5D-4353-9414-7E80ADD49233">
							<File Id="wel_disk_space_callback.e" Name="WEL_DI~3.E" LongName="wel_disk_space_callback.e" KeyPath="yes" />
							<File Id="wel_dispatcher.e" Name="WEL_DI~1.E" LongName="wel_dispatcher.e" />
							<File Id="wel_font_family_enumerator.e" Name="WEL_FO~1.E" LongName="wel_font_family_enumerator.e" />
							<File Id="wel_identified.e" Name="WEL_ID~1.E" LongName="wel_identified.e" />
							<File Id="wel_main_arguments.e" Name="WEL_MA~1.E" LongName="wel_main_arguments.e" />
							<File Id="wel_object_id_manager.e" Name="WEL_OB~1.E" LongName="wel_object_id_manager.e" />
							<File Id="wel_rich_edit_stream_in.e" Name="WEL_RI~1.E" LongName="wel_rich_edit_stream_in.e" />
							<File Id="wel_rich_edit_stream_out.e" Name="WEL_RI~3.E" LongName="wel_rich_edit_stream_out.e" />
							<File Id="wel_window_enumerator.e" Name="WEL_WI~1.E" LongName="wel_window_enumerator.e" />
							<File Id="wel_winform_container.e" Name="WEL_WI~2.E" LongName="wel_winform_container.e" />
						</Component>
					</Directory>
					<Directory Id="vision25" Name="vision2">
						<Component Id="ev_pixmap_imp.e" Guid="37E31268-8F1C-4CBC-9A8B-6B3615D6F099">
							<File Id="ev_pixmap_imp_loader.e" Name="EV_PIX~3.E" LongName="ev_pixmap_imp_loader.e" KeyPath="yes" />
						</Component>
					</Directory>
					<Directory Id="thread" Name="thread">
						<Directory Id="dotnet2" Name="dotnet">
							<Component Id="read_write_lock.e" Guid="B7B3C805-366D-41B6-8F8D-C31F502E094A">
								<File Id="read_write_lock.e" Name="READ_W~1.E" LongName="read_write_lock.e" KeyPath="yes" />
								<File Id="thread_control.e" Name="THREAD~2.E" LongName="thread_control.e" />
								<File Id="thread_attributes.e" Name="THREAD~1.E" LongName="thread_attributes.e" />
								<File Id="condition_variable.e" Name="CONDIT~1.E" LongName="condition_variable.e" />
								<File Id="mutex.e" Name="mutex.e" />
								<File Id="thread.e" Name="thread.e" />
								<File Id="semaphore.e" Name="SEMAPH~1.E" LongName="semaphore.e" />
							</Component>
						</Directory>
					</Directory>
					<Directory Id="base" Name="base">
						<Directory Id="serialization" Name="SERIAL~1" LongName="serialization">
							<Directory Id="traversing" Name="TRAVER~1" LongName="traversing">
								<Directory Id="dotnet5" Name="dotnet">
									<Component Id="dotnet5" Guid="803FEF0F-9C0E-4cfb-BA06-1E85E14CA7B6">
										<File Id="sed_objects_table_e" Name="SED_OB~1.E" LongName="sed_objects_table.e" />
									</Component>
								</Directory>
							</Directory>
						</Directory>
						<Directory Id="support" Name="support">
							<Directory Id="dotnet3" Name="dotnet">
								<Component Id="operating_environment.e" Guid="1DFDDD79-210D-4DFB-9837-3328F1C2279E">
									<File Id="operating_environment.e" Name="OPERAT~1.E" LongName="operating_environment.e" KeyPath="yes" />
									<File Id="execution_environment.e" Name="EXECUT~1.E" LongName="execution_environment.e" />
									<File Id="class_name_translations.e" Name="CLASS_~1.E" LongName="class_name_translations.e" />
									<File Id="mismatch_information.e" Name="MISMAT~1.E" LongName="mismatch_information.e" />
									<File Id="managed_pointer.e" Name="MANAGE~1.E" LongName="managed_pointer.e" />
									<File Id="double_math.e" Name="DOUBLE~1.E" LongName="double_math.e" />
									<File Id="single_math.e" Name="SINGLE~1.E" LongName="single_math.e" />
									<File Id="profiling_setting.e" Name="PROFIL~1.E" LongName="profiling_setting.e" />
									<File Id="bool_string.e" Name="BOOL_S~1.E" LongName="bool_string.e" />
									<File Id="identified_controller.e" Name="IDENTI~2.E" LongName="identified_controller.e" />
									<File Id="internal.e" Name="internal.e" />
									<File Id="identified.e" Name="IDENTI~1.E" LongName="identified.e" />
								</Component>
							</Directory>
						</Directory>
						<Directory Id="kernel" Name="kernel">
							<Directory Id="dotnet4" Name="dotnet">
								<Component Id="raw_file.e" Guid="23DA1C36-A57B-4A5D-9B1A-CA6B2D4AF39A">
									<File Id="raw_file.e" Name="raw_file.e" KeyPath="yes" />
									<File Id="procedure.e" Name="PROCED~1.E" LongName="procedure.e" />
									<File Id="routine.e" Name="routine.e" />
									<File Id="path_name.e" Name="PATH_N~1.E" LongName="path_name.e" />
									<File Id="gc_info.e" Name="gc_info.e" />
									<File Id="directory.e" Name="DIRECT~2.E" LongName="directory.e" />
									<File Id="mem_info.e" Name="mem_info.e" />
									<File Id="file_name.e" Name="FILE_N~1.E" LongName="file_name.e" />
									<File Id="storable.e" Name="storable.e" />
									<File Id="native_array.e" Name="NATIVE~1.E" LongName="native_array.e" />
									<File Id="real_ref.e" Name="real_ref.e" />
									<File Id="pointer.e" Name="pointer.e" />
									<File Id="console.e" Name="console.e" />
									<File Id="unix_signals.e" Name="UNIX_S~1.E" LongName="unix_signals.e" />
									<File Id="plain_text_file.e" Name="PLAIN_~1.E" LongName="plain_text_file.e" />
									<File Id="arguments.e" Name="ARGUME~1.E" LongName="arguments.e" />
									<File Id="file.e" Name="file.e" />
									<File Id="bit_ref.e" Name="bit_ref.e" />
									<File Id="exceptions.e" Name="EXCEPT~2.E" LongName="exceptions.e" />
									<File Id="real.e" Name="real.e" />
									<File Id="platform.e" Name="platform.e" />
									<File Id="memory.e" Name="memory.e" />
									<File Id="double_ref.e" Name="DOUBLE~2.E" LongName="double_ref.e" />
									<File Id="directory_name.e" Name="DIRECT~3.E" LongName="directory_name.e" />
									<File Id="pointer_ref.e" Name="POINTE~1.E" LongName="pointer_ref.e" />
									<File Id="cli_cell.e" Name="cli_cell.e" />
									<File Id="special.e" Name="special.e" />
									<File Id="basic_routines.e" Name="BASIC_~1.E" LongName="basic_routines.e" />
									<File Id="unix_file_info.e" Name="UNIX_F~1.E" LongName="unix_file_info.e" />
									<File Id="stream.e" Name="stream.e" />
									<File Id="double.e" Name="double.e" />
									<File Id="function.e" Name="function.e" />
									<File Id="tuple.e" Name="tuple.e" />
									<File Id="any.e" Name="any.e" />
									<File Id="disposable.e" Name="DISPOS~1.E" LongName="disposable.e" />
									<File Id="dotnet_pointer.e" Name="DO5684~1.E" LongName="dotnet_pointer.e" />
									<File Id="dotnet_integer_8.e" Name="DO0D19~1.E" LongName="dotnet_integer_8.e" />
									<File Id="dotnet_integer_16.e" Name="DOAC1F~1.E" LongName="dotnet_integer_16.e" />
									<File Id="dotnet_integer.e" Name="DOTNET~4.E" LongName="dotnet_integer.e" />
									<File Id="dotnet_integer_64.e" Name="DOCC0B~1.E" LongName="dotnet_integer_64.e" />
									<File Id="dotnet_natural_8.e" Name="DO00A8~1.E" LongName="dotnet_natural_8.e" />
									<File Id="dotnet_natural_16.e" Name="DO2EDE~1.E" LongName="dotnet_natural_16.e" />
									<File Id="dotnet_natural_32.e" Name="DO3EB6~1.E" LongName="dotnet_natural_32.e" />
									<File Id="dotnet_natural_64.e" Name="DO4ECA~1.E" LongName="dotnet_natural_64.e" />
									<File Id="dotnet_character.e" Name="DOTNET~2.E" LongName="dotnet_character.e" />
									<File Id="dotnet_double.e" Name="DOTNET~3.E" LongName="dotnet_double.e" />
									<File Id="dotnet_boolean.e" Name="DOTNET~1.E" LongName="dotnet_boolean.e" />
									<File Id="dotnet_real.e" Name="DO9EFE~1.E" LongName="dotnet_real.e" />
									<File Id="system_string_factory_e" Name="SYSTEM~1.E" LongName="system_string_factory.e" />
									<File Id="type_e" Name="type.e" />
								</Component>
							</Directory>
							<Directory Id="exceptions" Name="EXCEPT~1" LongName="exceptions" />
						</Directory>
					</Directory>
				</Directory>
				<Directory Id="examples" Name="examples">
					<Directory Id="dotnet1" Name="dotnet">
						<Directory Id="vision2" Name="vision2">
							<Directory Id="data_grid" Name="DATA_G~1" LongName="data_grid">
								<Component Id="about_dialog.e" Guid="40508895-D62B-4B52-9D50-20C7A8DFF84C">
									<File Id="about_dialog.e" Name="ABOUT_~1.E" LongName="about_dialog.e" KeyPath="yes" />
									<File Id="interface_names.e" Name="INTERF~1.E" LongName="interface_names.e" />
									<File Id="main_window.e" Name="MAIN_W~1.E" LongName="main_window.e" />
									<File Id="application.e18" Name="APPLIC~2.E" LongName="application.e" />
									<File Id="ace.ace5" Name="ace.ace" />
								</Component>
							</Directory>
						</Directory>
						<Directory Id="calculator" Name="CALCUL~1" LongName="calculator">
							<Component Id="ace.ace16" Guid="E78A7B5C-EF9F-4F02-8A3F-2B0A151D96D0">
								<File Id="ace.ace21" Name="ace.ace" />
							</Component>
						</Directory>
						<Directory Id="winforms" Name="winforms">
							<Directory Id="hello_world_dlg" Name="HELLO_~1" LongName="hello_world_dlg">
								<Component Id="hello_world.e" Guid="DF2C1E70-8FA1-44BC-8E74-97D9F3D4D8C3">
									<File Id="hello_world.e" Name="HELLO_~1.E" LongName="hello_world.e" KeyPath="yes" />
									<File Id="ace.ace18" Name="ace.ace" />
								</Component>
							</Directory>
							<Directory Id="mdi" Name="mdi">
								<Component Id="ace.ace4" Guid="9FEB1761-5E10-4D92-A3FA-8EF545F3A959">
									<File Id="document.e" Name="document.e" KeyPath="yes" />
									<File Id="main_form.e" Name="MAIN_F~1.E" LongName="main_form.e" />
									<File Id="ace.ace3" Name="ace.ace" />
								</Component>
							</Directory>
							<Directory Id="basic" Name="basic">
								<Component Id="application.e" Guid="D8555F0F-06C0-41D3-8057-E18E0919DCB6">
									<File Id="application.e" Name="APPLIC~1.E" LongName="application.e" KeyPath="yes" />
									<File Id="ace.ace7" Name="ace.ace" />
								</Component>
							</Directory>
							<Directory Id="hello_world" Name="HELLO_~2" LongName="hello_world">
								<Component Id="ace.ace11" Guid="C895AD1E-F365-4F28-85D6-9A9EA6042F8D">
									<File Id="hello_world.e19" Name="HELLO_~2.E" LongName="hello_world.e" KeyPath="yes" />
									<File Id="ace.ace12" Name="ace.ace" />
								</Component>
							</Directory>
							<Directory Id="applications" Name="APPLIC~2" LongName="applications">
								<Directory Id="world_calc" Name="WORLD_~1" LongName="world_calc">
									<Component Id="ace.ace3" Guid="B801D30C-CB34-4B46-8976-3D2E2FCAD8C1">
										<File Id="world_calc.e" Name="WORLD_~1.E" LongName="world_calc.e" KeyPath="yes" />
										<File Id="ace.ace24" Name="ace.ace" />
									</Component>
									<Component Id="parserutils.dll" Guid="0ACB9FAA-182D-4400-AB9B-1E1B986373CA">
										<File Id="parserutils.dll" Name="PARSER~1.DLL" LongName="parserutils.dll" KeyPath="yes" />
									</Component>
									<Component Id="math.dll" Guid="D63A4FCA-BE02-4674-8243-BA4B0F6B45A6">
										<File Id="math.dll" Name="math.dll" KeyPath="yes" />
									</Component>
								</Directory>
							</Directory>
							<Directory Id="gdi_plus" Name="gdi_plus">
								<Directory Id="text" Name="text">
									<Component Id="gdip_text.e" Guid="1266A3C2-BED1-493B-9DA4-FEE0CE143CD0">
										<File Id="gdip_text.e" Name="GDIP_T~1.E" LongName="gdip_text.e" KeyPath="yes" />
										<File Id="marble.jpg" Name="marble.jpg" />
										<File Id="colorbars.jpg" Name="COLORB~1.JPG" LongName="colorbars.jpg" />
										<File Id="ace.ace25" Name="ace.ace" />
									</Component>
								</Directory>
							</Directory>
							<Directory Id="data" Name="data">
								<Directory Id="grid" Name="grid">
									<Component Id="data_grid.e9" Guid="53291981-AD7E-48ED-A419-2C294E1C2045">
										<File Id="data_grid.e9" Name="DATA_G~2.E" LongName="data_grid.e" KeyPath="yes" />
										<File Id="ace.ace33" Name="ace.ace" />
									</Component>
								</Directory>
							</Directory>
							<Directory Id="control_reference" Name="CONTRO~1" LongName="control_reference">
								<Directory Id="tree_view_ctl" Name="TREE_V~1" LongName="tree_view_ctl">
									<Component Id="openfold.bmp" Guid="20D0B826-7ECD-4E00-B29A-F8066913FC4C">
										<File Id="openfold.bmp" Name="openfold.bmp" KeyPath="yes" />
										<File Id="directory_node.e" Name="DIRECT~1.E" LongName="directory_node.e" />
										<File Id="clsdfold.bmp" Name="clsdfold.bmp" />
										<File Id="diamond.bmp" Name="diamond.bmp" />
										<File Id="tree_view_ctl.e" Name="TREE_V~1.E" LongName="tree_view_ctl.e" />
										<File Id="externals.e" Name="EXTERN~1.E" LongName="externals.e" />
										<File Id="club.bmp" Name="club.bmp" />
										<File Id="ace.ace11" Name="ace.ace" />
									</Component>
								</Directory>
								<Directory Id="progress_bar_ctl" Name="PROGRE~1" LongName="progress_bar_ctl">
									<Component Id="progress_bar_ctl.e" Guid="7349841A-A1F9-4B57-86AE-9494DDB0D5BE">
										<File Id="progress_bar_ctl.e" Name="PROGRE~1.E" LongName="progress_bar_ctl.e" KeyPath="yes" />
										<File Id="ace.ace26" Name="ace.ace" />
									</Component>
								</Directory>
								<Directory Id="date_time_picker_ctl" Name="DATE_T~1" LongName="date_time_picker_ctl">
									<Component Id="ace.ace2" Guid="DC9FB891-BCFE-4FE0-A61E-C492AA53B8BA">
										<File Id="change_color_dlg.e" Name="CHANGE~1.E" LongName="change_color_dlg.e" KeyPath="yes" />
										<File Id="date_time_picker_ctl.e" Name="DATE_T~1.E" LongName="date_time_picker_ctl.e" />
										<File Id="ace.ace30" Name="ace.ace" />
									</Component>
								</Directory>
							</Directory>
							<Directory Id="menu" Name="menu">
								<Component Id="ace.ace" Guid="78EC0B07-57AC-4BE1-8CF0-314C9D5034BC">
									<File Id="menus.e" Name="menus.e" KeyPath="yes" />
									<File Id="ace.ace" Name="ace.ace" />
								</Component>
							</Directory>
						</Directory>
						<Directory Id="ado" Name="ado">
							<Directory Id="ado3" Name="ado3">
								<Component Id="ado.e" Guid="E24AD907-EEA1-4FAC-A04F-152668DD6AEF">
									<File Id="ado.e" Name="ado.e" KeyPath="yes" />
									<File Id="ace.ace8" Name="ace.ace" />
								</Component>
							</Directory>
						</Directory>
						<Directory Id="threading" Name="THREAD~1" LongName="threading">
							<Directory Id="monitor" Name="monitor">
								<Component Id="resource.e" Guid="00F08824-B699-47B4-AFE7-B6A3E6880C6D">
									<File Id="resource.e" Name="resource.e" KeyPath="yes" />
									<File Id="monitor.e" Name="monitor.e" />
									<File Id="ace.ace20" Name="ace.ace" />
								</Component>
							</Directory>
							<Directory Id="timers" Name="timers">
								<Component Id="ace.ace1" Guid="7CCE6532-1C6E-4165-B52E-2783A9D014E0">
									<File Id="timers.e" Name="timers.e" KeyPath="yes" />
									<File Id="ace.ace34" Name="ace.ace" />
								</Component>
							</Directory>
							<Directory Id="pools" Name="pools">
								<Component Id="pools.e" Guid="462FAFF1-C46D-4F72-8037-3802F82A1FE6">
									<File Id="pools.e" Name="pools.e" KeyPath="yes" />
									<File Id="ace.ace13" Name="ace.ace" />
								</Component>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
