<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Module Id="free_add_ons" Guid="93464090-5F6E-495C-914E-4472CD8CBA6F" Language="0" Version="1.0">
		<Package Id="93464090-5F6E-495C-914E-4472CD8CBA6F" Keywords="Gobo, Zad miner, free add ons, MergeModule, MSI, Database" Description="Free add ons" Manufacturer="ISE Inc." InstallerVersion="200" Languages="0" Compressed="yes" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="Application" Name=".">
				<Directory Id="free_add_ons" Name="FREE_A~1" LongName="free_add_ons">
					<Directory Id="zad_miner" Name="ZAD_MI~1" LongName="zad_miner">
						<Directory Id="ace" Name="ace">
							<Component Id="zad_miner.rc" Guid="1F8CF2E1-92AD-4CB5-A1E3-F1C4EF9C0CFD">
								<File Id="zad_miner.rc" Name="ZAD_MI~1.RC" LongName="zad_miner.rc" KeyPath="yes" />
								<File Id="zad_miner.ecf" Name="ZAD_MI~1.ECF" LongName="zad_miner.ecf" />
							</Component>
						</Directory>
						<Directory Id="binaries" Name="binaries">
							<Component Id="zad_miner.exe" Guid="C2793276-9C93-4FAE-BFC7-38FD93A0DAE9">
								<File Id="zad_miner.exe" Name="ZAD_MI~1.EXE" LongName="zad_miner.exe" KeyPath="yes" />
							</Component>
						</Directory>
						<Directory Id="src166" Name="src">
							<Component Id="miner_window.e" Guid="1290A890-8E97-4B9C-9D1E-D3BE9D7458BE">
								<File Id="miner_window.e" Name="MINER_~4.E" LongName="miner_window.e" KeyPath="yes" />
								<File Id="miner_button.e" Name="MINER_~1.E" LongName="miner_button.e" />
								<File Id="zad_miner.e" Name="ZAD_MI~1.E" LongName="zad_miner.e" />
								<File Id="miner_timer.e" Name="MINER_~3.E" LongName="miner_timer.e" />
								<File Id="miner_constants.e" Name="MINER_~2.E" LongName="miner_constants.e" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
		<UI />
	</Module>
</Wix>
