<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Module Id="free_add_ons" Guid="93464090-5F6E-495C-914E-4472CD8CBA6F" Language="0" Version="1.0">
		<Package Id="93464090-5F6E-495C-914E-4472CD8CBA6F" Keywords="Gobo, Zad miner, free add ons, MergeModule, MSI, Database" Description="Free add ons" Manufacturer="ISE Inc." InstallerVersion="200" Languages="0" Compressed="yes" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="Application" Name=".">
				<Directory Id="free_add_ons" Name="FREE_A~1" LongName="free_add_ons">
					<Directory Id="zad_miner" Name="ZAD_MI~1" LongName="zad_miner">
						<Directory Id="ace" Name="ace">
							<Component Id="zad_miner.rc" Guid="1F8CF2E1-92AD-4CB5-A1E3-F1C4EF9C0CFD">
								<File Id="zad_miner.rc" Name="ZAD_MI~1.RC" LongName="zad_miner.rc" KeyPath="yes" />
								<File Id="zad_miner.acex" Name="ZAD_MI~1.ACE" LongName="zad_miner.acex" />
							</Component>
						</Directory>
						<Directory Id="binaries" Name="binaries">
							<Component Id="zad_miner.exe" Guid="C2793276-9C93-4FAE-BFC7-38FD93A0DAE9">
								<File Id="zad_miner.exe" Name="ZAD_MI~1.EXE" LongName="zad_miner.exe" KeyPath="yes" />
							</Component>
						</Directory>
						<Directory Id="src166" Name="src">
							<Component Id="miner_window.e" Guid="1290A890-8E97-4B9C-9D1E-D3BE9D7458BE">
								<File Id="miner_window.e" Name="MINER_~4.E" LongName="miner_window.e" KeyPath="yes" />
								<File Id="miner_button.e" Name="MINER_~1.E" LongName="miner_button.e" />
								<File Id="zad_miner.e" Name="ZAD_MI~1.E" LongName="zad_miner.e" />
								<File Id="miner_timer.e" Name="MINER_~3.E" LongName="miner_timer.e" />
								<File Id="miner_constants.e" Name="MINER_~2.E" LongName="miner_constants.e" />
							</Component>
						</Directory>
					</Directory>
					<Directory Id="wex" Name="wex">
						<Component Id="Forum.txt" Guid="BEA6EC49-5EC7-45E8-B920-167C73CB747F">
							<File Id="Forum.txt2" Name="Forum.txt" KeyPath="yes" />
							<File Id="Version.txt1988" Name="Version.txt" />
							<File Id="readme.txt1989" Name="readme.txt" />
						</Component>
						<Directory Id="examples2" Name="examples">
							<Directory Id="wex3" Name="wex">
								<Directory Id="Framework_example" Name="FRAMEW~1" LongName="Framework_example">
									<Component Id="app_ids.e" Guid="3651FF07-7DBD-4C5A-A36F-5C10BC35A0E0">
										<File Id="app_ids.e" Name="app_ids.e" KeyPath="yes" />
										<File Id="app.e" Name="app.e" />
										<File Id="main_win.e1985" Name="main_win.e" />
										<File Id="Toolbar.bmp" Name="Toolbar.bmp" />
										<File Id="App.rc1987" Name="App.rc" />
										<File Id="custom_command_cmd.e" Name="CUSTOM~1.E" LongName="custom_command_cmd.e" />
										<File Id="Ace.ace1990" Name="Ace.ace" />
										<File Id="app.ico" Name="app.ico" />
									</Component>
								</Directory>
								<Directory Id="MCI_Splash" Name="MCI_SP~1" LongName="MCI_Splash">
									<Component Id="App.rc" Guid="2F4FE3BC-2F8C-4044-93A4-7F88BB0F590A">
										<File Id="App.rc" Name="App.rc" KeyPath="yes" />
										<File Id="main_win.e" Name="main_win.e" />
										<File Id="app.ico_2" Name="App.ico" />
										<File Id="Ace.ace" Name="Ace.ace" />
										<File Id="App.e2" Name="App.e" />
									</Component>
								</Directory>
							</Directory>
						</Directory>
						<Directory Id="library4" Name="library">
							<Directory Id="wex5" Name="wex">
								<Component Id="Version.txt" Guid="3BCE3AC0-CCA2-47C2-86FB-8BF67074F41A">
									<File Id="Version.txt" Name="Version.txt" KeyPath="yes" />
									<File Id="Forum.txt1986" Name="Forum.txt" />
								</Component>
								<Directory Id="Spec" Name="Spec">
									<Directory Id="Windows" Name="Windows">
										<Directory Id="Include" Name="Include">
											<Component Id="Generic.h" Guid="BEADD317-6674-42C4-AFA7-48CB3D9F4C29">
												<File Id="Generic.h" Name="Generic.h" KeyPath="yes" />
												<File Id="Dgv_win.h" Name="Dgv_win.h" />
												<File Id="Record.h" Name="Record.h" />
												<File Id="Status.h" Name="Status.h" />
												<File Id="Save.h" Name="Save.h" />
												<File Id="Play.h" Name="Play.h" />
												<File Id="Wave_set.h" Name="Wave_set.h" />
												<File Id="Close.h" Name="Close.h" />
												<File Id="Dgv_rect.h" Name="Dgv_rect.h" />
												<File Id="Devcaps.h" Name="Devcaps.h" />
												<File Id="Set.h" Name="Set.h" />
												<File Id="Seek.h" Name="Seek.h" />
												<File Id="Open.h" Name="Open.h" />
												<File Id="wave_open.h" Name="WAVE_O~1.H" LongName="wave_open.h" />
												<File Id="Wex_mci.h" Name="Wex_mci.h" />
												<File Id="Dgv_open.h" Name="Dgv_open.h" />
											</Component>
										</Directory>
									</Directory>
								</Directory>
								<Directory Id="Windows168" Name="Windows">
									<Component Id="control_window_no_background.e" Guid="E74A6A58-1EE4-4B91-8EBE-F964B7C0F7D3">
										<File Id="control_window_no_background.e" Name="CONTRO~1.E" LongName="control_window_no_background.e" KeyPath="yes" />
									</Component>
								</Directory>
								<Directory Id="Framework" Name="FRAMEW~2" LongName="Framework">
									<Component Id="wex_tool_bar.e" Guid="6EF0D773-3BC2-4B5B-98A2-60876EC2FBCF">
										<File Id="wex_tool_bar.e" Name="WEX_TO~1.E" LongName="wex_tool_bar.e" KeyPath="yes" />
										<File Id="update_status_window_cmd.e" Name="UPDATE~1.E" LongName="update_status_window_cmd.e" />
										<File Id="wex_main_win.e" Name="WEX_MA~1.E" LongName="wex_main_win.e" />
										<File Id="command_cmd.e" Name="COMMAN~1.E" LongName="command_cmd.e" />
										<File Id="wex_tool_bar_data.e" Name="WEX_TO~2.E" LongName="wex_tool_bar_data.e" />
									</Component>
								</Directory>
								<Directory Id="Window_Extras" Name="WINDOW~1" LongName="Window_Extras">
									<Component Id="region_window_capability.e" Guid="5EFE317D-AD48-4CA4-9995-FF92116EC6AF">
										<File Id="region_window_capability.e" Name="REGION~1.E" LongName="region_window_capability.e" KeyPath="yes" />
									</Component>
								</Directory>
								<Directory Id="MCI_Devices" Name="MCI_DE~1" LongName="MCI_Devices">
									<Component Id="mci_device.e" Guid="BCD2179C-09F4-4875-9891-96311BB46168">
										<File Id="mci_device.e" Name="MCI_DE~1.E" LongName="mci_device.e" KeyPath="yes" />
										<File Id="mci_digital_video.e" Name="MCI_DI~1.E" LongName="mci_digital_video.e" />
										<File Id="mci_wave_audio.e" Name="MCI_WA~6.E" LongName="mci_wave_audio.e" />
										<File Id="mci_cd_audio.e" Name="MCI_CD~1.E" LongName="mci_cd_audio.e" />
										<File Id="mci_sequencer.e" Name="MCI_SE~5.E" LongName="mci_sequencer.e" />
									</Component>
								</Directory>
								<Directory Id="Splash" Name="Splash">
									<Component Id="splash_window.e" Guid="F971FF14-D894-482C-AF6B-BC60D3FF379C">
										<File Id="splash_window.e" Name="SPLASH~3.E" LongName="splash_window.e" KeyPath="yes" />
										<File Id="splash_bitmap.e" Name="SPLASH~1.E" LongName="splash_bitmap.e" />
										<File Id="splash_video.e" Name="SPLASH~2.E" LongName="splash_video.e" />
									</Component>
								</Directory>
								<Directory Id="clib167" Name="clib">
									<Component Id="make_msc.bat" Guid="65459DD2-9B80-4D0C-B4CE-7C88F020230B">
										<File Id="make_msc.bat" Name="make_msc.bat" KeyPath="yes" />
										<File Id="cwex.h" Name="cwex.h" />
										<File Id="makefile.msc" Name="makefile.msc" />
										<File Id="cwex.cpp" Name="cwex.cpp" />
										<File Id="cwex.lib" Name="cwex.lib" />
									</Component>
								</Directory>
								<Directory Id="MCI_Structures" Name="MCI_ST~1" LongName="MCI_Structures">
									<Component Id="mci_play_parms.e" Guid="54E09DFB-55B2-4BAA-ACE1-EB6CEAE79A0B">
										<File Id="mci_play_parms.e" Name="MCI_PL~1.E" LongName="mci_play_parms.e" KeyPath="yes" />
										<File Id="mci_seek_parms.e" Name="MCI_SE~1.E" LongName="mci_seek_parms.e" />
										<File Id="mci_dgv_rect_parms.e" Name="MCI_DG~2.E" LongName="mci_dgv_rect_parms.e" />
										<File Id="mci_wave_set_parms.e" Name="MCI_WA~2.E" LongName="mci_wave_set_parms.e" />
										<File Id="mci_status_parms.e" Name="MCI_ST~1.E" LongName="mci_status_parms.e" />
										<File Id="mci_wave_open_parms.e" Name="MCI_WA~5.E" LongName="mci_wave_open_parms.e" />
										<File Id="mci_dgv_open_parms.e" Name="MCI_DG~1.E" LongName="mci_dgv_open_parms.e" />
										<File Id="mci_getdevcaps_parms.e" Name="MCI_GE~2.E" LongName="mci_getdevcaps_parms.e" />
										<File Id="mci_save_parms.e" Name="MCI_SA~2.E" LongName="mci_save_parms.e" />
										<File Id="mci_record_parms.e" Name="MCI_RE~1.E" LongName="mci_record_parms.e" />
										<File Id="mci_generic_parms.e" Name="MCI_GE~1.E" LongName="mci_generic_parms.e" />
										<File Id="mci_set_parms.e" Name="MCI_SE~4.E" LongName="mci_set_parms.e" />
										<File Id="mci_open_parms.e" Name="MCI_OP~1.E" LongName="mci_open_parms.e" />
										<File Id="mci_dgv_window_parms.e" Name="MCI_DG~6.E" LongName="mci_dgv_window_parms.e" />
									</Component>
								</Directory>
								<Directory Id="MCI_Support" Name="MCI_SU~1" LongName="MCI_Support">
									<Component Id="mci_macros.e" Guid="16AA1972-B4E9-4ECF-A44A-75619249964B">
										<File Id="mci_macros.e" Name="MCI_MA~1.E" LongName="mci_macros.e" KeyPath="yes" />
									</Component>
								</Directory>
								<Directory Id="Ace" Name="Ace">
									<Component Id="precompile_w32msc.ace" Guid="EE13A620-68F4-4310-8830-08E00AC3329B">
										<File Id="precompile_w32msc.ace" Name="PRECOM~1.ACE" LongName="precompile_w32msc.ace" KeyPath="yes" />
									</Component>
								</Directory>
								<Directory Id="MCI_Constants" Name="MCI_CO~1" LongName="MCI_Constants">
									<Component Id="mci_status_constants.e" Guid="60ABBCC6-012B-4382-827A-50D2742BFCD4">
										<File Id="mci_status_constants.e" Name="MCI_ST~2.E" LongName="mci_status_constants.e" KeyPath="yes" />
										<File Id="mci_wave_status_constants.e" Name="MCI_WA~4.E" LongName="mci_wave_status_constants.e" />
										<File Id="mci_save_constants.e" Name="MCI_SA~1.E" LongName="mci_save_constants.e" />
										<File Id="mci_set_constants.e" Name="MCI_SE~2.E" LongName="mci_set_constants.e" />
										<File Id="mci_status_time_format_constants.e" Name="MCI_ST~3.E" LongName="mci_status_time_format_constants.e" />
										<File Id="mci_format_constants.e" Name="MCI_FO~1.E" LongName="mci_format_constants.e" />
										<File Id="mci_dgv_realize_constants.e" Name="MCI_DG~3.E" LongName="mci_dgv_realize_constants.e" />
										<File Id="mci_wave_format_constants.e" Name="MCI_WA~1.E" LongName="mci_wave_format_constants.e" />
										<File Id="mci_seek_constants.e" Name="MCI_SE~3.E" LongName="mci_seek_constants.e" />
										<File Id="mci_constants.e" Name="MCI_CO~1.E" LongName="mci_constants.e" />
										<File Id="mci_wave_set_constants.e" Name="MCI_WA~3.E" LongName="mci_wave_set_constants.e" />
										<File Id="mci_device_types_constants.e" Name="MCI_DE~2.E" LongName="mci_device_types_constants.e" />
										<File Id="mci_notification_constants.e" Name="MCI_NO~1.E" LongName="mci_notification_constants.e" />
										<File Id="mci_dgv_constants.e" Name="MCI_DG~4.E" LongName="mci_dgv_constants.e" />
										<File Id="mci_wave_getdevcaps_constants.e" Name="MCI_WA~7.E" LongName="mci_wave_getdevcaps_constants.e" />
										<File Id="mci_dgv_where_constants.e" Name="MCI_DG~5.E" LongName="mci_dgv_where_constants.e" />
										<File Id="mci_status_cda_constants.e" Name="MCI_ST~4.E" LongName="mci_status_cda_constants.e" />
										<File Id="mci_mode_constants.e" Name="MCI_MO~1.E" LongName="mci_mode_constants.e" />
										<File Id="mmci_constants.e" Name="MMCI_C~1.E" LongName="mmci_constants.e" />
										<File Id="mci_getdevcaps_constants.e" Name="MCI_GE~3.E" LongName="mci_getdevcaps_constants.e" />
									</Component>
								</Directory>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
		<UI />
	</Module>
</Wix>
