<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include includes\Preprocessors.wxi?> 
  
  <Product Name="$(var.ProductName)"
           Id="$(var.ProductGuid)"
           Language="1033"
           Codepage="1252"
           Version="$(var.ProductVersion)"
           Manufacturer="Eiffel Software"
           UpgradeCode="$(var.UpgradeGuid)">
    
    <!-- PACKAGE -->
    <Package Id="*" Keywords="Installer" Description="$(var.ProductDescription)"
			Comments="$(var.ProductName) is a registered trademark of Eiffel Software" Manufacturer="Eiffel Software Inc."
			InstallerVersion="$(var.MsiVersion)" Platforms="$(var.MsiPlatform)" Languages="1033" Compressed="yes" SummaryCodepage="1252"/>
    
    <EnsureTable Id="ControlCondition"/>
    <!-- END PACKAGE -->

    <!-- MEDIA -->
    <Media Id="1" EmbedCab="yes" DiskPrompt="Disc #1" Cabinet="data.cab" />
    <Property Id="DiskPrompt" Value="$(var.ProductName) Installation [1]" />
    <!-- END MEDIA -->

    <!-- BINARIES -->
    <Binary Id="app.ico" SourceFile="$(sys.SOURCEFILEDIR)images\app.ico" />
    <!-- END BINARIES -->
    
    <!-- ADD REMOVE PROGRAM -->
    <Property Id='ARPCOMMENTS'>$(var.ProductDescription)</Property>
    <Property Id='ARPCONTACT'>info@eiffel.com</Property>
    <Property Id='ARPHELPLINK'>http://support.eiffel.com</Property>
    <Property Id='ARPURLINFOABOUT'>http://www.eifel.com</Property>
    <Property Id='ARPPRODUCTICON'>app.ico</Property>
    <Property Id='ARPNOMODIFY'>1</Property>
    <!-- END ADD REMOVE PROGRAM -->

    <!-- PROPERTIES -->
    <Property Id="INSTALLDIR" Secure="yes" />
    <Property Id="EIFFELPROJECTDIR" Secure="yes" />
    <Property Id="INSTALLCURL">http://eiffelsoftware.origo.ethz.ch/index.php/Installing_Microsoft_C_compiler</Property>   <!-- URL for How-To-Install a C/C++ compiler -->
    <Property Id="CHECKCCOMPILER"><?ifdef x64?>1<?else?><?ifdef EiffelEnvision?>1<?else?>0<?endif?><?endif?></Property>   <!-- Determines if a C/C++ compiler should be checked -->
    <Property Id="HASMSCCOMPILER">0</Property>                                                                            <!-- Indicates if a MS C/C++ has been found-->
    <Property Id="CANCCOMPILE">0</Property>                                                                               <!-- Indicates if a MSC C/C++ can actually be used-->
    <Property Id="SELECTEDCCOMPILER"><?ifdef EiffelStudio?>bcb<?else?>msc<?endif?></Property>                             <!-- Type of C/C++ compiler -->
    <!-- END PROPERTIES -->

    <!-- INSTALL DESCRIPTION -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PrgFiles)" Name="$(var.PrgFiles)">
        <Directory Id="Dir.EiffelSoftware" Name="Eiffel Software">
          <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
            <?ifdef EiffelStudio?>
              <?include content\eiffelstudio\Components.wxi?>
            <?endif?>
            <?ifdef EiffelEnvision?>
              <?include content\eiffelenvision\Components.wxi?>
            <?endif?>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Feat.root" Title="$(var.ProductName)" Description="$(var.ProductDescription)" TypicalDefault="install" Display="expand" Level="3" ConfigurableDirectory="INSTALLDIR">
      <ComponentRef Id="Comp.root"/>
      <?ifdef EiffelStudio?>
        <?include content\eiffelstudio\Features.wxi?>
      <?endif?>
      <?ifdef EiffelEnvision?>
        <?include content\eiffelenvision\Features.wxi?>
      <?endif?>
    </Feature>
    
    <!-- END INSTALL DESCRIPTION -->

    <!-- INSTALL SEQUENCING -->
    <AdminExecuteSequence>
      <Custom Action="CanPerformCCompilation" Before="CostInitialize"/>
    </AdminExecuteSequence>
    <InstallExecuteSequence>
      <Custom Action="CanPerformCCompilation" Before="CostInitialize"/>
    </InstallExecuteSequence>
    <!-- END INSTALL SEQUENCING -->

    <!-- USER INTERFACE -->
    <UIRef Id="UI.configuration"/>
    <UIRef Id="UI.dialog_files_in_use"/>
    <!-- END USER INTERFACE -->
  </Product>
</Wix>
