BODY {
	BACKGROUND=#FFFEEF;
	FONT-FAMILY=Verdana, Arial, Helvetica, sans-serif;
	MARGIN=5px 5px 5px 5px;
	PADDING=0px 0px 0px 0px;
	COLOR=#000000;
	FONT-SIZE=70%;
	WIDTH=100%;
}

TABLE {
	BACKGROUND=#FFFEEF;
	FONT-FAMILY=Verdana, Arial, Helvetica, sans-serif;
	MARGIN=5px 5px 5px 5px;
	PADDING=0px 0px 0px 0px;
	COLOR=#000000;
	FONT-SIZE=100%;
	WIDTH=90%;
}

OL, UL {
	MARGIN-TOP=.5em;
	MARGIN-BOTTOM=2em; 
}

LI {
	MARGIN-BOTTOM=.5em;
}

UL {
	MARGIN-TOP=.5em;
}

DL {
	MARGIN-TOP: 0em; 
	PADDING-LEFT: 1px; /* Prevents italic-letter descenders from being cut off */
}

DD {
	MARGIN-BOTTOM: 0em;  
	MARGIN-LEFT: 1.5em; 
}

DT {
	MARGIN-TOP: .5em; 
}

PRE, CODE, .code {
	FONT: 100% Courier New, Courier, mono; /* This is 100% of 70% */
	MARGIN-TOP: .7em;
	MARGIN-BOTTOM: .7em;
	MARGIN-LEFT: .7em;
	PADDING-LEFT: .5em;
	PADDING-RIGHT: .5em;
	PADDING-TOP: .5em;
	PADDING-BOTTOM: .5em;
	BACKGROUND=#EFEEDF;
	WIDTH: 450px;
}

TD, SPAN, DIV {
	PADDING-BOTTOM=0.4mm; 
}

TD {
	PADDING-BOTTOM=0.4mm; 
	BACKGROUND=#EEEDDE;	
}

IMG {
	BORDER=none; 
}

P {
	MARGIN=.5em 0em .5em 0em;
}

H1, H2, H3, H4 {
	FONT-FAMILY=Verdana, Arial, Helvetica, sans-serif;
	MARGIN-BOTTOM=.4em; 
	MARGIN-TOP=1em;
	FONT-WEIGHT=bold;

H3 {
	COLOR=#990000;
	FONT-SIZE=110%; 
	TEXT-DECORATION=none
}
H2 {
	COLOR=#700000;
	BACKGROUND=#FFCC00;
	FONT-SIZE=120%;
	WIDTH=90%;
}
H1 {
	COLOR=#990000;
	FONT-SIZE=150%;
	MARGIN-TOP=0em;
}

A {
	FONT-FAMILY=Verdana, Lucida, Arial, Helvetica, sans-serif;
	COLOR=#003399;
	TEXT-DECORATION=none;
}

A:hover {
	COLOR=#006633;
	TEXT-DECORATION=underline;
}

.eclass {
    COLOR=#0000AA;
}

.neclass {
    COLOR=black;
}

.ekeyword {
    COLOR=navy;
}

.esymbol {
    COLOR=navy;
}

.eitag {
    COLOR=sienna;
}

.estring {
    COLOR=indigo;
}

.echar {
    COLOR=indigo;
}

.enumber {
    COLOR=indigo;
}

.etag {
    COLOR=sienna;
}

.efeature {
    COLOR=darkgreen;
}

.nefeature {
    COLOR=black;
}

.ecomment {
    COLOR=#990000;
}

.elocal, .equoted {
    COLOR=darkgreen;
    FONT-STYLE=italic;
}

.ereserved {
    COLOR=darkgreen;
}

.egeneric {
    COLOR=dodgerblue;
}

.ecluster {
    COLOR=maroon;
    FONT-VARIANT=small-caps;
}

.necluster {
    COLOR=black;
    FONT-VARIANT=small-caps;
}

.link1 {
	BACKGROUND-COLOR=#006633;
	COLOR=white;
}

.link2 {
	BACKGROUND-COLOR=#330066;
	COLOR=white;
}

.nolink1, .nolink2 {
	BACKGROUND-COLOR=#FFCC00;
	COLOR=#330066;
}

.seealso {
	MARGIN-LEFT=1em;
	MARGIN-TOP=1em;
	BACKGROUND-COLOR=#EDEFDD;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}

.note {
	MARGIN-TOP=1em;
	MARGIN-BOTTOM=1em;
	BACKGROUND-COLOR=#FFECDD;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}

.tip {
	MARGIN-TOP=1em;
	MARGIN-BOTTOM=1em;
	BACKGROUND-COLOR=#EDECEF;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}

.warning {
	MARGIN-TOP=1em;
	MARGIN-BOTTOM=1em;
	BACKGROUND-COLOR=#FFECEF;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}

.figuretitle {
	MARGIN_TOP=.5em;
	MARGIN_BOTTOM=3em;
	FONT-WEIGHT=bold;
}