

/* Custom */

.less.active {
	.button-read-more {
    	display: none;
	}
	.button-read-less {
		display: block;
	}
}
.button-read-less {
    display: none;
}
.more {
    margin-top: 10px;
	table {
		margin: 0;
		padding: 0;
	}
}

/* Link */

a.link-options {
  color: white;
  &:hover {
	  color: black;
  }
}  

a.link-platforms {
  color: #191922;
  &:hover {
	  color: black;
  }
}  

/* Welcome message */
#block-front_header_welcome {
	.holder {
		@include grid-width(6);
		padding: 0;
		@include border-radius($front-box-radius);
		border: 1px solid #fff;
		background-color: $front-box-bg-color;
		height: 115px;
		h3 {
			padding: 10px;
			text-align: center;
		}
	}
}

#primary-tabs {
	ul.horizontal {
		list-style-type: none;
		li {
			display: inline;
			padding: 2px 5px;
			border: solid 1px #ccf;
		}
		li.active {
			border-color: #99f #99f #ddd;
			border-style: solid solid none;
			border-width: 2px 1px 0;
			padding: 2px 7px 1px;
		}
	}
}

#message li.error {
	background-color: #f99;
	border: solid 1px red;
	padding: 5px 2px 5px 2px;
}
div.cms-node {
	.info {
		display: none;
	}
}

