$wdocs-color: #112935;
$wdocs-border-color: #ccc;
$wdocs-bg-color: #fff;
$wdocs-link-color: $base-link-color;
$wdocs-link-h-color: $base-link-h-color;
$wdocs-nav-color: $base-link-color;
$wdocs-nav-bg-color: #ddd;
$wdocs-tree-arrow: #777;
$wdocs-tree-arrow-light: #ddd;
$wdocs-tree-arrow-hover: #999;
$wdocs-fade: #999;
