div.shop-cart {
	position: relative;

	button.remover {
	}
	table.shop-cart {
		background-color: #fff;
		outline: solid 1px #ccc;
		outline-offset: .5rem;
		padding: 1rem;
		margin-bottom: 2rem;
		width: 100%;
		border-collapse: collapse;
		thead th {
			padding: 1rem;
			border-bottom: solid 1px #888;
			text-align: left;
			font-weight: bold;
		}
		tr.cart-item {
			td {
				border-top: solid 1px #cccccccc;
				padding: .5rem;
			}
			td.cart-item-code {
				width: 25%;
				font-weight: bold;
				color: black;
			}
			td.cart-item-provider {
				width: 25%;
				font-style: italic;
			}
			td.cart-item-count {
				width: 15%;
				color: green;
			}
		}
	}
	a.cart-reset {
		position: absolute;
		right: 5px;
		&:before {
			content: "❌";
		}
	}
}
