#define ID_ICO_APPLICATION		1

#define IDB_FOLDER_NORMAL		401
#define IDB_FOLDER_SELECTED		402
#define IDB_DOCUMENT_NORMAL		403
#define IDB_DOCUMENT_SELECTED	404

ID_ICO_APPLICATION ICON "treeview_demo.ico"

IDB_FOLDER_NORMAL		BITMAP folder_n.bmp
IDB_FOLDER_SELECTED		BITMAP folder_s.bmp
IDB_DOCUMENT_NORMAL		BITMAP doc_n.bmp
IDB_DOCUMENT_SELECTED	BITMAP doc_s.bmp
