<?xml version="1.0"?>
<ewg_config name="wrapc_testing">

  <rule_list>
 
    <!-- Enable it if you want to generate a different number of callbacks per type  -->
    <rule>
      <match>
          <identifier name="_.*"/>  
      </match>
       <wrapper type="none">
      </wrapper>
    </rule>

 
    <rule>
      <match>
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>
 

 </rule_list>

</ewg_config>