body {
  margin: 5px 2px 5px 2px;
  background-color: #ddddff;
  background: #a7cfdf;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a7cfdf), color-stop(100%, #23538a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #a7cfdf 0%, #23538a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
  /* IE6-9 */
  background-attachment: fixed;
}

div#enter-box {
  text-align: center;
  font-size: 160%;
  margin: 0 auto 0 auto;
  border: solid 1px #23538a;
  background-color: #ccf;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}
div#enter-box:hover {
  background-color: #23538a;
}
div#enter-box:hover a {
  color: #fff;
}

div#welcome-box {
  text-align: left;
  font-size: 120%;
  margin: 0 auto 0 auto;
  border: solid 1px #ccc;
  background-color: #cedbc3;
  width: 100%;
  padding: 20px 10px 20px 10px;
}

div#page {
  margin: auto;
  max-width: 900px;
  height: auto;
  border-left: solid 1px #ccf;
  border-right: solid 1px #ccf;
  background-color: #fff;
}

div#main {
  padding: 5px 5px 5px 15px;
}

div#header {
  -webkit-border-radius: 20px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius: 20px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomright: 0;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 140%;
  border: solid 1px #23538a;
  color: #fff;
  background-color: #23538a;
  text-align: center;
  position: relative;
  margin-top: 30px;
  top: -20px;
}

div#footer {
  -webkit-border-radius: 20px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 20px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: dotted 1px #cfcfdf;
  background-color: #cfcfdf;
  text-align: center;
  min-height: 40px;
  padding: 5px;
  position: relative;
  bottom: -20px;
}

ul {
  padding-left: 30px;
}
ul li.package {
  list-style: none;
  border-top: solid 1px #dedede;
  border-left: solid 1px #dedede;
  padding: 4px 5px 5px 4px;
  margin-bottom: 5px;
}
ul li.package div.description, ul li.package div.archive {
  padding-left: 25px;
}
ul li.package:hover {
  padding: 3px 3px 3px 3px;
  border: solid 2px #00f;
}

.error {
  width: 80%;
  background-color: #fcc;
  padding: 20px;
}

.warning {
  width: 80%;
  background-color: #fda;
  padding: 20px;
}

.dialog.message {
  border: solid 1px #aa6;
  margin: 5px auto 5px auto;
  padding: 10px;
  width: 80%;
  background-color: #ffc;
}

span.packageid {
  float: right;
  font-style: italic;
  color: #ccc;
  position: relative;
  bottom: 1em;
}

p.description {
  padding: 10px 0px 10px 0;
}

p.howto {
  font-family: Lucida Console, Verdana, Arial;
  background-color: black;
  color: yellow;
  border: solid 3px #ddd;
  border-top: solid 10px #ddd;
  margin-left: 30px;
  padding: 15px;
}

ul.menu {
  list-style-type: none;
}
ul.menu li {
  display: inline;
  border: solid 1px #900;
  padding: 2px 5px 2px 5px;
}
ul.menu li:hover {
  background-color: #FF9;
}

.package-index li {
  border: solid 1px #ddd;
  padding: 2px 2px 2px 15px;
}
.package-index li.package-folder-inline {
  border-left: solid 10px #ddf;
  padding: 2px 2px 2px 5px;
  background-color: #fafaff;
}
.package-index li.package-folder-inline:after {
  content: " ...";
}
.package-index li .packageid {
  display: none;
}

/* Bootstrap */
span.badge a {
  color: white;
}

ul.sorters {
  text-align: right;
  list-style-type: none;
}
ul.sorters li {
  display: inline;
  border: solid 1px #ddf;
  margin: 2px 3px 2px 3px;
  padding: 2px 5px 2px 5px;
}
ul.sorters li:hover {
  background-color: #ddf;
}
ul.sorters li.active {
  border: solid 1px #669;
}

.iron-tooltip {
  display: inline;
  position: relative;
}
.iron-tooltip:hover:after {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(title);
  right: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}
.iron-tooltip:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  right: 50%;
  position: absolute;
  z-index: 99;
}
