body {
background-color: linen;
font-family: arial, helvetica;
font-size: small; 
margin-left: 0;
margin-top: 0;

	}

P,UL,OL,TABLE {
font-family: Arial, Helvetica;
font-size: small;
}

PRE {
font-family: Courrier;
font-size: x-small;
}

LI {
	font-family: Arial, Helvetica;
	font-size: x-small;
	}

LI.small {
	margin-top: 0;
	}
		
H5 {
font-size: x-large;
font-family: arial, helvetica;
color: white;
background: teal;
}

H1 {
font-family: arial, helvetica;
font-size: x-large;
font-weight: bold;
color: "AA0000";
background-repeat: repeat-x, repeat-y;
}

H2 {
font-family: arial, helvetica;
font-size: medium;
font-weight: bold;
color: navy;
}

H3 {
font-family: arial, helvetica;
font-size: medium;
}


SPAN.emphasis {
font-weight: bold;
color: 007700;
}

SPAN.eiffelid {
font-style: italic;
color: 0000a0;
}

SPAN.eiffelkeyword {
font-weight: bold;
color: 0000a0;
}
