$ninesixty-class-separator: "_" !default;
$ninesixty-columns: 12 !default;
// Fixed grid variables
$ninesixty-grid-width: 1020px !default;
$ninesixty-gutter-width: 20px !default;
$base-text-color: #000000;
$base-background-color: #f0f3f5;
$base-link-color: #5082D9;
$base-link-color2: #000000;
$base-link-h-color: #3498db;
$base-form-text-color: black;
$base-form-placeholder-color: #999999;
$base-input-border-color: #999999;
$base-font-size: 16px;
$base-line-height: 24px;
$base-font-family: 'Open Sans', Arial, Helvetica, sans-serif;
$base-from-family: Arial, Helvetica, sans-serif;
$footer-bg-color: #4c6877;
$footer-text-color2: #abc4d4;
$footer-text-color: #6d8083;
$footer-link-color: #abc4d4;
$footer-link-h-color: #fff;
$museo-sans500: 'museo_sans500', Arial, Helvetica, sans-serif;
$museo_slab500: 'museo_slab500', Arial, Helvetica, sans-serif;
$base-min-width: 1020px;
$base-h1-size: 36px;
$base-h1-lineheight: 36px;
$base-h2-size: 28px;
$base-h2-lineheight: 28px;
$base-h3-size: 24px;
$base-h3-lineheight: 24px;
$base-date-size: 12px;
$base-footer-size: 13px;
$green-light: #99cc33;
$green-light-bg: #d4ebb0;
$white: white;
$green: #0fa096;
$green-lt: #1da699;
$yellow-lt: #c7ec7e;
$blue: #1f3d4d;
$blue-light: #4c6877;
