#include <windows.h>

#define DLG_LINE_THICKNESS	1
#define IDC_EDIT_WIDTH		101
#define MAIN_MENU_ID		1
#define CMD_NEW			101
#define CMD_OPEN		102
#define CMD_SAVE		103
#define CMD_EXIT		104
#define CMD_LINE_THICKNESS	105

DLG_LINE_THICKNESS DIALOG 98, 38, 124, 49
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Line thickness"
FONT 8, "MS Sans Serif"
{
	LTEXT "&Width", -1, 9, 12, 22, 8
	EDITTEXT IDC_EDIT_WIDTH, 9, 22, 30, 12, WS_BORDER | WS_GROUP | WS_TABSTOP
	DEFPUSHBUTTON "OK", IDOK, 65, 8, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 65, 26, 50, 14, WS_GROUP | WS_TABSTOP
}

MAIN_MENU_ID MENU
{
	POPUP "&File"
	{
		MENUITEM "&New", CMD_NEW
		MENUITEM "&Open...", CMD_OPEN
		MENUITEM "&Save...", CMD_SAVE
		MENUITEM SEPARATOR
		MENUITEM "E&xit", CMD_EXIT
	}
	POPUP "&Line"
	{
		MENUITEM "Line &thickness...", CMD_LINE_THICKNESS
	}
}
