#include <windows.h>

#define ID_BMP_ISE_LOGO 	1

#define ID_ICO_APPLICATION	1
#define ID_ICO_ARTIST		2

#define ID_CUR_INVISIBLE	1

#define ID_DIALOG		1

#define CMD_EXIT		1000

ID_ICO_APPLICATION ICON "fun_demo.ico"
ID_ICO_ARTIST ICON "artist.ico"

ID_BMP_ISE_LOGO BITMAP "iselogo.bmp"

ID_CUR_INVISIBLE CURSOR "invisibl.cur"

ID_DIALOG DIALOG 28, 23, 246, 139
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
{
	CTEXT "Application Error", -1, 95, 9, 56, 9
	PUSHBUTTON "Close", IDOK, 98, 103, 50, 19
	CTEXT "KERNEL.EXE caused a Page Fault in", -1, 39, 27, 167, 8
	CTEXT "module <unknown> V|CI33DF:8059EBA will close", -1, 40, 53, 165, 14
}
