BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	MARGIN: 0px 0px 0px 0px;
	WIDTH: 100%;
	FONT-SIZE: 70%;
}
TABLE {
	MARGIN: 15px 0px 15px 0px;
	PADDING: 0px 0px 0px 0px;
	FONT-SIZE: 100%; /* That's 100% of 70% */
}
TABLE.FRAME {
	MARGIN: 0em .5em 0em .5em;
}
TABLE.HEADER {
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-BOTTOM-STYLE: solid;
	BORDER-COLOR: #9999AA;
	WIDTH: 100%;
	BACKGROUND: #EEEDDE;
	MARGIN: 0px 0px 0px 0px;
}

TABLE.FOOTER {
	BORDER-TOP-WIDTH: 1px;
	BORDER-TOP-STYLE: solid;
	BORDER-COLOR: #9999AA;
	WIDTH: 100%;
}

TABLE.WITHBORDER {
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #9999AA;
	WIDTH: 100%;
}

OL, UL {
	MARGIN-TOP: .5em;
	MARGIN-BOTTOM: 2em; 
}

LI {
	MARGIN-BOTTOM: .5em;
}

PRE, CODE, .CODE {
	FONT: Courier New, Courier, mono;
	MARGIN-TOP: .7em;
	MARGIN-BOTTOM: .7em;
	MARGIN-LEFT: .7em;
	PADDING-LEFT: .5em;
	PADDING-RIGHT: .5em;
	PADDING-TOP: .5em;
	PADDING-BOTTOM: .5em;
	BACKGROUND: #EFEEDF;
	WIDTH: 90%;
}
SPAN, DIV {
	PADDING-BOTTOM: 0.4mm; 
}
TR.TITLE, TH {
	HEIGHT: 2em;
	BACKGROUND: #DDDCCD;
	FONT: bold;
}
TD.HEADER {
	FONT: italic;
	color: Gray;
}
TD.SUBHEADER {
	FONT: 150% BOLD;
	COLOR: Navy;
}
IMG {
	BORDER: none; 
}
P {
	MARGIN: .5em 0em .5em 0em;
}
P.jj-small {
	TEXT-ALIGN: justify;
	TEXT-INDENT: 0pt;
	MARGIN-TOP: 4pt;
	MARGIN-BOTTOM: 4pt;
	MARGIN-RIGHT: 85pt;
	MARGIN-LEFT: 28.3pt;
	FONT-SIZE: 90%;
	FONT-STYLE: italic;
}

SPAN.italics {
	FONT-STYLE: italic;
}

SPAN.bold {
	FONT-WEIGHT: bold;
}

H1, H2, H3, H4 {
	MARGIN-BOTTOM: .4em; 
	MARGIN-TOP: 1em;
	FONT-WEIGHT: bold;
}
H1 {
	FONT-SIZE: 120%;
	MARGIN-TOP: 0em;
}

H2 {
	COLOR: #EEEEFF;
	BACKGROUND: #0066AA;
	FONT-SIZE: 110%;
	PADDING: 1px 6px;
	MARGIN-BOTTOM: .5em;
}

H3 {
	FONT: bold; 
	TEXT-DECORATION: none
}
A {
	COLOR: #003399;
}
A:hover {
	COLOR: #006633;
}
BLOCKQUOTE {
	color:c90000;
	font-style: Italic;
}

A.class, .eclass, .class {
    COLOR: #0000AA;
	FONT-FAMILY: Courier New, Courier, mono;
	text-decoration: none;
}
A.class:hover{
	COLOR: #0000AA;
	FONT-FAMILY: Courier New, Courier, mono;
	text-decoration:underline;
}

.ekeyword, .keyword {
    COLOR: navy;
	FONT-FAMILY: Courier New, Courier, mono;
	FONT-WEIGHT: bold;
}
A.symbol, .esymbol, .symbol {
    COLOR: navy;
	FONT-FAMILY: Courier New, Courier, mono;
	text-decoration:none;
}
A.symbol:hover{
    COLOR: navy;
	FONT-FAMILY: Courier New, Courier, mono;
	text-decoration: underline;
}
.eitag, .itag {
    COLOR: #A0522D;
	FONT-FAMILY: Courier New, Courier, mono;
}
.estring, .string {
    COLOR: #4B0082;
	FONT-FAMILY: Courier New, Courier, mono;
}
.echar, .char {
    COLOR: #4B0082;
	FONT-FAMILY: Courier New, Courier, mono;
}

.enumber, .number {
    COLOR: #4B0082;
	FONT-FAMILY: Courier New, Courier, mono;
}
.etag, .tag {
    COLOR: #A0522D;
	FONT-FAMILY: Courier New, Courier, mono;
}
A.feature, .efeature, feature {
    COLOR: #006400;
	FONT-FAMILY: Courier New, Courier, mono;
	text-decoration:none;
}
A.feature:hover{
    COLOR: #006400;
	FONT-FAMILY: Courier New, Courier, mono;
	text-decoration:underline;
}
.ecomment, .comment {
    COLOR: #990000;
	FONT-FAMILY: Courier New, Courier, mono;
}
.equoted, .quoted{
    COLOR: #006400;
    FONT-STYLE: italic;
	FONT-FAMILY: Courier New, Courier, mono;
}
.elocal, .local, {
	FONT-FAMILY: Courier New, Courier, mono;
}
.egeneric, .generic {
    COLOR: #1E90FF;
	FONT-FAMILY: Courier New, Courier, mono;
}
.ecluster, .cluster {
    COLOR: maroon;
    FONT-VARIANT: small-caps;
}
.seealso {
	MARGIN-LEFT: 1em;
	MARGIN-TOP: 1em;
	BACKGROUND-COLOR: #EDEFDD;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}
.note {
	MARGIN-TOP: 1em;
	MARGIN-LEFT: 1em;
	BACKGROUND-COLOR: #FFECDD;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}
.tip {
	MARGIN-TOP: 1em;
	MARGIN-LEFT: 1em;
	BACKGROUND-COLOR: #EDECEF;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}

.warning {
	MARGIN-TOP: 1em;
	MARGIN-LEFT: 1em;
	BACKGROUND-COLOR: #FFECEF;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}
.figuretitle {
	MARGIN-TOP: .5em;
	MARGIN-BOTTOM: 3em;
	FONT-WEIGHT: bold;
}
.sample {
	MARGIN-LEFT: 1em;
	MARGIN-TOP: 1em;
	BACKGROUND-COLOR: #EDEFFD;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}

.navigation
{
	text-decoration:none;
	text-align: right;
	COLOR: #0000AA;
}