.gcse_searchresults {
	border: solid 1px green;

	a {
		text-decoration: underline !important;
	}
	table {
		border: none !important;
		border-collapse: separate !important;
		table-layout: auto;
	}
	td {
		border: none !important;
	}
}
