ul.cms_blog_nodes{

	padding:0;
	margin:0;

	li.cms_type_blog{
		list-style: none;
		display: block;
		margin-top:20px;
		padding-bottom:20px;
		border-bottom:1px dotted black;

		.blog_title a{
			color:black;
			font-size:18px;
			text-decoration: none;
			display:block;
			margin:6px 0;

			&:hover{
				color:#999;
			}
		}

		.blog_list_summary a{
			margin-top:20px;
			display:block;
		}
	}
}