div.comments-box {
	div.title {
		font-size: x-large;
	}
	ul.comments {
		border-top: solid 1px #eee;
		padding: 0 0 0 20px;
		border-left: solid 5px #eee;
		list-style-type: none;
		li.comment {
			border-bottom: solid 1px #eee;
			&>span.author { font-weight: bold; }
			&>span.info { font-style: italic; }
		}
	}

}
