#include <windows.h>

#define MAIN_DIALOG		1
#define IDC_FONT_LIST_BOX	101
#define IDC_EDIT		102
#define IDC_EDIT_SIZE		103
#define IDC_CLOSE_BUTTON	104

1 ICON "fontenum_demo.ico"

MAIN_DIALOG DIALOG 10, 24, 310, 124
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "WEL Font Enumeration"
FONT 8, "MS Sans Serif"
{
 LISTBOX IDC_FONT_LIST_BOX, 5, 5, 96, 113, LBS_STANDARD | WS_GROUP | WS_TABSTOP
 CONTROL "Text sample.", IDC_EDIT, "EDIT", ES_MULTILINE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_GROUP | WS_TABSTOP, 111, 5, 139, 114
 LTEXT "&Size", -1, 258, 3, 19, 8
 CONTROL "30", IDC_EDIT_SIZE, "EDIT", WS_BORDER | WS_GROUP | WS_TABSTOP, 258, 12, 18, 12
 PUSHBUTTON "&Close", IDC_CLOSE_BUTTON, 256, 107, 50, 14, WS_GROUP | WS_TABSTOP
}
