BODY {
	font-family: Trebuchet MS, Verdana, Lucida, Arial, Helvetica, Sans-serif;
	text-align: justify;
	width: 780px;
	background: white;
	color: #2a2a2a;
	margin:5px 5px 5px 5px;
	padding:0px 0px 0px 0px;
}

TABLE {
	background-color: #ffffff;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0px;
	font-size: 80%;
	MARGIN:5px 5px 5px 5px;
	PADDING:0px 0px 0px 0px;
	COLOR:#000000;
}

TD, TR {
	PADDING-BOTTOM:0.4mm; 
	border: 1px solid black;
}

TH {
	PADDING-BOTTOM:0.4mm; 
	BACKGROUND: #EEEDDE;
	border: 1px solid black;
}

OL, UL {
	MARGIN-TOP:.5em;
	MARGIN-BOTTOM:2em; 
}

LI {
	font-size: 100%;
	margin-bottom: 10px;
}

UL {
	MARGIN-TOP:.5em;
}

PRE, CODE, .code {
	font-family: Arial, Helvetica;
	text-align: justify;
	font-size: 100%;
	font-weight: Regular;
	color: #2222AA;
	background:#EFEEDF;
	WIDTH: 90%;
	margin:5px 5px 5px 5px;
	padding:5px 5px 5px 5px;
	border: 1px solid #888888;
}

IMG 
{
	BORDER:none; 
}

P 
{
	text-align: justify;
}



H3 {
	color: #333333;
	font-size: 110%;
	font-weight: bold;
	margin: 0pt;
	padding-bottom: 4px;
}

H2 {
	color: #388c00;
	font-size: 125%;
	font-weight: bold;
	margin: 0pt;
	padding-bottom: 4px;
	border-color: #777777;
	border-style: none;
	border-width: 0px;
}


H1 {
	color: #388c00;
	font-size: 200%;
	font-weight: bold;
	margin-bottom: 20pt;
	padding-bottom: 4px;
	border-color: #777777;
	border-style: none;
	border-width: 0px:
}

A {
	FONT-FAMILY:Verdana, Lucida, Arial, Helvetica, sans-serif;
	COLOR:#003399;
	TEXT-DECORATION:none;
}

A:active {
	text-decoration: underline;
}

A:visited {
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
}


/*Code element classes*/


.string {
    color:#ff4040;
}

.keyword {
    color:#ff4040;
    font-weight: bold;
}

.comment {
    color:#990000;
    font-size: 90%;
}


/*Content Template classes*/


.seealso {
	MARGIN-LEFT:1em;
	MARGIN-TOP:1em;
	BACKGROUND-COLOR:#EDEFDD;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}

.note {
	MARGIN-TOP:1em;
	MARGIN-LEFT:1em;
	BACKGROUND-COLOR:#FFECDD;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}

.tip {
	MARGIN-TOP:1em;
	MARGIN-LEFT:1em;
	BACKGROUND-COLOR:#EDECEF;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}

.warning {
	MARGIN-TOP:1em;
	MARGIN-LEFT:1em;
	BACKGROUND-COLOR:#FFECEF;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}

.sample {
	MARGIN-LEFT:1em;
	MARGIN-TOP:1em;
	BACKGROUND-COLOR:#EDEFFD;
	BORDER-WIDTH: 1px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #999999;
	PADDING: 4px 8px;
}

.info
{
	display: block;
	text-align: justify;
	text-indent: 0pt;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	background:#FFFBE8;
	margin:5px 5px 5px 5px;
	padding:5px 5px 5px 5px;
	font-size:100%;
	border: 1px solid #888888;
}
