div.user-view-cloud-box {
	border: solid 1px #ccc;
	padding: 1em;
	&:hover {
		border: solid 1px #00f;
		background-color: #eee;
	}
}

.es-billing table {
	background-color: #fefefe;
	border: solid 1px #000;
	th {
		background-color: #fcfcfc;
	}
	td,th {
		border-bottom: 1px solid #ddd;
		padding: 0 1rem 0 1rem;
	}
}
