/* doc specific */

#content.documentation {
  overflow:visible;
  width: 615px;
}
#content.documentation .holder {
  width: 615px;
}
#content .head {
  color: #13a69a;
  padding: 0 50px 0 0;
  margin: 0 0 28px;
}

div.cache-info {
  float: right;
  font-style: italic;
}

#wdocs-tree.menu ul {
	list-style-type: none;
	padding-left: 1em;
}
#wdocs-tree.menu ul li {
	padding: 0;
}

#wdocs-tree.menu li.active {
	font-weight: bold;
	border-right: solid 2px #ccc;
}
#wdocs-tree.menu li.active li {
	font-weight: normal;
	border-right: dotted 2px #eee;
}

#wdocs-tree.menu li.expandable:not(.expanded) li {
	border-left: dotted 4px red;
	display: none;
}
#wdocs-tree.menu li.expandable.expanded>a {
	font-weight: bold;
}

//#wdocs-tree.menu li:not(.expandable)>a:before {
	//content: "- ";
//}

//#wdocs-tree.menu li.expandable:not(.expanded)>a:before {
	//content: "[>] "
//}
//#wdocs-tree.menu li.expandable.expanded>a:before {
	//content: "[V] "
//}

