<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="XebraHandlerXEB" path="*.xeb" verb="*" type="Xebra.XHandler" resourceType="Unspecified" preCondition="integratedMode" />
            <add name="XebraHandlerXRPC" path="*.xrpc" verb="*" type="Xebra.XHandler" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.xeb" />
                <add value="index.xrpc" />
            </files>
        </defaultDocument>
    </system.webServer>
    <appSettings>
        <add key="XebraServerPort" value="55001" />
        <add key="XebraServerHost" value="127.0.0.1" />
        <add key="MaxUploadSize" value="1000000" />
        <add key="UploadSavePath" value="c:\tmp" />
    </appSettings>
</configuration>
